In [1]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@3757f9e7

org.apache.spark.sql.SparkSession@3757f9e7

In [ ]:
%%sql

DROP DATABASE IF EXISTS itversity_sms CASCADE

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_sms

In [ ]:
%%sql

USE itversity_sms

In [ ]:
%%sql

CREATE TABLE students(
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS TEXTFILE
ROW FORMAT
    DELIMITED FIELDS TERMINATED BY '\t'
    COLLECTION ITEMS TERMINATED BY ','

In [ ]:
%%sql
DESCRIBE students

In [ ]:
%%sql

INSERT INTO students VALUES(1,'Scott','Tiger',NULL,NULL)

In [ ]:
%%sql 

SELECT * FROM students

In [ ]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)

In [ ]:
%%sql 

SELECT * FROM students

In [ ]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

In [ ]:
%%sql 

SELECT * FROM students

In [ ]:
val username = System.getProperty("user.name")

In [ ]:
import sys.process._
s"hdfs dfs -ls /user/${username}/warehouse/${username}_sms.db/students"!

In [ ]:
s"hdfs dfs -cat /user/${username}/warehouse/${username}_sms.db/students/*"!

In [ ]:
spark.sql("DROP DATABASE IF EXISTS itversity_sms CASCADE")

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS itversity_sms")

In [ ]:
spark.sql("USE itversity_sms")

In [ ]:
spark.sql("DROP TABLE IF EXISTS students")

In [ ]:
spark.sql("""
CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS TEXTFILE
ROW FORMAT
    DELIMITED FIELDS TERMINATED BY '\t'
    COLLECTION ITEMS TERMINATED BY ','
    MAP KEYS TERMINATED BY ':'
""")

In [ ]:
spark.sql("INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)")

In [ ]:
spark.sql("INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)")

In [ ]:
spark.sql("""
INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))
""")

In [ ]:
spark.sql("SELECT * FROM students")

In [ ]:
%%sql

SHOW CREATE TABLE students

### Adding comments

In [ ]:
%%sql

use itversity_retail

In [ ]:
%%sql

drop table if exists orders

In [ ]:
%%sql

CREATE TABLE orders(
    order_id INT COMMENT 'Unique order id',
    order_date STRING COMMENT 'Date on which order is placed',
    order_customer_id INT COMMENT 'Customer id who placed the order',
    order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'

In [ ]:
spark.sql("USE itversity_retail")

In [ ]:
spark.sql("DROP TABLE orders")

In [ ]:
spark.sql("""
CREATE TABLE orders (
  order_id STRING COMMENT 'Unique order id',
  order_date STRING COMMENT 'Date on which order is placed',
  order_customer_id INT COMMENT 'Customer id who placed the order',
  order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'
""")

In [ ]:
%%sql

DESCRIBE orders

In [ ]:
%%sql

DESCRIBE FORMATTED orders

In [ ]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false) // Scala

### Loading Data into Tables - Local

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

DROP TABLE orders

In [ ]:
%%sql

CREATE TABLE orders(
    order_id INT comment 'Unique order id',
    order_date STRING comment 'Date on which order is placed',
    order_customer_id int comment 'Customer id who placed the order',
    order_status string comment 'Current status of the order'
) COMMENT 'Table to save order level details'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' INTO TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

SELECT count(1) FROM orders

## Loading Data into Tables - HDFS

In [ ]:
import sys.process._

val username = System.getProperty("user.name")

In [ ]:
s"hadoop fs -rm -R /user/${username}/retail_db/orders"!

In [ ]:
s"hadoop fs -mkdir  /user/${username}/retail_db"!

In [ ]:
s"hadoop fs -put -f /data/retail_db/orders  /user/${username}/retail_db"!

In [ ]:
s"hadoop fs -ls -h /user/${username}/retail_db/orders"!

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

select * from orders

In [ ]:
%%sql

TRUNCATE TABLE orders

In [ ]:
%%sql

LOAD DATA INPATH '/user/itversity/retail_db/orders' into table orders

In [ ]:
s"hadoop fs -ls /user/${username}/warehouse/${username}_retail.db/orders"!

In [ ]:
s"hadoop fs -ls /user/${username}/retail_db/orders"!

In [ ]:
spark.sql("select count(1) from ORDERS").show()

In [ ]:
s"hadoop fs -rm -R /user/${username}/retail_db/orders"!

In [ ]:
s"hadoop fs -mkdir  /user/${username}/retail_db"!

In [ ]:
s"hadoop fs -put /data/retail_db/orders /user/${username}/retail_db"

In [ ]:
s"hadoop fs -put -f /data/retail_db/orders /user/${username}/retail_db" !

In [ ]:
spark.sql("USE itversity_retail")

In [ ]:
spark.sql("TRUNCATE TABLE orders")

In [ ]:
spark.sql("""
LOAD DATA INPATH '/user/itversity/retail_db/orders' 
  INTO TABLE orders""")

In [ ]:
s"hadoop fs -ls /user/${username}/retail_db/orders" !

In [ ]:
spark.sql("SELECT * FROM orders LIMIT 10").show()

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

## Loading Data - Append and Overwrite

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
%%sql 

LOAD DATA LOCAL INPATH '/data/retail_db/orders' INTO TABLE orders

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  OVERWRITE INTO TABLE orders

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
%%sql

SELECT count(1) FROM orders

In [ ]:
spark.sql("USE itversity_retail")

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("""
LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  INTO TABLE orders
""")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
spark.sql("""
LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  OVERWRITE INTO TABLE orders
""")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

In [ ]:
s"hdfs dfs -rm -R /user/${username}/external/retail_db/orders"!

In [ ]:
s"hdfs dfs -mkdir -p /user/${username}/external/retail_db/orders"!

In [ ]:
import sys.process._

val username = System.getProperty("user.name")

In [ ]:
%%sql

CREATE EXTERNAL TABLE orders(
    order_id INT COMMENT 'Unique order id',
    order_date STRING COMMENT 'Date on which order is placed',
    order_customer_id INT COMMENT 'Customer id who placed the order',
    order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/user/itversity/external/retail_db/orders'

In [ ]:
s"hdfs dfs -ls /user/${username}/external/retail_db/orders"!

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' INTO TABLE orders

In [ ]:
%%sql

SELECT COUNT(1) FROM orders

In [ ]:
%%sql

select * from orders limit 10

In [ ]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false)

In [ ]:
spark.sql("DESCRIBE FORMATTED order_items").show(200, false)

## Managed Tables vs. External Tables

In [ ]:
%%sql

USE itversity_retail

In [ ]:
%%sql

show tables

In [ ]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false)

In [ ]:
%%sql

TRUNCATE TABLE orders

In [ ]:
%%sql

show tables

In [ ]:
spark.sql("DESCRIBE FORMATTED order_items").show(200, false)

In [ ]:
%%sql

TRUNCATE TABLE order_items

In [ ]:
%%sql

SELECT COUNT(1) FROM orders

In [ ]:
%%sql

SELECT COUNT(1) FROM order_items

In [ ]:
%%sql

DROP TABLE orders

In [ ]:
import sys.process._

s"hdfs dfs -ls /user/${username}/external/retail_db/orders" !

In [ ]:
import sys.process._

s"hdfs dfs -ls /user/${username}/warehouse/itversity_retail.db" !

In [ ]:
%%sql

DROP TABLE order_items

In [ ]:
import sys.process._

s"hdfs dfs -ls /user/${username}/warehouse/itversity_retail.db" !

In [ ]:
%%sql

CREATE EXTERNAL TABLE orders(
    order_id INT COMMENT 'Unique order id',
    order_date STRING COMMENT 'Date on which order is placed',
    order_customer_id INT COMMENT 'Customer id who placed the order',
    order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/user/itversity/external/retail_db/orders'

In [ ]:
%%sql

SELECT COUNT(1) FROM orders

In [ ]:
%%sql

SELECT COUNT(1) FROM orders

## Overview of File Formats

In [ ]:
%%sql

DROP DATABASE IF EXISTS itversity_sms CASCADE

In [ ]:
%%sql
CREATE DATABASE IF NOT EXISTS itversity_sms

In [ ]:
%%sql

USE itversity_sms

In [ ]:
%%sql

CREATE TABLE students(
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
)stored as parquet

In [ ]:
%%sql
INSERT INTO students values (1,'Scott','Tiger', NULL, NULL)

In [ ]:
%%sql

INSERT INTO students VALUES(2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'),NULL)

In [ ]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

In [ ]:
%%sql

CREATE EXTERNAL TABLE students2(
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
)
STORED AS PARQUET
LOCATION '/user/itversity/external/sms_db/students2/'

In [ ]:
%%sql
INSERT INTO students2 values (1,'Scott','Tiger', NULL, NULL)

In [ ]:
%%sql

INSERT INTO students2 VALUES(2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'),NULL)

In [ ]:
%%sql

INSERT INTO students2 VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

In [ ]:
import sys.process._
val username = System.getProperty("user.name")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_sms.db/students"!

In [ ]:
s"hdfs dfs -ls /user/${username}/external/sms_db/students2"!

In [ ]:
%%sql

select count(1) from students

In [ ]:
%%sql

select count(1) from students2

In [ ]:
%%sql

insert into students2 select * from students

In [ ]:
s"hdfs dfs -ls /user/${username}/external/sms_db/students2"!

In [ ]:
%%sql

select count(1) from students2

## Dropping Tables and Databases

In [ ]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_retail

In [4]:
%%sql

SHOW databases

+-----------------+
|     databaseName|
+-----------------+
|          default|
|itiversity_retail|
|   itversity_demo|
|  itversity_demo2|
|   itversity_nyse|
| itversity_retail|
|    itversity_sms|
+-----------------+

In [ ]:
%%sql

use itversity_retail

In [ ]:
%%sql

select current_database()

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

In [ ]:
%%sql

CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','

In [ ]:
%%sql

show tables

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders'
  INTO TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

TRUNCATE TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

DROP TABLE IF EXISTS orders

In [ ]:
%%sql

CREATE EXTERNAL TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/user/itversity/external/retail_db/orders'

In [ ]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders'
  OVERWRITE INTO TABLE orders

In [ ]:
%%sql

SELECT * FROM orders LIMIT 10

In [ ]:
%%sql

TRUNCATE TABLE orders

## Managed Tables - Exercise

* Duration: **30 Minutes**
* Data Location (Local): /data/nyse_all/nyse_data
* Create a database with the name - YOUR_OS_USER_NAME_nyse
* Table Name: nyse_eod
* File Format: TEXTFILE (default)
* Review the files by running Linux commands before using data sets. Data is compressed and we can load the files as is.
* Copy one of the zip file to your home directory and preview the data. There should be 7 fields. You need to determine the delimiter.
* Field Names: stockticker, tradedate, openprice, highprice, lowprice, closeprice, volume. For example, you need to use `BIGINT` for volume not `INT`.
* Determine correct data types based on the values
* Create Managed table with default Delimiter.
> As delimiters in data and table are not same, you need to figure out how to get data into the target table.
* Make sure the data is copied into the table as per the structure defined and validate.

In [ ]:
%%sql

CREATE DATABASE itversity_nyse

In [3]:
%%sql

use itversity_nyse

Waiting for a Spark session to start...

++
||
++
++

In [4]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [5]:
import sys.process._

s"hdfs dfs -ls /user/itversity/"!

Found 6 items
drwxr-xr-x   - itversity supergroup          0 2024-01-31 12:56 /user/itversity/.sparkStaging
drwxr-xr-x   - itversity supergroup          0 2024-01-30 08:05 /user/itversity/custom
drwxr-xr-x   - itversity supergroup          0 2024-01-31 10:46 /user/itversity/external
drwxr-xr-x   - itversity supergroup          0 2024-01-31 12:52 /user/itversity/nyse
drwxr-xr-x   - itversity supergroup          0 2024-01-31 12:07 /user/itversity/retail_db
drwxr-xr-x   - itversity supergroup          0 2024-01-31 12:06 /user/itversity/warehouse

warning: there was one feature warning; re-run with -feature for details

0

In [7]:
s"hdfs dfs -put /data/nyse /user/itversity"!

put: `/user/itversity/nyse/companylist_noheader.csv': File exists
put: `/user/itversity/nyse/nyse_data.tar.gz': File exists

warning: there was one feature warning; re-run with -feature for details

1

In [ ]:
s"hdfs dfs -ls -h /user/itversity/nyse"!

In [ ]:
itversity@itvdelab:/data/nyse$ hadoop fs -cat /user/itversity/nyse/nyse_data.tar.gz | gunzip | head
nyse_2009.csv000644 000765 000024 00143612340 12426275613 015600 0ustar00kavithapenmetsastaff000000 000000 A,01-Jan-2009,15.63,15.63,15.63,15.63,0
AA,01-Jan-2009,11.26,11.26,11.26,11.26,0
AAP,01-Jan-2009,33.65,33.65,33.65,33.65,0
AAV,01-Jan-2009,4.21,4.21,4.21,4.21,0
AB,01-Jan-2009,20.79,20.79,20.79,20.79,0
ABB,01-Jan-2009,15.01,15.01,15.01,15.01,0
ABC,01-Jan-2009,17.83,17.83,17.83,17.83,0
ABG,01-Jan-2009,4.57,4.57,4.57,4.57,0
ABM,01-Jan-2009,19.05,19.05,19.05,19.05,0
ABR,01-Jan-2009,2.95,2.95,2.95,2.95,0
cat: Unable to write to output stream.

In [ ]:
s"hadoop fs -cat /user/itversity/nyse/nyse_data.tar.gz | gunzip | head"!

In [7]:
%%sql

CREATE TABLE nyse_eod(
    stockticker STRING, 
    tradedate STRING, 
    openprice DOUBLE, 
    highprice DOUBLE, 
    lowprice DOUBLE, 
    closeprice DOUBLE, 
    volume BIGINT
) ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','

++
||
++
++

In [ ]:
s"hadoop fs -cat /user/itversity/nyse/nyse_data.tar.gz | gzip -d | hadoop fs -put - /user/itversity/nyse/nyse_data.txt"!

In [8]:
%%sql

load data inpath '/user/itversity/nyse/nyse_data.txt' into table nyse_eod

++
||
++
++

In [13]:
%%sql

select count(1) from nyse_eod

+--------+
|count(1)|
+--------+
| 3471693|
+--------+

In [15]:
%%sql 

select * from nyse_eod

|nyse_2009.csv????...|01-Jan-2009|    15.63|    15.63|   15.63|     15.63|     0|
|                 ABB|01-Jan-2009|    15.01|    15.01|   15.0...

+--------------------+-----------+---------+---------+--------+----------+------+
|         stockticker|  tradedate|openprice|highprice|lowprice|closeprice|volume|
+--------------------+-----------+---------+---------+--------+----------+------+
|nyse_2009.csv    ...|01-Jan-2009|    15.63|    15.63|   15.63|     15.63|     0|
|                  AA|01-Jan-2009|    11.26|    11.26|   11.26|     11.26|     0|
|                 AAP|01-Jan-2009|    33.65|    33.65|   33.65|     33.65|     0|
|                 AAV|01-Jan-2009|     4.21|     4.21|    4.21|      4.21|     0|
|                  AB|01-Jan-2009|    20.79|    20.79|   20.79|     20.79|     0|
|                 ABB|01-Jan-2009|    15.01|    15.01|   15.01|     15.01|     0|
|                 ABC|01-Jan-2009|    17.83|    17.83|   17.83|     17.83|     0|
|                 ABG|01-Jan-2009|     4.57|     4.57|    4.57|      4.57|     0|
|                 ABM|01-Jan-2009|    19.05|    19.05|   19.05|     19.05|     0|
|                 ABR|01-Jan-2009|     2.95|     2.95|    2.95|      2.95|     0|
+--------------------+-----------+---------+---------+--------+----------+------+
only showing top 10 rows