## Section 20: Process Semi Structured Data

In [1]:
!ls -ltr ../data/retail_db

total 20156
drwxr-xr-x 2 itv011204 students     4096 Feb 21 09:58 products
drwxr-xr-x 2 itv011204 students     4096 Feb 21 09:58 categories
drwxr-xr-x 2 itv011204 students     4096 Feb 21 09:58 departments
drwxr-xr-x 2 itv011204 students     4096 Feb 21 09:58 orders
drwxr-xr-x 2 itv011204 students     4096 Feb 21 09:58 customers
drwxr-xr-x 2 itv011204 students     4096 Feb 21 09:58 order_items
-rw-r--r-- 1 itv011204 students     1748 Feb 21 10:06 create_db_tables_pg.sql
-rw-r--r-- 1 itv011204 students      806 Feb 21 10:06 README.md
-rw-r--r-- 1 itv011204 students 10303297 Feb 21 10:06 create_db.sql
-rw-r--r-- 1 itv011204 students 10297372 Feb 21 10:06 load_db_tables_pg.sql

In [5]:
!ls -ltr ../data/retail_db_json/

total 28
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 products
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 order_details
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 categories
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 departments
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 orders
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 order_items
drwxr-xr-x 2 itv011204 students 4096 Feb 21 10:06 customers

In [6]:
!ls -ltr ../data/retail_db_json/customers

total 3036
-rwxr-xr-x 1 itv011204 students       0 Feb 21 10:06 _SUCCESS
-rwxr-xr-x 1 itv011204 students 3105168 Feb 21 10:06 part-r-00000-70554560-527b-44f6-9e80-4e2031af5994

In [10]:
!tail -n 5 ../data/retail_db_json/customers/part-r-00000-70554560-527b-44f6-9e80-4e2031af5994

{"customer_id":12431,"customer_fname":"Mary","customer_lname":"Rios","customer_email":"XXXXXXXXX","customer_password":"XXXXXXXXX","customer_street":"1221 Cinder Pines","customer_city":"Kaneohe","customer_state":"HI","customer_zipcode":"96744"}
{"customer_id":12432,"customer_fname":"Angela","customer_lname":"Smith","customer_email":"XXXXXXXXX","customer_password":"XXXXXXXXX","customer_street":"1525 Jagged Barn Highlands","customer_city":"Caguas","customer_state":"PR","customer_zipcode":"00725"}
{"customer_id":12433,"customer_fname":"Benjamin","customer_lname":"Garcia","customer_email":"XXXXXXXXX","customer_password":"XXXXXXXXX","customer_street":"5459 Noble Brook Landing","customer_city":"Levittown","customer_state":"NY","customer_zipcode":"11756"}
{"customer_id":12434,"customer_fname":"Mary","customer_lname":"Mills","customer_email":"XXXXXXXXX","customer_password":"XXXXXXXXX","customer_street":"9720 Colonial Parade","customer_city":"Caguas","customer_state":"PR","customer_zipcode":"00725"}
{"customer_id":12435,"customer_fname":"Laura","customer_lname":"Horton","customer_email":"XXXXXXXXX","customer_password":"XXXXXXXXX","customer_street":"5736 Honey Downs","customer_city":"Summerville","customer_state":"SC","customer_zipcode":"29483"}

In [11]:
!ls -ltr ../data/retail_db_json/orders/

total 7304
-rwxr-xr-x 1 itv011204 students       0 Feb 21 10:06 _SUCCESS
-rwxr-xr-x 1 itv011204 students 7477339 Feb 21 10:06 part-r-00000-990f5773-9005-49ba-b670-631286032674

In [12]:
!tail -n 5 ../data/retail_db_json/orders/part-r-00000-990f5773-9005-49ba-b670-631286032674

{"order_id":68879,"order_date":"2014-07-09 00:00:00.0","order_customer_id":778,"order_status":"COMPLETE"}
{"order_id":68880,"order_date":"2014-07-13 00:00:00.0","order_customer_id":1117,"order_status":"COMPLETE"}
{"order_id":68881,"order_date":"2014-07-19 00:00:00.0","order_customer_id":2518,"order_status":"PENDING_PAYMENT"}
{"order_id":68882,"order_date":"2014-07-22 00:00:00.0","order_customer_id":10000,"order_status":"ON_HOLD"}
{"order_id":68883,"order_date":"2014-07-23 00:00:00.0","order_customer_id":5533,"order_status":"COMPLETE"}

In [13]:
!tail -n 5 ../data/retail_db_json/order_items/part-r-00000-6b83977e-3f20-404b-9b5f-29376ab1419e

{"order_item_id":172194,"order_item_order_id":68881,"order_item_product_id":403,"order_item_quantity":1,"order_item_subtotal":129.99,"order_item_product_price":129.99}
{"order_item_id":172195,"order_item_order_id":68882,"order_item_product_id":365,"order_item_quantity":1,"order_item_subtotal":59.99,"order_item_product_price":59.99}
{"order_item_id":172196,"order_item_order_id":68882,"order_item_product_id":502,"order_item_quantity":1,"order_item_subtotal":50.0,"order_item_product_price":50.0}
{"order_item_id":172197,"order_item_order_id":68883,"order_item_product_id":208,"order_item_quantity":1,"order_item_subtotal":1999.99,"order_item_product_price":1999.99}
{"order_item_id":172198,"order_item_order_id":68883,"order_item_product_id":502,"order_item_quantity":3,"order_item_subtotal":150.0,"order_item_product_price":50.0}

In [14]:
!hdfs dfs -put -f ../data/retail_db_json /user/`whoami`

In [15]:
!hdfs dfs -ls -R /user/`whoami`/retail_db_json

drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/categories
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/categories/_SUCCESS
-rw-r--r--   3 itv011204 supergroup       4451 2024-02-21 16:02 /user/itv011204/retail_db_json/categories/part-r-00000-ce1d8208-178d-48d3-bfb2-1a97d9c05094
drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/customers
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/customers/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    3105168 2024-02-21 16:02 /user/itv011204/retail_db_json/customers/part-r-00000-70554560-527b-44f6-9e80-4e2031af5994
drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/departments
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/departments/_SUCCESS
-rw-r--r--   3 itv011204 supergroup        288 2024-02-21 16:02 /user/itv011204/retail_db_json/departments/part-r-00000-3db7cfae-3ad2-4fc7-88ff-afe0ec709f49
drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/order_details
-rw-r--r--   3 itv011204 supergroup   31301656 2024-02-21 16:02 /user/itv011204/retail_db_json/order_details/order_details.json
drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/order_items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/order_items/_SUCCESS
-rw-r--r--   3 itv011204 supergroup   28655610 2024-02-21 16:02 /user/itv011204/retail_db_json/order_items/part-r-00000-6b83977e-3f20-404b-9b5f-29376ab1419e
drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/orders
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/orders/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    7477339 2024-02-21 16:02 /user/itv011204/retail_db_json/orders/part-r-00000-990f5773-9005-49ba-b670-631286032674
drwxr-xr-x   - itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/products
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:02 /user/itv011204/retail_db_json/products/_SUCCESS
-rw-r--r--   3 itv011204 supergroup     324978 2024-02-21 16:02 /user/itv011204/retail_db_json/products/part-r-00000-158b7037-4a23-47e6-8cb3-8cbf878beff7

In [16]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

In [17]:
spark = SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
    enableHiveSupport(). \
    appName(f'{username} | Section 19 Semi Structured Data'). \
    master('yarn'). \
    getOrCreate()

In [19]:
orders = spark.read.json(f'/user/{username}/retail_db_json/orders')

In [20]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [21]:
orders.show(5)

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
+-----------------+--------------------+--------+---------------+
only showing top 5 rows

In [22]:
order_items = spark.read.json(f'/user/{username}/retail_db_json/order_items')

In [23]:
order_items.printSchema()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [24]:
order_items.show(5)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
|            5|                  4|                  897|                   24.99|                  2|              49.98|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 5 rows

In [25]:
customers = spark.read.json(f'/user/{username}/retail_db_json/customers')

In [26]:
customers.printSchema()

root
 |-- customer_city: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: string (nullable = true)

In [27]:
customers.show(5)

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|  Brownsville|     XXXXXXXXX|       Richard|          1|     Hernandez|        XXXXXXXXX|            TX|  6303 Heather Plaza|           78521|
|    Littleton|     XXXXXXXXX|          Mary|          2|       Barrett|        XXXXXXXXX|            CO|9526 Noble Embers...|           80126|
|       Caguas|     XXXXXXXXX|           Ann|          3|         Smith|        XXXXXXXXX|            PR|3422 Blue Pioneer...|           00725|
|   San Marcos|     XXXXXXXXX|          Mary|          4|         Jones|        XXXXXXXXX|            CA|  8324 Little Common|           92069|
|       Caguas|     XXXXXXXXX|        Robert|          5|        Hudson|        XXXXXXXXX|            PR|"10 Crystal River...|           00725|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 5 rows

In [28]:
customers.count()

12435

In [29]:
orders.count()

68883

In [30]:
customer_orders = customers. \
    join(
        orders,
        on= customers['customer_id']== orders['order_customer_id'] 
    )

In [32]:
customer_orders.count()

68883

In [33]:
customer_orders.show(5)

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+-----------------+--------------------+--------+---------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|order_customer_id|          order_date|order_id|   order_status|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+-----------------+--------------------+--------+---------------+
|      Hickory|     XXXXXXXXX|          Mary|      11599|        Malone|        XXXXXXXXX|            NC|8708 Indian Horse...|           28601|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|      Chicago|     XXXXXXXXX|         David|        256|     Rodriguez|        XXXXXXXXX|            IL|7605 Tawny Horse ...|           60625|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|   Santa Cruz|     XXXXXXXXX|         Amber|      12111|        Franco|        XXXXXXXXX|            CA|8766 Clear Prairi...|           95060|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|  San Antonio|     XXXXXXXXX|         Brian|       8827|        Wilson|        XXXXXXXXX|            TX|   8396 High Corners|           78240|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|       Caguas|     XXXXXXXXX|          Mary|      11318|         Henry|        XXXXXXXXX|            PR|3047 Silent Ember...|           00725|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+-----------------+--------------------+--------+---------------+
only showing top 5 rows

In [34]:
customer_orders. \
    groupBy('customer_id'). \
    count(). \
    show(5)

+-----------+-----+
|customer_id|count|
+-----------+-----+
|       7747|    7|
|      10156|   10|
|      10959|    7|
|       3764|    7|
|      12044|    6|
+-----------+-----+
only showing top 5 rows

In [36]:
customer_orders. \
    select('customer_id', 'order_id', 'order_date', 'order_status'). \
    orderBy('customer_id'). \
    show(5)

+-----------+--------+--------------------+---------------+
|customer_id|order_id|          order_date|   order_status|
+-----------+--------+--------------------+---------------+
|          1|   22945|2013-12-13 00:00:...|       COMPLETE|
|          2|   67863|2013-11-30 00:00:...|       COMPLETE|
|          2|   15192|2013-10-29 00:00:...|PENDING_PAYMENT|
|          2|   57963|2013-08-02 00:00:...|        ON_HOLD|
|          2|   33865|2014-02-18 00:00:...|       COMPLETE|
+-----------+--------+--------------------+---------------+
only showing top 5 rows

In [38]:
from pyspark.sql.functions import struct

In [40]:
customer_orders. \
    select('customer_id', struct('order_id', 'order_date', 'order_status').alias('order_details')). \
    show(5,truncate=False)

+-----------+-------------------------------------------+
|customer_id|order_details                              |
+-----------+-------------------------------------------+
|11599      |{1, 2013-07-25 00:00:00.0, CLOSED}         |
|256        |{2, 2013-07-25 00:00:00.0, PENDING_PAYMENT}|
|12111      |{3, 2013-07-25 00:00:00.0, COMPLETE}       |
|8827       |{4, 2013-07-25 00:00:00.0, CLOSED}         |
|11318      |{5, 2013-07-25 00:00:00.0, COMPLETE}       |
+-----------+-------------------------------------------+
only showing top 5 rows

In [41]:
customer_orders. \
    select('customer_id', struct('order_id', 'order_date', 'order_status').alias('order_details')). \
    printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- order_details: struct (nullable = false)
 |    |-- order_id: long (nullable = true)
 |    |-- order_date: string (nullable = true)
 |    |-- order_status: string (nullable = true)

In [42]:
customer_orders. \
    select('customer_id', struct('order_id', 'order_date', 'order_status').alias('order_details')). \
    orderBy('customer_id'). \
    show(5,truncate=False)

+-----------+-----------------------------------------------+
|customer_id|order_details                                  |
+-----------+-----------------------------------------------+
|1          |{22945, 2013-12-13 00:00:00.0, COMPLETE}       |
|2          |{67863, 2013-11-30 00:00:00.0, COMPLETE}       |
|2          |{15192, 2013-10-29 00:00:00.0, PENDING_PAYMENT}|
|2          |{57963, 2013-08-02 00:00:00.0, ON_HOLD}        |
|2          |{33865, 2014-02-18 00:00:00.0, COMPLETE}       |
+-----------+-----------------------------------------------+
only showing top 5 rows

In [43]:
customer_orders. \
    groupBy('customer_id'). \
    count(). \
    orderBy('customer_id'). \
    show(5)

+-----------+-----+
|customer_id|count|
+-----------+-----+
|          1|    1|
|          2|    4|
|          3|    7|
|          4|    6|
|          5|    4|
+-----------+-----+
only showing top 5 rows

In [45]:
from pyspark.sql.functions import collect_list,count

In [48]:
customer_orders. \
    groupBy('customer_id'). \
    agg(count('*').alias('order_count')). \
    orderBy('customer_id'). \
    show(5)

+-----------+-----------+
|customer_id|order_count|
+-----------+-----------+
|          1|          1|
|          2|          4|
|          3|          7|
|          4|          6|
|          5|          4|
+-----------+-----------+
only showing top 5 rows

In [49]:
from pyspark.sql.functions import collect_list

In [50]:
customer_order_structs =  customer_orders. \
    select('customer_id',struct('order_id','order_date','order_status').alias('order_details'))

In [53]:
customer_order_structs. \
    groupBy('customer_id'). \
    agg(count('*').alias('orders_count'),collect_list('order_details')). \
    orderBy('customer_id'). \
    show(5,truncate=False)

+-----------+------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|customer_id|orders_count|collect_list(order_details)                                                                                                                                                                                                                                                                            |
+-----------+------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1          |1           |[{22945, 2013-12-13 00:00:00.0, COMPLETE}]                                                                                                                                                                                                                                                             |
|2          |4           |[{57963, 2013-08-02 00:00:00.0, ON_HOLD}, {67863, 2013-11-30 00:00:00.0, COMPLETE}, {15192, 2013-10-29 00:00:00.0, PENDING_PAYMENT}, {33865, 2014-02-18 00:00:00.0, COMPLETE}]                                                                                                                         |
|3          |7           |[{22646, 2013-12-11 00:00:00.0, COMPLETE}, {23662, 2013-12-19 00:00:00.0, COMPLETE}, {35158, 2014-02-26 00:00:00.0, COMPLETE}, {46399, 2014-05-09 00:00:00.0, PROCESSING}, {56178, 2014-07-15 00:00:00.0, PENDING}, {57617, 2014-07-24 00:00:00.0, COMPLETE}, {61453, 2013-12-14 00:00:00.0, COMPLETE}]|
|4          |6           |[{9023, 2013-09-19 00:00:00.0, COMPLETE}, {9704, 2013-09-24 00:00:00.0, COMPLETE}, {17253, 2013-11-09 00:00:00.0, PENDING_PAYMENT}, {37878, 2014-03-15 00:00:00.0, COMPLETE}, {49339, 2014-05-28 00:00:00.0, COMPLETE}, {51157, 2014-06-10 00:00:00.0, CLOSED}]                                        |
|5          |4           |[{13705, 2013-10-18 00:00:00.0, COMPLETE}, {36472, 2014-03-06 00:00:00.0, PROCESSING}, {41333, 2014-04-05 00:00:00.0, COMPLETE}, {45832, 2014-05-05 00:00:00.0, PENDING_PAYMENT}]                                                                                                                      |
+-----------+------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [54]:
customer_order_structs. \
    groupBy('customer_id'). \
    agg(count('*').alias('orders_count'),collect_list('order_details')). \
    orderBy('customer_id'). \
    printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- orders_count: long (nullable = false)
 |-- collect_list(order_details): array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- order_id: long (nullable = true)
 |    |    |-- order_date: string (nullable = true)
 |    |    |-- order_status: string (nullable = true)

In [55]:
customer_order_structs. \
    groupBy('customer_id'). \
    agg(collect_list('order_details')). \
    orderBy('customer_id'). \
    coalesce(1). \
    write. \
    json(f'/user/{username}/customer_details')

In [56]:
!hdfs dfs -ls /user/`whoami`/customer_details

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 16:40 /user/itv011204/customer_details/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    6406609 2024-02-21 16:40 /user/itv011204/customer_details/part-00000-097c6a1a-6b59-4858-a746-70cba8a9f9b1-c000.json

In [57]:
!hdfs dfs -tail /user/itv011204/customer_details/part-00000-097c6a1a-6b59-4858-a746-70cba8a9f9b1-c000.json

us":"COMPLETE"},{"order_id":42724,"order_date":"2014-04-15 00:00:00.0","order_status":"PENDING"}]}
{"customer_id":12434,"collect_list(order_details)":[{"order_id":1868,"order_date":"2013-08-03 00:00:00.0","order_status":"CLOSED"},{"order_id":4799,"order_date":"2013-08-23 00:00:00.0","order_status":"PENDING_PAYMENT"},{"order_id":5303,"order_date":"2013-08-26 00:00:00.0","order_status":"PENDING"},{"order_id":6160,"order_date":"2013-09-02 00:00:00.0","order_status":"COMPLETE"},{"order_id":13544,"order_date":"2013-10-16 00:00:00.0","order_status":"PENDING"},{"order_id":42915,"order_date":"2014-04-16 00:00:00.0","order_status":"COMPLETE"},{"order_id":51800,"order_date":"2014-06-14 00:00:00.0","order_status":"ON_HOLD"},{"order_id":61777,"order_date":"2013-12-26 00:00:00.0","order_status":"COMPLETE"}]}
{"customer_id":12435,"collect_list(order_details)":[{"order_id":41643,"order_date":"2014-04-08 00:00:00.0","order_status":"PENDING"},{"order_id":61629,"order_date":"2013-12-21 00:00:00.0","order_status":"CANCELED"}]}

In [58]:
from pyspark.sql.functions import max

In [59]:
customers.select(max('customer_id')).show()

+----------------+
|max(customer_id)|
+----------------+
|           12435|
+----------------+

In [1]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

In [2]:
spark = SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
    enableHiveSupport(). \
    appName(f'{username} | Section 19 Semi Structured Data'). \
    master('yarn'). \
    getOrCreate()

In [3]:
orders = spark.read.json(f'/user/{username}/retail_db_json/orders')

In [4]:
customers = spark.read.json(f'/user/{username}/retail_db_json/customers')

In [5]:
order_items = spark.read.json(f'/user/{username}/retail_db_json/order_items')

In [6]:
customers.count()

12435

In [7]:
orders.count()

68883

In [8]:
order_items.count()

172198

In [9]:
customer_details = customers. \
    join(orders, on= customers['customer_id']==orders['order_customer_id']). \
    join(order_items, on= orders['order_id']==order_items['order_item_order_id'])

In [10]:
customer_details.count()

172198

In [11]:
customer_details. \
    select( 
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        'order_item_id', 'order_item_product_id','order_item_subtotal'
    ). \
    orderBy('customer_id','order_id','order_item_id'). \
    show(5)

+-----------+--------------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+
|customer_id|customer_lname|customer_email|order_id|          order_date|   order_status|order_item_id|order_item_product_id|order_item_subtotal|
+-----------+--------------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+
|          1|     Hernandez|     XXXXXXXXX|   22945|2013-12-13 00:00:...|       COMPLETE|        57439|                  191|             499.95|
|          2|       Barrett|     XXXXXXXXX|   15192|2013-10-29 00:00:...|PENDING_PAYMENT|        38007|                 1014|              99.96|
|          2|       Barrett|     XXXXXXXXX|   33865|2014-02-18 00:00:...|       COMPLETE|        84536|                  957|             299.98|
|          2|       Barrett|     XXXXXXXXX|   33865|2014-02-18 00:00:...|       COMPLETE|        84537|                 1073|             199.99|
|          2|       Barrett|     XXXXXXXXX|   33865|2014-02-18 00:00:...|       COMPLETE|        84538|                  502|               50.0|
+-----------+--------------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+
only showing top 5 rows

In [12]:
from pyspark.sql.functions import struct, collect_list

In [13]:
customer_details. \
    select(
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        struct('order_item_id', 'order_item_product_id','order_item_subtotal').alias('order_item_details')
    ). \
    groupBy('customer_id','customer_lname','customer_email','order_id','order_date', 'order_status'). \
    agg(collect_list('order_item_details').alias('order_item_details')). \
    orderBy('customer_id','order_id'). \
    show(5, truncate=False)

+-----------+--------------+--------------+--------+---------------------+---------------+---------------------------------------------------------------------------------------------------------------------+
|customer_id|customer_lname|customer_email|order_id|order_date           |order_status   |order_item_details                                                                                                   |
+-----------+--------------+--------------+--------+---------------------+---------------+---------------------------------------------------------------------------------------------------------------------+
|1          |Hernandez     |XXXXXXXXX     |22945   |2013-12-13 00:00:00.0|COMPLETE       |[{57439, 191, 499.95}]                                                                                               |
|2          |Barrett       |XXXXXXXXX     |15192   |2013-10-29 00:00:00.0|PENDING_PAYMENT|[{38007, 1014, 99.96}]                                                                                               |
|2          |Barrett       |XXXXXXXXX     |33865   |2014-02-18 00:00:00.0|COMPLETE       |[{84536, 957, 299.98}, {84537, 1073, 199.99}, {84538, 502, 50.0}]                                                    |
|2          |Barrett       |XXXXXXXXX     |57963   |2013-08-02 00:00:00.0|ON_HOLD        |[{145019, 365, 119.98}, {145020, 1073, 199.99}, {145021, 627, 199.95}, {145022, 1014, 99.96}, {145023, 1014, 149.94}]|
|2          |Barrett       |XXXXXXXXX     |67863   |2013-11-30 00:00:00.0|COMPLETE       |[{169674, 1004, 399.98}]                                                                                             |
+-----------+--------------+--------------+--------+---------------------+---------------+---------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [14]:
from pyspark.sql.functions import count, lit

In [15]:
customer_details. \
    select(
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        struct('order_item_id', 'order_item_product_id','order_item_subtotal').alias('order_item_details')
    ). \
    groupBy('customer_id','customer_lname','customer_email','order_id','order_date', 'order_status'). \
    agg(count(lit('1')),collect_list('order_item_details').alias('order_item_details')). \
    orderBy('customer_id','order_id'). \
    show(5, truncate=False)

+-----------+--------------+--------------+--------+---------------------+---------------+--------+---------------------------------------------------------------------------------------------------------------------+
|customer_id|customer_lname|customer_email|order_id|order_date           |order_status   |count(1)|order_item_details                                                                                                   |
+-----------+--------------+--------------+--------+---------------------+---------------+--------+---------------------------------------------------------------------------------------------------------------------+
|1          |Hernandez     |XXXXXXXXX     |22945   |2013-12-13 00:00:00.0|COMPLETE       |1       |[{57439, 191, 499.95}]                                                                                               |
|2          |Barrett       |XXXXXXXXX     |15192   |2013-10-29 00:00:00.0|PENDING_PAYMENT|1       |[{38007, 1014, 99.96}]                                                                                               |
|2          |Barrett       |XXXXXXXXX     |33865   |2014-02-18 00:00:00.0|COMPLETE       |3       |[{84536, 957, 299.98}, {84537, 1073, 199.99}, {84538, 502, 50.0}]                                                    |
|2          |Barrett       |XXXXXXXXX     |57963   |2013-08-02 00:00:00.0|ON_HOLD        |5       |[{145019, 365, 119.98}, {145020, 1073, 199.99}, {145021, 627, 199.95}, {145022, 1014, 99.96}, {145023, 1014, 149.94}]|
|2          |Barrett       |XXXXXXXXX     |67863   |2013-11-30 00:00:00.0|COMPLETE       |1       |[{169674, 1004, 399.98}]                                                                                             |
+-----------+--------------+--------------+--------+---------------------+---------------+--------+---------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [16]:
customer_details. \
    select(
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        struct('order_item_id', 'order_item_product_id','order_item_subtotal').alias('order_item_details')
    ). \
    groupBy('customer_id','customer_lname','customer_email','order_id','order_date', 'order_status'). \
    agg(collect_list('order_item_details').alias('order_item_details')). \
    orderBy('customer_id','order_id'). \
    select(
        'customer_id', 'customer_lname','customer_email',
        struct('order_id','order_date', 'order_status','order_item_details').alias('order_details')
    ). \
    groupBy('customer_id', 'customer_lname','customer_email'). \
    agg(collect_list('order_details').alias('order_details')). \
    orderBy('customer_id'). \
    show(5,truncate=False)

+-----------+--------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|customer_id|customer_lname|customer_email|order_details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
+-----------+--------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1          |Hernandez     |XXXXXXXXX     |[{22945, 2013-12-13 00:00:00.0, COMPLETE, [{57439, 191, 499.95}]}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
|2          |Barrett       |XXXXXXXXX     |[{15192, 2013-10-29 00:00:00.0, PENDING_PAYMENT, [{38007, 1014, 99.96}]}, {33865, 2014-02-18 00:00:00.0, COMPLETE, [{84536, 957, 299.98}, {84537, 1073, 199.99}, {84538, 502, 50.0}]}, {57963, 2013-08-02 00:00:00.0, ON_HOLD, [{145019, 365, 119.98}, {145020, 1073, 199.99}, {145021, 627, 199.95}, {145022, 1014, 99.96}, {145023, 1014, 149.94}]}, {67863, 2013-11-30 00:00:00.0, COMPLETE, [{169674, 1004, 399.98}]}]                                                                                                                                                                                                                      |
|3          |Smith         |XXXXXXXXX     |[{23662, 2013-12-19 00:00:00.0, COMPLETE, [{59207, 191, 99.99}, {59208, 502, 100.0}, {59209, 502, 50.0}]}, {35158, 2014-02-26 00:00:00.0, COMPLETE, [{87812, 1004, 399.98}, {87813, 273, 27.99}]}, {56178, 2014-07-15 00:00:00.0, PENDING, [{140506, 502, 100.0}, {140507, 365, 299.95}, {140508, 957, 299.98}, {140509, 502, 150.0}, {140510, 957, 299.98}]}, {57617, 2014-07-24 00:00:00.0, COMPLETE, [{144129, 365, 239.96}, {144130, 365, 239.96}, {144131, 1014, 99.96}, {144132, 1073, 199.99}]}, {61453, 2013-12-14 00:00:00.0, COMPLETE, [{153687, 403, 129.99}, {153688, 957, 299.98}, {153689, 957, 299.98}, {153690, 1073, 199.99}]}]|
|4          |Jones         |XXXXXXXXX     |[{9023, 2013-09-19 00:00:00.0, COMPLETE, [{22495, 1014, 99.96}, {22496, 627, 79.98}, {22497, 885, 24.99}, {22498, 1014, 149.94}]}, {9704, 2013-09-24 00:00:00.0, COMPLETE, [{24238, 365, 179.97}, {24239, 905, 124.95}, {24240, 365, 59.99}, {24241, 365, 179.97}]}, {49339, 2014-05-28 00:00:00.0, COMPLETE, [{123338, 502, 100.0}, {123339, 365, 119.98}, {123340, 365, 299.95}]}, {51157, 2014-06-10 00:00:00.0, CLOSED, [{127851, 365, 119.98}, {127852, 365, 119.98}, {127853, 365, 59.99}]}]                                                                                                                                              |
|5          |Hudson        |XXXXXXXXX     |[{36472, 2014-03-06 00:00:00.0, PROCESSING, [{91064, 1014, 99.96}, {91065, 403, 129.99}, {91066, 1014, 199.92}, {91067, 235, 174.95}, {91068, 957, 299.98}]}, {41333, 2014-04-05 00:00:00.0, COMPLETE, [{103183, 403, 129.99}]}, {45832, 2014-05-05 00:00:00.0, PENDING_PAYMENT, [{114561, 365, 239.96}]}]                                                                                                                                                                                                                                                                                                                                      |
+-----------+--------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [17]:
from pyspark.sql.functions import col

In [18]:
customer_details. \
    select(
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        struct('order_item_id', 'order_item_product_id','order_item_subtotal').alias('order_item_details')
    ). \
    groupBy('customer_id','customer_lname','customer_email','order_id','order_date', 'order_status'). \
    agg(collect_list('order_item_details').alias('order_item_details')). \
    orderBy('customer_id','order_id'). \
    select(
        'customer_id', 'customer_lname','customer_email',
        struct('order_id','order_date', 'order_status','order_item_details').alias('order_details')
    ). \
    orderBy('customer_id',col('order_date').desc()). \
    groupBy('customer_id', 'customer_lname','customer_email'). \
    agg(collect_list('order_details').alias('order_details')). \
    orderBy('customer_id'). \
    show(5,truncate=False)

+-----------+--------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|customer_id|customer_lname|customer_email|order_details                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
+-----------+--------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1          |Hernandez     |XXXXXXXXX     |[{22945, 2013-12-13 00:00:00.0, COMPLETE, [{57439, 191, 499.95}]}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
|2          |Barrett       |XXXXXXXXX     |[{33865, 2014-02-18 00:00:00.0, COMPLETE, [{84536, 957, 299.98}, {84537, 1073, 199.99}, {84538, 502, 50.0}]}, {67863, 2013-11-30 00:00:00.0, COMPLETE, [{169674, 1004, 399.98}]}, {15192, 2013-10-29 00:00:00.0, PENDING_PAYMENT, [{38007, 1014, 99.96}]}, {57963, 2013-08-02 00:00:00.0, ON_HOLD, [{145019, 365, 119.98}, {145020, 1073, 199.99}, {145021, 627, 199.95}, {145022, 1014, 99.96}, {145023, 1014, 149.94}]}]                                                                                                                                                                                                                      |
|3          |Smith         |XXXXXXXXX     |[{57617, 2014-07-24 00:00:00.0, COMPLETE, [{144129, 365, 239.96}, {144130, 365, 239.96}, {144131, 1014, 99.96}, {144132, 1073, 199.99}]}, {56178, 2014-07-15 00:00:00.0, PENDING, [{140506, 502, 100.0}, {140507, 365, 299.95}, {140508, 957, 299.98}, {140509, 502, 150.0}, {140510, 957, 299.98}]}, {35158, 2014-02-26 00:00:00.0, COMPLETE, [{87812, 1004, 399.98}, {87813, 273, 27.99}]}, {23662, 2013-12-19 00:00:00.0, COMPLETE, [{59207, 191, 99.99}, {59208, 502, 100.0}, {59209, 502, 50.0}]}, {61453, 2013-12-14 00:00:00.0, COMPLETE, [{153687, 403, 129.99}, {153688, 957, 299.98}, {153689, 957, 299.98}, {153690, 1073, 199.99}]}]|
|4          |Jones         |XXXXXXXXX     |[{51157, 2014-06-10 00:00:00.0, CLOSED, [{127851, 365, 119.98}, {127852, 365, 119.98}, {127853, 365, 59.99}]}, {49339, 2014-05-28 00:00:00.0, COMPLETE, [{123338, 502, 100.0}, {123339, 365, 119.98}, {123340, 365, 299.95}]}, {9704, 2013-09-24 00:00:00.0, COMPLETE, [{24238, 365, 179.97}, {24239, 905, 124.95}, {24240, 365, 59.99}, {24241, 365, 179.97}]}, {9023, 2013-09-19 00:00:00.0, COMPLETE, [{22495, 1014, 99.96}, {22496, 627, 79.98}, {22497, 885, 24.99}, {22498, 1014, 149.94}]}]                                                                                                                                              |
|5          |Hudson        |XXXXXXXXX     |[{45832, 2014-05-05 00:00:00.0, PENDING_PAYMENT, [{114561, 365, 239.96}]}, {41333, 2014-04-05 00:00:00.0, COMPLETE, [{103183, 403, 129.99}]}, {36472, 2014-03-06 00:00:00.0, PROCESSING, [{91064, 1014, 99.96}, {91065, 403, 129.99}, {91066, 1014, 199.92}, {91067, 235, 174.95}, {91068, 957, 299.98}]}]                                                                                                                                                                                                                                                                                                                                      |
+-----------+--------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [27]:
customer_details. \
    select(
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        struct('order_item_id', 'order_item_product_id','order_item_subtotal').alias('order_item_details')
    ). \
    groupBy('customer_id','customer_lname','customer_email','order_id','order_date', 'order_status'). \
    agg(collect_list('order_item_details').alias('order_item_details')). \
    orderBy('customer_id','order_id'). \
    select(
        'customer_id', 'customer_lname','customer_email',
        struct('order_id','order_date', 'order_status','order_item_details').alias('order_details')
    ). \
    orderBy('customer_id',col('order_date').desc()). \
    groupBy('customer_id', 'customer_lname','customer_email'). \
    agg(collect_list('order_details').alias('order_details')). \
    orderBy('customer_id'). \
    coalesce(1). \
    write. \
    mode('overwrite'). \
    json(f'/user/{username}/customer_details')

In [30]:
!hdfs dfs -ls /user/`whoami`/customer_details

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 17:25 /user/itv011204/customer_details/_SUCCESS
-rw-r--r--   3 itv011204 supergroup   21270203 2024-02-21 17:25 /user/itv011204/customer_details/part-00000-f2c01f62-2723-4c1b-bee9-bb805619d28e-c000.json

In [32]:
!hdfs dfs -tail /user/itv011204/customer_details/part-00000-f2c01f62-2723-4c1b-bee9-bb805619d28e-c000.json

tus":"PENDING_PAYMENT","order_item_details":[{"order_item_id":12003,"order_item_product_id":906,"order_item_subtotal":74.97}]},{"order_id":1868,"order_date":"2013-08-03 00:00:00.0","order_status":"CLOSED","order_item_details":[{"order_item_id":4668,"order_item_product_id":502,"order_item_subtotal":250.0}]}]}
{"customer_id":12435,"customer_lname":"Horton","customer_email":"XXXXXXXXX","order_details":[{"order_id":41643,"order_date":"2014-04-08 00:00:00.0","order_status":"PENDING","order_item_details":[{"order_item_id":103950,"order_item_product_id":191,"order_item_subtotal":499.95},{"order_item_id":103951,"order_item_product_id":365,"order_item_subtotal":239.96},{"order_item_id":103952,"order_item_product_id":957,"order_item_subtotal":299.98}]},{"order_id":61629,"order_date":"2013-12-21 00:00:00.0","order_status":"CANCELED","order_item_details":[{"order_item_id":154094,"order_item_product_id":627,"order_item_subtotal":159.96},{"order_item_id":154095,"order_item_product_id":403,"order_item_subtotal":129.99}]}]}

In [29]:
customer_details. \
    filter(col('customer_id')=='12435'). \
    select(
        'customer_id','customer_lname','customer_email',
        'order_id','order_date', 'order_status',
        struct('order_item_id', 'order_item_product_id','order_item_subtotal').alias('order_item_details')
    ). \
    groupBy('customer_id','customer_lname','customer_email','order_id','order_date', 'order_status'). \
    agg(collect_list('order_item_details').alias('order_item_details')). \
    orderBy('customer_id','order_id'). \
    select(
        'customer_id', 'customer_lname','customer_email',
        struct('order_id','order_date', 'order_status','order_item_details').alias('order_details')
    ). \
    orderBy('customer_id',col('order_date').desc()). \
    groupBy('customer_id', 'customer_lname','customer_email'). \
    agg(collect_list('order_details').alias('order_details')). \
    orderBy('customer_id'). \
    show(truncate=False)

+-----------+--------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|customer_id|customer_lname|customer_email|order_details                                                                                                                                                                                             |
+-----------+--------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|12435      |Horton        |XXXXXXXXX     |[{41643, 2014-04-08 00:00:00.0, PENDING, [{103950, 191, 499.95}, {103951, 365, 239.96}, {103952, 957, 299.98}]}, {61629, 2013-12-21 00:00:00.0, CANCELED, [{154094, 627, 159.96}, {154095, 403, 129.99}]}]|
+-----------+--------------+--------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

### Read the Denormalized data from Json

In [1]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

In [2]:
spark = SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
    enableHiveSupport(). \
    appName(f'{username} | Section 19 Semi Structured Data'). \
    master('yarn'). \
    getOrCreate()

In [3]:
!hdfs dfs -ls /user/`whoami`/customer_details

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-21 17:25 /user/itv011204/customer_details/_SUCCESS
-rw-r--r--   3 itv011204 supergroup   21270203 2024-02-21 17:25 /user/itv011204/customer_details/part-00000-f2c01f62-2723-4c1b-bee9-bb805619d28e-c000.json

In [4]:
customer_details_df = spark.read.json(f'/user/{username}/customer_details')

In [5]:
customer_details_df.show(5)

+--------------+-----------+--------------+--------------------+
|customer_email|customer_id|customer_lname|       order_details|
+--------------+-----------+--------------+--------------------+
|     XXXXXXXXX|          1|     Hernandez|[{2013-12-13 00:0...|
|     XXXXXXXXX|          2|       Barrett|[{2014-02-18 00:0...|
|     XXXXXXXXX|          3|         Smith|[{2014-07-24 00:0...|
|     XXXXXXXXX|          4|         Jones|[{2014-06-10 00:0...|
|     XXXXXXXXX|          5|        Hudson|[{2014-05-05 00:0...|
+--------------+-----------+--------------+--------------------+
only showing top 5 rows

In [6]:
customer_details_df.printSchema()

root
 |-- customer_email: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- order_details: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- order_date: string (nullable = true)
 |    |    |-- order_id: long (nullable = true)
 |    |    |-- order_item_details: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- order_item_id: long (nullable = true)
 |    |    |    |    |-- order_item_product_id: long (nullable = true)
 |    |    |    |    |-- order_item_subtotal: double (nullable = true)
 |    |    |-- order_status: string (nullable = true)

In [7]:
customer_details_df.count()

12331

In [8]:
from pyspark.sql.functions import explode

In [9]:
customer_details_df.\
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ).\
    printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- order_details: struct (nullable = true)
 |    |-- order_date: string (nullable = true)
 |    |-- order_id: long (nullable = true)
 |    |-- order_item_details: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- order_item_id: long (nullable = true)
 |    |    |    |-- order_item_product_id: long (nullable = true)
 |    |    |    |-- order_item_subtotal: double (nullable = true)
 |    |-- order_status: string (nullable = true)

In [10]:
customer_details_df.\
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ).\
    count()

57431

In [11]:
customer_details_df.\
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ).\
    orderBy('customer_id'). \
    show(10)

+-----------+--------------+--------------+--------------------+
|customer_id|customer_email|customer_lname|       order_details|
+-----------+--------------+--------------+--------------------+
|          1|     XXXXXXXXX|     Hernandez|{2013-12-13 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2013-08-02 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2013-10-29 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2013-11-30 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2014-02-18 00:00...|
|          3|     XXXXXXXXX|         Smith|{2014-07-15 00:00...|
|          3|     XXXXXXXXX|         Smith|{2014-02-26 00:00...|
|          3|     XXXXXXXXX|         Smith|{2014-07-24 00:00...|
|          3|     XXXXXXXXX|         Smith|{2013-12-19 00:00...|
|          3|     XXXXXXXXX|         Smith|{2013-12-14 00:00...|
+-----------+--------------+--------------+--------------------+
only showing top 10 rows

In [12]:
customer_details_df.\
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ).\
    filter('order_details.order_date LIKE "2014-01-01%"'). \
    count()

115

In [13]:
customer_details_df.\
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ).\
    filter('order_details.order_date LIKE "2014-01-01%"'). \
    orderBy('customer_id'). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        'order_details.order_id',
        'order_details.order_date',
        'order_details.order_status'
    ). \
    show(truncate=False)

+-----------+--------------+--------------+--------+---------------------+---------------+
|customer_id|customer_email|customer_lname|order_id|order_date           |order_status   |
+-----------+--------------+--------------+--------+---------------------+---------------+
|206        |XXXXXXXXX     |West          |25966   |2014-01-01 00:00:00.0|CLOSED         |
|279        |XXXXXXXXX     |Smith         |25918   |2014-01-01 00:00:00.0|COMPLETE       |
|363        |XXXXXXXXX     |Obrien        |25980   |2014-01-01 00:00:00.0|COMPLETE       |
|387        |XXXXXXXXX     |Levy          |25970   |2014-01-01 00:00:00.0|COMPLETE       |
|470        |XXXXXXXXX     |Cannon        |61904   |2014-01-01 00:00:00.0|COMPLETE       |
|492        |XXXXXXXXX     |Mckinney      |25964   |2014-01-01 00:00:00.0|PROCESSING     |
|505        |XXXXXXXXX     |Smith         |25925   |2014-01-01 00:00:00.0|PENDING_PAYMENT|
|522        |XXXXXXXXX     |Smith         |25972   |2014-01-01 00:00:00.0|PENDING_PAYMENT|
|1044       |XXXXXXXXX     |Pope          |25895   |2014-01-01 00:00:00.0|COMPLETE       |
|1117       |XXXXXXXXX     |Maddox        |25942   |2014-01-01 00:00:00.0|PROCESSING     |
|1132       |XXXXXXXXX     |Smith         |25904   |2014-01-01 00:00:00.0|PENDING_PAYMENT|
|1133       |XXXXXXXXX     |Ryan          |61916   |2014-01-01 00:00:00.0|PROCESSING     |
|1512       |XXXXXXXXX     |Rowe          |61909   |2014-01-01 00:00:00.0|PROCESSING     |
|1708       |XXXXXXXXX     |Booth         |25917   |2014-01-01 00:00:00.0|ON_HOLD        |
|1815       |XXXXXXXXX     |Smith         |25947   |2014-01-01 00:00:00.0|PENDING_PAYMENT|
|2027       |XXXXXXXXX     |Mills         |25932   |2014-01-01 00:00:00.0|CLOSED         |
|2144       |XXXXXXXXX     |Trevino       |25969   |2014-01-01 00:00:00.0|COMPLETE       |
|2382       |XXXXXXXXX     |Holloway      |25900   |2014-01-01 00:00:00.0|CLOSED         |
|2581       |XXXXXXXXX     |Smith         |25890   |2014-01-01 00:00:00.0|PENDING        |
|2602       |XXXXXXXXX     |Smith         |67972   |2014-01-01 00:00:00.0|PENDING        |
+-----------+--------------+--------------+--------+---------------------+---------------+
only showing top 20 rows

In [14]:
customer_details_df.\
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ).\
    filter('order_details.order_date LIKE "2014-01-01%"'). \
    orderBy('customer_id'). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        'order_details.order_id',
        'order_details.order_date',
        'order_details.order_status'
    ). \
    printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)

In [15]:
from pyspark.sql.functions import size

In [20]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        size('order_details').alias('order_count')
    ). \
    orderBy('customer_id'). \
    show()

+-----------+--------------+--------------+-----------+
|customer_id|customer_email|customer_lname|order_count|
+-----------+--------------+--------------+-----------+
|          1|     XXXXXXXXX|     Hernandez|          1|
|          2|     XXXXXXXXX|       Barrett|          4|
|          3|     XXXXXXXXX|         Smith|          5|
|          4|     XXXXXXXXX|         Jones|          4|
|          5|     XXXXXXXXX|        Hudson|          3|
|          6|     XXXXXXXXX|         Smith|          4|
|          7|     XXXXXXXXX|        Wilcox|          7|
|          8|     XXXXXXXXX|         Smith|          8|
|          9|     XXXXXXXXX|         Perez|          5|
|         10|     XXXXXXXXX|         Smith|          2|
|         11|     XXXXXXXXX|       Huffman|          4|
|         12|     XXXXXXXXX|         Smith|          8|
|         13|     XXXXXXXXX|       Baldwin|          4|
|         14|     XXXXXXXXX|         Smith|          7|
|         15|     XXXXXXXXX|          Luna|          1|
|         16|     XXXXXXXXX|         Smith|          6|
|         17|     XXXXXXXXX|      Robinson|          5|
|         18|     XXXXXXXXX|         Smith|          6|
|         19|     XXXXXXXXX|      Mitchell|          8|
|         20|     XXXXXXXXX|         Ellis|          4|
+-----------+--------------+--------------+-----------+
only showing top 20 rows

In [21]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- order_details: struct (nullable = true)
 |    |-- order_date: string (nullable = true)
 |    |-- order_id: long (nullable = true)
 |    |-- order_item_details: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- order_item_id: long (nullable = true)
 |    |    |    |-- order_item_product_id: long (nullable = true)
 |    |    |    |-- order_item_subtotal: double (nullable = true)
 |    |-- order_status: string (nullable = true)

In [22]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- order_item_details: struct (nullable = true)
 |    |-- order_item_id: long (nullable = true)
 |    |-- order_item_product_id: long (nullable = true)
 |    |-- order_item_subtotal: double (nullable = true)

In [23]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    show()

+-----------+--------------+--------------+--------------------+
|customer_id|customer_email|customer_lname|  order_item_details|
+-----------+--------------+--------------+--------------------+
|          1|     XXXXXXXXX|     Hernandez|{57439, 191, 499.95}|
|          2|     XXXXXXXXX|       Barrett|{84536, 957, 299.98}|
|          2|     XXXXXXXXX|       Barrett|{84537, 1073, 199...|
|          2|     XXXXXXXXX|       Barrett|  {84538, 502, 50.0}|
|          2|     XXXXXXXXX|       Barrett|{169674, 1004, 39...|
|          2|     XXXXXXXXX|       Barrett|{38007, 1014, 99.96}|
|          2|     XXXXXXXXX|       Barrett|{145019, 365, 119...|
|          2|     XXXXXXXXX|       Barrett|{145020, 1073, 19...|
|          2|     XXXXXXXXX|       Barrett|{145021, 627, 199...|
|          2|     XXXXXXXXX|       Barrett|{145022, 1014, 99...|
|          2|     XXXXXXXXX|       Barrett|{145023, 1014, 14...|
|          3|     XXXXXXXXX|         Smith|{144129, 365, 239...|
|          3|     XXXXXXXXX|         Smith|{144130, 365, 239...|
|          3|     XXXXXXXXX|         Smith|{144131, 1014, 99...|
|          3|     XXXXXXXXX|         Smith|{144132, 1073, 19...|
|          3|     XXXXXXXXX|         Smith|{140506, 502, 100.0}|
|          3|     XXXXXXXXX|         Smith|{140507, 365, 299...|
|          3|     XXXXXXXXX|         Smith|{140508, 957, 299...|
|          3|     XXXXXXXXX|         Smith|{140509, 502, 150.0}|
|          3|     XXXXXXXXX|         Smith|{140510, 957, 299...|
+-----------+--------------+--------------+--------------------+
only showing top 20 rows

In [24]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        'order_item_details.*'
    ). \
    show()

+-----------+--------------+--------------+-------------+---------------------+-------------------+
|customer_id|customer_email|customer_lname|order_item_id|order_item_product_id|order_item_subtotal|
+-----------+--------------+--------------+-------------+---------------------+-------------------+
|          1|     XXXXXXXXX|     Hernandez|        57439|                  191|             499.95|
|          2|     XXXXXXXXX|       Barrett|        84536|                  957|             299.98|
|          2|     XXXXXXXXX|       Barrett|        84537|                 1073|             199.99|
|          2|     XXXXXXXXX|       Barrett|        84538|                  502|               50.0|
|          2|     XXXXXXXXX|       Barrett|       169674|                 1004|             399.98|
|          2|     XXXXXXXXX|       Barrett|        38007|                 1014|              99.96|
|          2|     XXXXXXXXX|       Barrett|       145019|                  365|             119.98|
|          2|     XXXXXXXXX|       Barrett|       145020|                 1073|             199.99|
|          2|     XXXXXXXXX|       Barrett|       145021|                  627|             199.95|
|          2|     XXXXXXXXX|       Barrett|       145022|                 1014|              99.96|
|          2|     XXXXXXXXX|       Barrett|       145023|                 1014|             149.94|
|          3|     XXXXXXXXX|         Smith|       144129|                  365|             239.96|
|          3|     XXXXXXXXX|         Smith|       144130|                  365|             239.96|
|          3|     XXXXXXXXX|         Smith|       144131|                 1014|              99.96|
|          3|     XXXXXXXXX|         Smith|       144132|                 1073|             199.99|
|          3|     XXXXXXXXX|         Smith|       140506|                  502|              100.0|
|          3|     XXXXXXXXX|         Smith|       140507|                  365|             299.95|
|          3|     XXXXXXXXX|         Smith|       140508|                  957|             299.98|
|          3|     XXXXXXXXX|         Smith|       140509|                  502|              150.0|
|          3|     XXXXXXXXX|         Smith|       140510|                  957|             299.98|
+-----------+--------------+--------------+-------------+---------------------+-------------------+
only showing top 20 rows

In [25]:
from pyspark.sql.functions import sum, round, col

In [26]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        'order_item_details.*'
    ). \
    groupBy(
        'customer_id',
        'customer_lname',
        'customer_email'

    ). \
    agg(
        round(sum(col('order_item_subtotal')),2).alias('customer_revenue')
    ). \
    orderBy('customer_id'). \
    show()

+-----------+--------------+--------------+----------------+
|customer_id|customer_lname|customer_email|customer_revenue|
+-----------+--------------+--------------+----------------+
|          1|     Hernandez|     XXXXXXXXX|          499.95|
|          2|       Barrett|     XXXXXXXXX|         1819.73|
|          3|         Smith|     XXXXXXXXX|         3537.68|
|          4|         Jones|     XXXXXXXXX|         1719.63|
|          5|        Hudson|     XXXXXXXXX|         1274.75|
|          6|         Smith|     XXXXXXXXX|         3259.51|
|          7|        Wilcox|     XXXXXXXXX|         5569.48|
|          8|         Smith|     XXXXXXXXX|          3763.5|
|          9|         Perez|     XXXXXXXXX|         3229.68|
|         10|         Smith|     XXXXXXXXX|         1264.79|
|         11|       Huffman|     XXXXXXXXX|         2429.65|
|         12|         Smith|     XXXXXXXXX|         6009.35|
|         13|       Baldwin|     XXXXXXXXX|         3185.62|
|         14|         Smith|     XXXXXXXXX|         2414.72|
|         15|          Luna|     XXXXXXXXX|          239.98|
|         16|         Smith|     XXXXXXXXX|         2349.77|
|         17|      Robinson|     XXXXXXXXX|         4259.66|
|         18|         Smith|     XXXXXXXXX|          3519.6|
|         19|      Mitchell|     XXXXXXXXX|         4355.62|
|         20|         Ellis|     XXXXXXXXX|         1589.77|
+-----------+--------------+--------------+----------------+
only showing top 20 rows

In [27]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    groupBy(
        'customer_id',
        'customer_lname',
        'customer_email'
    ). \
    agg(
        round(sum('order_item_details.order_item_subtotal'),2).alias('customer_revenue')
    ). \
    orderBy('customer_id'). \
    show()

+-----------+--------------+--------------+----------------+
|customer_id|customer_lname|customer_email|customer_revenue|
+-----------+--------------+--------------+----------------+
|          1|     Hernandez|     XXXXXXXXX|          499.95|
|          2|       Barrett|     XXXXXXXXX|         1819.73|
|          3|         Smith|     XXXXXXXXX|         3537.68|
|          4|         Jones|     XXXXXXXXX|         1719.63|
|          5|        Hudson|     XXXXXXXXX|         1274.75|
|          6|         Smith|     XXXXXXXXX|         3259.51|
|          7|        Wilcox|     XXXXXXXXX|         5569.48|
|          8|         Smith|     XXXXXXXXX|          3763.5|
|          9|         Perez|     XXXXXXXXX|         3229.68|
|         10|         Smith|     XXXXXXXXX|         1264.79|
|         11|       Huffman|     XXXXXXXXX|         2429.65|
|         12|         Smith|     XXXXXXXXX|         6009.35|
|         13|       Baldwin|     XXXXXXXXX|         3185.62|
|         14|         Smith|     XXXXXXXXX|         2414.72|
|         15|          Luna|     XXXXXXXXX|          239.98|
|         16|         Smith|     XXXXXXXXX|         2349.77|
|         17|      Robinson|     XXXXXXXXX|         4259.66|
|         18|         Smith|     XXXXXXXXX|          3519.6|
|         19|      Mitchell|     XXXXXXXXX|         4355.62|
|         20|         Ellis|     XXXXXXXXX|         1589.77|
+-----------+--------------+--------------+----------------+
only showing top 20 rows

In [28]:
customer_details_df. \
        select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    show()

+-----------+--------------+--------------+--------------------+
|customer_id|customer_email|customer_lname|       order_details|
+-----------+--------------+--------------+--------------------+
|          1|     XXXXXXXXX|     Hernandez|{2013-12-13 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2014-02-18 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2013-11-30 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2013-10-29 00:00...|
|          2|     XXXXXXXXX|       Barrett|{2013-08-02 00:00...|
|          3|     XXXXXXXXX|         Smith|{2014-07-24 00:00...|
|          3|     XXXXXXXXX|         Smith|{2014-07-15 00:00...|
|          3|     XXXXXXXXX|         Smith|{2014-02-26 00:00...|
|          3|     XXXXXXXXX|         Smith|{2013-12-19 00:00...|
|          3|     XXXXXXXXX|         Smith|{2013-12-14 00:00...|
|          4|     XXXXXXXXX|         Jones|{2014-06-10 00:00...|
|          4|     XXXXXXXXX|         Jones|{2014-05-28 00:00...|
|          4|     XXXXXXXXX|         Jones|{2013-09-24 00:00...|
|          4|     XXXXXXXXX|         Jones|{2013-09-19 00:00...|
|          5|     XXXXXXXXX|        Hudson|{2014-05-05 00:00...|
|          5|     XXXXXXXXX|        Hudson|{2014-04-05 00:00...|
|          5|     XXXXXXXXX|        Hudson|{2014-03-06 00:00...|
|          6|     XXXXXXXXX|         Smith|{2014-02-13 00:00...|
|          6|     XXXXXXXXX|         Smith|{2013-12-10 00:00...|
|          6|     XXXXXXXXX|         Smith|{2013-09-10 00:00...|
+-----------+--------------+--------------+--------------------+
only showing top 20 rows

In [29]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_email',
        'customer_id',
        'customer_lname',
        'order_details.*'
    ). \
    show()

+--------------+-----------+--------------+--------------------+--------+--------------------+---------------+
|customer_email|customer_id|customer_lname|          order_date|order_id|  order_item_details|   order_status|
+--------------+-----------+--------------+--------------------+--------+--------------------+---------------+
|     XXXXXXXXX|          1|     Hernandez|2013-12-13 00:00:...|   22945|[{57439, 191, 499...|       COMPLETE|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|   33865|[{84536, 957, 299...|       COMPLETE|
|     XXXXXXXXX|          2|       Barrett|2013-11-30 00:00:...|   67863|[{169674, 1004, 3...|       COMPLETE|
|     XXXXXXXXX|          2|       Barrett|2013-10-29 00:00:...|   15192|[{38007, 1014, 99...|PENDING_PAYMENT|
|     XXXXXXXXX|          2|       Barrett|2013-08-02 00:00:...|   57963|[{145019, 365, 11...|        ON_HOLD|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|   57617|[{144129, 365, 23...|       COMPLETE|
|     XXXXXXXXX|          3|         Smith|2014-07-15 00:00:...|   56178|[{140506, 502, 10...|        PENDING|
|     XXXXXXXXX|          3|         Smith|2014-02-26 00:00:...|   35158|[{87812, 1004, 39...|       COMPLETE|
|     XXXXXXXXX|          3|         Smith|2013-12-19 00:00:...|   23662|[{59207, 191, 99....|       COMPLETE|
|     XXXXXXXXX|          3|         Smith|2013-12-14 00:00:...|   61453|[{153687, 403, 12...|       COMPLETE|
|     XXXXXXXXX|          4|         Jones|2014-06-10 00:00:...|   51157|[{127851, 365, 11...|         CLOSED|
|     XXXXXXXXX|          4|         Jones|2014-05-28 00:00:...|   49339|[{123338, 502, 10...|       COMPLETE|
|     XXXXXXXXX|          4|         Jones|2013-09-24 00:00:...|    9704|[{24238, 365, 179...|       COMPLETE|
|     XXXXXXXXX|          4|         Jones|2013-09-19 00:00:...|    9023|[{22495, 1014, 99...|       COMPLETE|
|     XXXXXXXXX|          5|        Hudson|2014-05-05 00:00:...|   45832|[{114561, 365, 23...|PENDING_PAYMENT|
|     XXXXXXXXX|          5|        Hudson|2014-04-05 00:00:...|   41333|[{103183, 403, 12...|       COMPLETE|
|     XXXXXXXXX|          5|        Hudson|2014-03-06 00:00:...|   36472|[{91064, 1014, 99...|     PROCESSING|
|     XXXXXXXXX|          6|         Smith|2014-02-13 00:00:...|   32895|[{82279, 191, 299...|PENDING_PAYMENT|
|     XXXXXXXXX|          6|         Smith|2013-12-10 00:00:...|   22457|[{56200, 1014, 99...|PENDING_PAYMENT|
|     XXXXXXXXX|          6|         Smith|2013-09-10 00:00:...|    7787|[{19473, 1014, 24...|        PENDING|
+--------------+-----------+--------------+--------------------+--------+--------------------+---------------+
only showing top 20 rows

In [31]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_email',
        'customer_id',
        'customer_lname',
        'order_details.order_id',
        'order_details.order_date',
        'order_details.order_status',
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    show()

+--------------+-----------+--------------+----------------------+------------------------+--------------------------+--------------------+
|customer_email|customer_id|customer_lname|order_details.order_id|order_details.order_date|order_details.order_status|  order_item_details|
+--------------+-----------+--------------+----------------------+------------------------+--------------------------+--------------------+
|     XXXXXXXXX|          1|     Hernandez|                 22945|    2013-12-13 00:00:...|                  COMPLETE|{57439, 191, 499.95}|
|     XXXXXXXXX|          2|       Barrett|                 33865|    2014-02-18 00:00:...|                  COMPLETE|{84536, 957, 299.98}|
|     XXXXXXXXX|          2|       Barrett|                 33865|    2014-02-18 00:00:...|                  COMPLETE|{84537, 1073, 199...|
|     XXXXXXXXX|          2|       Barrett|                 33865|    2014-02-18 00:00:...|                  COMPLETE|  {84538, 502, 50.0}|
|     XXXXXXXXX|          2|       Barrett|                 67863|    2013-11-30 00:00:...|                  COMPLETE|{169674, 1004, 39...|
|     XXXXXXXXX|          2|       Barrett|                 15192|    2013-10-29 00:00:...|           PENDING_PAYMENT|{38007, 1014, 99.96}|
|     XXXXXXXXX|          2|       Barrett|                 57963|    2013-08-02 00:00:...|                   ON_HOLD|{145019, 365, 119...|
|     XXXXXXXXX|          2|       Barrett|                 57963|    2013-08-02 00:00:...|                   ON_HOLD|{145020, 1073, 19...|
|     XXXXXXXXX|          2|       Barrett|                 57963|    2013-08-02 00:00:...|                   ON_HOLD|{145021, 627, 199...|
|     XXXXXXXXX|          2|       Barrett|                 57963|    2013-08-02 00:00:...|                   ON_HOLD|{145022, 1014, 99...|
|     XXXXXXXXX|          2|       Barrett|                 57963|    2013-08-02 00:00:...|                   ON_HOLD|{145023, 1014, 14...|
|     XXXXXXXXX|          3|         Smith|                 57617|    2014-07-24 00:00:...|                  COMPLETE|{144129, 365, 239...|
|     XXXXXXXXX|          3|         Smith|                 57617|    2014-07-24 00:00:...|                  COMPLETE|{144130, 365, 239...|
|     XXXXXXXXX|          3|         Smith|                 57617|    2014-07-24 00:00:...|                  COMPLETE|{144131, 1014, 99...|
|     XXXXXXXXX|          3|         Smith|                 57617|    2014-07-24 00:00:...|                  COMPLETE|{144132, 1073, 19...|
|     XXXXXXXXX|          3|         Smith|                 56178|    2014-07-15 00:00:...|                   PENDING|{140506, 502, 100.0}|
|     XXXXXXXXX|          3|         Smith|                 56178|    2014-07-15 00:00:...|                   PENDING|{140507, 365, 299...|
|     XXXXXXXXX|          3|         Smith|                 56178|    2014-07-15 00:00:...|                   PENDING|{140508, 957, 299...|
|     XXXXXXXXX|          3|         Smith|                 56178|    2014-07-15 00:00:...|                   PENDING|{140509, 502, 150.0}|
|     XXXXXXXXX|          3|         Smith|                 56178|    2014-07-15 00:00:...|                   PENDING|{140510, 957, 299...|
+--------------+-----------+--------------+----------------------+------------------------+--------------------------+--------------------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import col

In [37]:
customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_email',
        'customer_id',
        'customer_lname',
        col('order_details.order_id').alias('order_id'),
        col('order_details.order_date').alias('order_date'),
        col('order_details.order_status').alias('order_status'),
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    select(
        'customer_email',
        'customer_id',
        'customer_lname',
        'order_id',
        'order_date',
        'order_status',
        'order_item_details.*'
    ). \
    show()

+--------------+-----------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+
|customer_email|customer_id|customer_lname|order_id|          order_date|   order_status|order_item_id|order_item_product_id|order_item_subtotal|
+--------------+-----------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+
|     XXXXXXXXX|          1|     Hernandez|   22945|2013-12-13 00:00:...|       COMPLETE|        57439|                  191|             499.95|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|       COMPLETE|        84536|                  957|             299.98|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|       COMPLETE|        84537|                 1073|             199.99|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|       COMPLETE|        84538|                  502|               50.0|
|     XXXXXXXXX|          2|       Barrett|   67863|2013-11-30 00:00:...|       COMPLETE|       169674|                 1004|             399.98|
|     XXXXXXXXX|          2|       Barrett|   15192|2013-10-29 00:00:...|PENDING_PAYMENT|        38007|                 1014|              99.96|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145019|                  365|             119.98|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145020|                 1073|             199.99|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145021|                  627|             199.95|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145022|                 1014|              99.96|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145023|                 1014|             149.94|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144129|                  365|             239.96|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144130|                  365|             239.96|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144131|                 1014|              99.96|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144132|                 1073|             199.99|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140506|                  502|              100.0|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140507|                  365|             299.95|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140508|                  957|             299.98|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140509|                  502|              150.0|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140510|                  957|             299.98|
+--------------+-----------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+
only showing top 20 rows

In [40]:
customer_details = customer_details_df. \
    select(
        'customer_id',
        'customer_email',
        'customer_lname',
        explode('order_details').alias('order_details')
    ). \
    select(
        'customer_email',
        'customer_id',
        'customer_lname',
        col('order_details.order_id').alias('order_id'),
        col('order_details.order_date').alias('order_date'),
        col('order_details.order_status').alias('order_status'),
        explode('order_details.order_item_details').alias('order_item_details')
    ). \
    select(
        'customer_email',
        'customer_id',
        'customer_lname',
        'order_id',
        'order_date',
        'order_status',
        'order_item_details.*'
    )

In [41]:
customer_details.printSchema()

root
 |-- customer_email: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_item_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [42]:
customer_details.show(5)

+--------------+-----------+--------------+--------+--------------------+------------+-------------+---------------------+-------------------+
|customer_email|customer_id|customer_lname|order_id|          order_date|order_status|order_item_id|order_item_product_id|order_item_subtotal|
+--------------+-----------+--------------+--------+--------------------+------------+-------------+---------------------+-------------------+
|     XXXXXXXXX|          1|     Hernandez|   22945|2013-12-13 00:00:...|    COMPLETE|        57439|                  191|             499.95|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|    COMPLETE|        84536|                  957|             299.98|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|    COMPLETE|        84537|                 1073|             199.99|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|    COMPLETE|        84538|                  502|               50.0|
|     XXXXXXXXX|          2|       Barrett|   67863|2013-11-30 00:00:...|    COMPLETE|       169674|                 1004|             399.98|
+--------------+-----------+--------------+--------+--------------------+------------+-------------+---------------------+-------------------+
only showing top 5 rows

In [45]:
customer_details.count()

172198

In [46]:
customer_details. \
    drop('order_id','order_item_id','order_item_product_id'). \
    show()

+--------------+-----------+--------------+--------------------+---------------+-------------------+
|customer_email|customer_id|customer_lname|          order_date|   order_status|order_item_subtotal|
+--------------+-----------+--------------+--------------------+---------------+-------------------+
|     XXXXXXXXX|          1|     Hernandez|2013-12-13 00:00:...|       COMPLETE|             499.95|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|       COMPLETE|             299.98|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|       COMPLETE|             199.99|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|       COMPLETE|               50.0|
|     XXXXXXXXX|          2|       Barrett|2013-11-30 00:00:...|       COMPLETE|             399.98|
|     XXXXXXXXX|          2|       Barrett|2013-10-29 00:00:...|PENDING_PAYMENT|              99.96|
|     XXXXXXXXX|          2|       Barrett|2013-08-02 00:00:...|        ON_HOLD|             119.98|
|     XXXXXXXXX|          2|       Barrett|2013-08-02 00:00:...|        ON_HOLD|             199.99|
|     XXXXXXXXX|          2|       Barrett|2013-08-02 00:00:...|        ON_HOLD|             199.95|
|     XXXXXXXXX|          2|       Barrett|2013-08-02 00:00:...|        ON_HOLD|              99.96|
|     XXXXXXXXX|          2|       Barrett|2013-08-02 00:00:...|        ON_HOLD|             149.94|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|       COMPLETE|             239.96|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|       COMPLETE|             239.96|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|       COMPLETE|              99.96|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|       COMPLETE|             199.99|
|     XXXXXXXXX|          3|         Smith|2014-07-15 00:00:...|        PENDING|              100.0|
|     XXXXXXXXX|          3|         Smith|2014-07-15 00:00:...|        PENDING|             299.95|
|     XXXXXXXXX|          3|         Smith|2014-07-15 00:00:...|        PENDING|             299.98|
|     XXXXXXXXX|          3|         Smith|2014-07-15 00:00:...|        PENDING|              150.0|
|     XXXXXXXXX|          3|         Smith|2014-07-15 00:00:...|        PENDING|             299.98|
+--------------+-----------+--------------+--------------------+---------------+-------------------+
only showing top 20 rows

In [47]:
customer_details. \
    drop('order_id','order_item_id','order_item_product_id'). \
    filter("order_status IN ('COMPLETE','CLOSED')"). \
    show()

+--------------+-----------+--------------+--------------------+------------+-------------------+
|customer_email|customer_id|customer_lname|          order_date|order_status|order_item_subtotal|
+--------------+-----------+--------------+--------------------+------------+-------------------+
|     XXXXXXXXX|          1|     Hernandez|2013-12-13 00:00:...|    COMPLETE|             499.95|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|    COMPLETE|             299.98|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|    COMPLETE|             199.99|
|     XXXXXXXXX|          2|       Barrett|2014-02-18 00:00:...|    COMPLETE|               50.0|
|     XXXXXXXXX|          2|       Barrett|2013-11-30 00:00:...|    COMPLETE|             399.98|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|    COMPLETE|             239.96|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|    COMPLETE|             239.96|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|    COMPLETE|              99.96|
|     XXXXXXXXX|          3|         Smith|2014-07-24 00:00:...|    COMPLETE|             199.99|
|     XXXXXXXXX|          3|         Smith|2014-02-26 00:00:...|    COMPLETE|             399.98|
|     XXXXXXXXX|          3|         Smith|2014-02-26 00:00:...|    COMPLETE|              27.99|
|     XXXXXXXXX|          3|         Smith|2013-12-19 00:00:...|    COMPLETE|              99.99|
|     XXXXXXXXX|          3|         Smith|2013-12-19 00:00:...|    COMPLETE|              100.0|
|     XXXXXXXXX|          3|         Smith|2013-12-19 00:00:...|    COMPLETE|               50.0|
|     XXXXXXXXX|          3|         Smith|2013-12-14 00:00:...|    COMPLETE|             129.99|
|     XXXXXXXXX|          3|         Smith|2013-12-14 00:00:...|    COMPLETE|             299.98|
|     XXXXXXXXX|          3|         Smith|2013-12-14 00:00:...|    COMPLETE|             299.98|
|     XXXXXXXXX|          3|         Smith|2013-12-14 00:00:...|    COMPLETE|             199.99|
|     XXXXXXXXX|          4|         Jones|2014-06-10 00:00:...|      CLOSED|             119.98|
|     XXXXXXXXX|          4|         Jones|2014-06-10 00:00:...|      CLOSED|             119.98|
+--------------+-----------+--------------+--------------------+------------+-------------------+
only showing top 20 rows

In [48]:
from pyspark.sql.functions import date_format

In [49]:
customer_details. \
    withColumn('order_month',date_format('order_date','yyyyMM')). \
    show()

+--------------+-----------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+-----------+
|customer_email|customer_id|customer_lname|order_id|          order_date|   order_status|order_item_id|order_item_product_id|order_item_subtotal|order_month|
+--------------+-----------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+-----------+
|     XXXXXXXXX|          1|     Hernandez|   22945|2013-12-13 00:00:...|       COMPLETE|        57439|                  191|             499.95|     201312|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|       COMPLETE|        84536|                  957|             299.98|     201402|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|       COMPLETE|        84537|                 1073|             199.99|     201402|
|     XXXXXXXXX|          2|       Barrett|   33865|2014-02-18 00:00:...|       COMPLETE|        84538|                  502|               50.0|     201402|
|     XXXXXXXXX|          2|       Barrett|   67863|2013-11-30 00:00:...|       COMPLETE|       169674|                 1004|             399.98|     201311|
|     XXXXXXXXX|          2|       Barrett|   15192|2013-10-29 00:00:...|PENDING_PAYMENT|        38007|                 1014|              99.96|     201310|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145019|                  365|             119.98|     201308|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145020|                 1073|             199.99|     201308|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145021|                  627|             199.95|     201308|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145022|                 1014|              99.96|     201308|
|     XXXXXXXXX|          2|       Barrett|   57963|2013-08-02 00:00:...|        ON_HOLD|       145023|                 1014|             149.94|     201308|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144129|                  365|             239.96|     201407|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144130|                  365|             239.96|     201407|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144131|                 1014|              99.96|     201407|
|     XXXXXXXXX|          3|         Smith|   57617|2014-07-24 00:00:...|       COMPLETE|       144132|                 1073|             199.99|     201407|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140506|                  502|              100.0|     201407|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140507|                  365|             299.95|     201407|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140508|                  957|             299.98|     201407|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140509|                  502|              150.0|     201407|
|     XXXXXXXXX|          3|         Smith|   56178|2014-07-15 00:00:...|        PENDING|       140510|                  957|             299.98|     201407|
+--------------+-----------+--------------+--------+--------------------+---------------+-------------+---------------------+-------------------+-----------+
only showing top 20 rows

In [54]:
customer_details. \
    drop('order_id','order_item_id','order_item_product_id'). \
    filter("order_status IN ('COMPLETE','CLOSED')"). \
    groupBy(
        'customer_id',
        'customer_lname',
        'customer_email',
        date_format('order_date','yyyy-MM').alias('order_month')
    ). \
    agg(round(sum('order_item_subtotal'),2).alias('order_revenue')). \
    orderBy('customer_id','order_month',col('order_revenue').desc()). \
    show()

+-----------+--------------+--------------+-----------+-------------+
|customer_id|customer_lname|customer_email|order_month|order_revenue|
+-----------+--------------+--------------+-----------+-------------+
|          1|     Hernandez|     XXXXXXXXX|    2013-12|       499.95|
|          2|       Barrett|     XXXXXXXXX|    2013-11|       399.98|
|          2|       Barrett|     XXXXXXXXX|    2014-02|       549.97|
|          3|         Smith|     XXXXXXXXX|    2013-12|      1179.93|
|          3|         Smith|     XXXXXXXXX|    2014-02|       427.97|
|          3|         Smith|     XXXXXXXXX|    2014-07|       779.87|
|          4|         Jones|     XXXXXXXXX|    2013-09|       899.75|
|          4|         Jones|     XXXXXXXXX|    2014-05|       519.93|
|          4|         Jones|     XXXXXXXXX|    2014-06|       299.95|
|          5|        Hudson|     XXXXXXXXX|    2014-04|       129.99|
|          7|        Wilcox|     XXXXXXXXX|    2013-12|       629.94|
|          8|         Smith|     XXXXXXXXX|    2013-09|       849.76|
|          8|         Smith|     XXXXXXXXX|    2013-12|       909.94|
|          8|         Smith|     XXXXXXXXX|    2014-01|       353.93|
|          9|         Perez|     XXXXXXXXX|    2013-10|       224.94|
|          9|         Perez|     XXXXXXXXX|    2014-07|       704.92|
|         10|         Smith|     XXXXXXXXX|    2014-05|       849.95|
|         10|         Smith|     XXXXXXXXX|    2014-07|       414.84|
|         11|       Huffman|     XXXXXXXXX|    2013-10|       809.79|
|         11|       Huffman|     XXXXXXXXX|    2013-11|       819.91|
+-----------+--------------+--------------+-----------+-------------+
only showing top 20 rows