## 115 Create Spark Metastore Tables

In [1]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML2").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@534dea30

org.apache.spark.sql.SparkSession@534dea30

In [3]:
%%sql

use itversity_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
spark.sql("USE itversity_retail")

[]

In [5]:
%%sql

DROP TABLE orders

++
||
++
++

In [6]:
%%sql

CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

++
||
++
++

In [7]:
%%sql

show tables

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itversity_retail|order_items|      false|
|itversity_retail|     orders|      false|
|itversity_retail|   students|      false|
+----------------+-----------+-----------+

In [9]:
%%sql

drop database if exists itversity_sms  cascade

++
||
++
++

In [10]:
%%sql

create database if not exists itversity_sms

++
||
++
++

In [11]:
%%sql

use itversity_sms

++
||
++
++

In [13]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_number STRING,
    student_address STRING
) STORED AS TEXTFILE

++
||
++
++

In [14]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [15]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', '1234567890', NULL)

++
||
++
++

In [16]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', '2345678901', 'A Street, One City, Some State, 12345'),
    (4, 'Bubble', 'Guppy', '6789012345', 'Bubbly Street, Guppy, La la land, 45678')

++
||
++
++

In [17]:
%%sql

select * from students

+----------+------------------+-----------------+--------------------+---...

+----------+------------------+-----------------+--------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_number|     student_address|
+----------+------------------+-----------------+--------------------+--------------------+
|         3|            Mickey|            Mouse|          2345678901|A Street, One Cit...|
|         1|             Scott|            Tiger|                null|                null|
|         2|            Donald|             Duck|          1234567890|                null|
|         4|            Bubble|            Guppy|          6789012345|Bubbly Street, Gu...|
+----------+------------------+-----------------+--------------------+--------------------+

In [18]:
%%sql

INSERT INTO students VALUES ('Scott', 'Tiger', 1, NULL, NULL)

++
||
++
++

In [19]:
%%sql

select * from students

|         4|            Bubble|            Guppy|          6789012345|Bub...

+----------+------------------+-----------------+--------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_number|     student_address|
+----------+------------------+-----------------+--------------------+--------------------+
|         3|            Mickey|            Mouse|          2345678901|A Street, One Cit...|
|      null|             Tiger|                1|                null|                null|
|         1|             Scott|            Tiger|                null|                null|
|         2|            Donald|             Duck|          1234567890|                null|
|         4|            Bubble|            Guppy|          6789012345|Bubbly Street, Gu...|
+----------+------------------+-----------------+--------------------+--------------------+