## 116 Overview of Data Types used in Metastore

In [1]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML2").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@63cd2ac4

org.apache.spark.sql.SparkSession@63cd2ac4

In [3]:
%%sql

use itversity_retail

Waiting for a Spark session to start...

++
||
++
++

In [11]:
%%sql

drop database if exists itversity_sms cascade

++
||
++
++

In [12]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_sms

++
||
++
++

In [13]:
%%sql

use itversity_sms

++
||
++
++

In [14]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS TEXTFILE
ROW FORMAT
    DELIMITED FIELDS TERMINATED BY '\t'
    COLLECTION ITEMS TERMINATED BY ','

++
||
++
++

In [15]:
%%sql

DESCRIBE students

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|          student_id|                 int|   null|
|  student_first_name|              string|   null|
|   student_last_name|              string|   null|
|student_phone_num...|       array<string>|   null|
|     student_address|struct<street:str...|   null|
+--------------------+--------------------+-------+

In [16]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [17]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+---------------------+---------------+
|student_id|student_first_name|student_last_name|student_phone_numbers|student_address|
+----------+------------------+-----------------+---------------------+---------------+
|         1|             Scott|            Tiger|                 null|           null|
+----------+------------------+-----------------+---------------------+---------------+

In [18]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)

++
||
++
++

In [19]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

++
||
++
++

In [20]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+-----------------...

+----------+------------------+-----------------+---------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_numbers|     student_address|
+----------+------------------+-----------------+---------------------+--------------------+
|         2|            Donald|             Duck| [1234567890, 2345...|                null|
|         3|            Mickey|            Mouse| [1234567890, 2345...|[A Street, One Ci...|
|         1|             Scott|            Tiger|                 null|                null|
|         4|            Bubble|            Guppy| [5678901234, 6789...|[Bubbly Street, G...|
+----------+------------------+-----------------+---------------------+--------------------+

In [24]:
%%sql

alter table students change student_id student_id2  bigint

Magic sql failed to execute with error:
ALTER TABLE CHANGE COLUMN is not supported for changing column 'student_id' with type 'IntegerType' to 'student_id2' with type 'LongType';

In [25]:
%%sql

describe students

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|          student_id|                 int|   null|
|  student_first_name|              string|   null|
|   student_last_name|              string|   null|
|student_phone_num...|       array<string>|   null|
|     student_address|struct<street:str...|   null|
+--------------------+--------------------+-------+

In [26]:
%%sql

describe students

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|          student_id|              bigint|   null|
|  student_first_name|              string|   null|
|   student_last_name|              string|   null|
|student_phone_num...|       array<string>|   null|
|     student_address|struct<street:str...|   null|
+--------------------+--------------------+-------+

In [27]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+----------------...

+----------+------------------+-----------------+---------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_numbers|     student_address|
+----------+------------------+-----------------+---------------------+--------------------+
|         2|            Donald|             Duck| [1234567890, 2345...|                null|
|         3|            Mickey|            Mouse| [1234567890, 2345...|[A Street, One Ci...|
|         1|             Scott|            Tiger|                 null|                null|
|         4|            Bubble|            Guppy| [5678901234, 6789...|[Bubbly Street, G...|
+----------+------------------+-----------------+---------------------+--------------------+

In [30]:
import sys.process._

s"hdfs dfs -ls /user/${username}/warehouse/${username}_sms.db/students"!

Found 4 items
-rwxr-xr-x   1 itversity supergroup         39 2024-02-01 05:35 /user/itversity/warehouse/itversity_sms.db/students/part-00000-0dcb5ba5-bc5b-4ba4-91dd-0708d7f6f11d-c000
-rwxr-xr-x   1 itversity supergroup         72 2024-02-01 05:35 /user/itversity/warehouse/itversity_sms.db/students/part-00000-341897d5-a91f-4272-a00f-7ae326ae0802-c000
-rwxr-xr-x   1 itversity supergroup         20 2024-02-01 05:33 /user/itversity/warehouse/itversity_sms.db/students/part-00000-6d953d3f-8d9c-4155-b50c-bbb37f1be9f3-c000
-rwxr-xr-x   1 itversity supergroup         74 2024-02-01 05:35 /user/itversity/warehouse/itversity_sms.db/students/part-00001-341897d5-a91f-4272-a00f-7ae326ae0802-c000

warning: there was one feature warning; re-run with -feature for details

0

In [31]:
import sys.process._

s"hdfs dfs -cat /user/${username}/warehouse/${username}_sms.db/students/part-00000-0dcb5ba5-bc5b-4ba4-91dd-0708d7f6f11d-c000"!

2	Donald	Duck	1234567890,2345678901	\N

warning: there was one feature warning; re-run with -feature for details

0

In [32]:
import sys.process._

s"hdfs dfs -cat /user/${username}/warehouse/${username}_sms.db/students/*"!

2	Donald	Duck	1234567890,2345678901	\N
3	Mickey	Mouse	1234567890,2345678901	A Street,One City,Some State,12345
1	Scott	Tiger	\N	\N
4	Bubble	Guppy	5678901234,6789012345	Bubbly Street,Guppy,La la land,45678

warning: there was one feature warning; re-run with -feature for details

0