## Section 14 Apache spark using PYthon

### 158 Starting Spark

In [1]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

In [2]:
username

'itv011204'

In [3]:
spark = SparkSession. \
        builder. \
        config("spark.ui.port","0"). \
        config("spark.sql.warehouse.dir",f"/user/{username}/warehouse"). \
        enableHiveSupport(). \
        appName(f"{username} | Python - Data processing - Overview"). \
        master("yarn"). \
        getOrCreate()

In [4]:
spark.version

'3.1.2'

In [5]:
spark

In [20]:
spark.read

In [ ]:
spark.read.csv?

In [ ]:
help(spark.read.csv)

In [8]:
spark. \
    read. \
    csv('/public/retail_db/orders',
        schema='''
            order_id INT, 
            order_date STRING, 
            order_customer_id INT, 
            order_status STRING
        '''
       ). \
    show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

In [9]:
spark. \
    read. \
    json('/public/retail_db_json/orders'). \
    show()

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
|             7130|2013-07-25 00:00:...|       6|       COMPLETE|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|
|             5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|             5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|              918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|             1837|2013-07-25 00:00:...|      12|         CLOSED|
|             9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|             9842|2013-07-25 00:00:...|      14|     PROCESSING|
|             2568|2013-07-25 00:00:...|      15|       COMPLETE|
|             7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|             2667|2013-07-25 00:00:...|      17|       COMPLETE|
|             1205|2013-07-25 00:00:...|      18|         CLOSED|
|             9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|             9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------------+--------------------+--------+---------------+
only showing top 20 rows

### 160 Understanding Airlines data

In [1]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

In [2]:
username

'itv011204'

In [3]:
spark = SparkSession. \
    builder. \
    config("spark.ui.port","0"). \
    config("spark.sql.warehouse.dir",f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    appName(f'{username} | Python - Data Processing - Overview'). \
    master('yarn'). \
    getOrCreate()

In [13]:
spark

In [ ]:
%%sh

hdfs dfs -ls /public/airlines_all/airlines

In [19]:
%%sh

hdfs dfs -ls -h /public/airlines_all/airlines/part-00000

-rw-r--r--   2 hdfs supergroup     64.0 M 2021-01-28 08:56 /public/airlines_all/airlines/part-00000

In [20]:
airlines = spark.read. \
    text("/public/airlines_all/airlines/part-00000")

In [21]:
type(airlines)

pyspark.sql.dataframe.DataFrame

In [22]:
help(airlines.show)

Help on method show in module pyspark.sql.dataframe:

show(n=20, truncate=True, vertical=False) method of pyspark.sql.dataframe.DataFrame instance
    Prints the first ``n`` rows to the console.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    n : int, optional
        Number of rows to show.
    truncate : bool, optional
        If set to ``True``, truncate strings longer than 20 chars by default.
        If set to a number greater than one, truncates long strings to length ``truncate``
        and align cells right.
    vertical : bool, optional
        If set to ``True``, print output rows vertically (one line
        per column value).

    Examples
    --------
    >>> df
    DataFrame[age: int, name: string]
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+
    >>> df.show(truncate=3)
    +---+----+
    |age|name|
    +---+----+
    |  2| Ali|
    |  5| Bob|
    +---+----+
    >>> df.show(vertical=True)
    -RECORD 0-----
     age  | 2
     name | Alice
    -RECORD 1-----
     age  | 5
     name | Bob

In [23]:
airlines.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                                                                                                                                |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,IsArrDelayed,IsDepDelayed|
|1987,10,14,3,741,730,912,849,PS,1451,NA,91,79,NA,23,11,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,15,4,729,730,903,849,PS,1451,NA,94,79,NA,14,-1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,NO                                                                                                                                                                                                                                |
|1987,10,17,6,741,730,918,849,PS,1451,NA,97,79,NA,29,11,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,18,7,729,730,847,849,PS,1451,NA,78,79,NA,-2,-1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,NO,NO                                                                                                                                                                                                                                 |
|1987,10,19,1,749,730,922,849,PS,1451,NA,93,79,NA,33,19,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,21,3,728,730,848,849,PS,1451,NA,80,79,NA,-1,-2,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,NO,NO                                                                                                                                                                                                                                 |
|1987,10,22,4,728,730,852,849,PS,1451,NA,84,79,NA,3,-2,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,NO                                                                                                                                                                                                                                 |
|1987,10,23,5,731,730,902,849,PS,1451,NA,91,79,NA,13,1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                                |
|1987,10,24,6,744,730,908,849,PS,1451,NA,84,79,NA,19,14,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,25,7,729,730,851,849,PS,1451,NA,82,79,NA,2,-1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,NO                                                                                                                                                                                                                                 |
|1987,10,26,1,735,730,904,849,PS,1451,NA,89,79,NA,15,5,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                                |
|1987,10,28,3,741,725,919,855,PS,1451,NA,98,90,NA,24,16,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,29,4,742,725,906,855,PS,1451,NA,84,90,NA,11,17,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,31,6,726,725,848,855,PS,1451,NA,82,90,NA,-7,1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA,NO,YES                                                                                                                                                                                                                                 |
|1987,10,1,4,936,915,1035,1001,PS,1451,NA,59,46,NA,34,21,SFO,RNO,192,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                              |
|1987,10,2,5,918,915,1017,1001,PS,1451,NA,59,46,NA,16,3,SFO,RNO,192,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                               |
|1987,10,3,6,928,915,1037,1001,PS,1451,NA,69,46,NA,36,13,SFO,RNO,192,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                              |
|1987,10,4,7,914,915,1003,1001,PS,1451,NA,49,46,NA,2,-1,SFO,RNO,192,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,NO                                                                                                                                                                                                                                |
|1987,10,5,1,1042,915,1129,1001,PS,1451,NA,47,46,NA,88,87,SFO,RNO,192,NA,NA,0,NA,0,NA,NA,NA,NA,NA,YES,YES                                                                                                                                                                                                                             |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

### 161 Inferring Schema using Spark DataFrame APIs

In [5]:
airlines_part_00000 = spark.read. \
    csv("/public/airlines_all/airlines/part-00000",
        header=True,
        inferSchema=True)

In [6]:
type(airlines_part_00000)

pyspark.sql.dataframe.DataFrame

In [7]:
airlines_part_00000.show(truncate=False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|1987|10   |14        |3        |741    |730       |912    |849       |PS           |1451     |NA     |91               |79            |NA     |23      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |15        |4        |729    |730       |903    |849       |PS           |1451     |NA     |94               |79            |NA     |14      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |17        |6        |741    |730       |918    |849       |PS           |1451     |NA     |97               |79            |NA     |29      |11      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |18        |7        |729    |730       |847    |849       |PS           |1451     |NA     |78               |79            |NA     |-2      |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|10   |19        |1        |749    |730       |922    |849       |PS           |1451     |NA     |93               |79            |NA     |33      |19      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |21        |3        |728    |730       |848    |849       |PS           |1451     |NA     |80               |79            |NA     |-1      |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|10   |22        |4        |728    |730       |852    |849       |PS           |1451     |NA     |84               |79            |NA     |3       |-2      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |23        |5        |731    |730       |902    |849       |PS           |1451     |NA     |91               |79            |NA     |13      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |24        |6        |744    |730       |908    |849       |PS           |1451     |NA     |84               |79            |NA     |19      |14      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |25        |7        |729    |730       |851    |849       |PS           |1451     |NA     |82               |79            |NA     |2       |-1      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |26        |1        |735    |730       |904    |849       |PS           |1451     |NA     |89               |79            |NA     |15      |5       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |28        |3        |741    |725       |919    |855       |PS           |1451     |NA     |98               |90            |NA     |24      |16      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |29        |4        |742    |725       |906    |855       |PS           |1451     |NA     |84               |90            |NA     |11      |17      |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |31        |6        |726    |725       |848    |855       |PS           |1451     |NA     |82               |90            |NA     |-7      |1       |SAN   |SFO |447     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |YES         |
|1987|10   |1         |4        |936    |915       |1035   |1001      |PS           |1451     |NA     |59               |46            |NA     |34      |21      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |2         |5        |918    |915       |1017   |1001      |PS           |1451     |NA     |59               |46            |NA     |16      |3       |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |3         |6        |928    |915       |1037   |1001      |PS           |1451     |NA     |69               |46            |NA     |36      |13      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |4         |7        |914    |915       |1003   |1001      |PS           |1451     |NA     |49               |46            |NA     |2       |-1      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |NO          |
|1987|10   |5         |1        |1042   |915       |1129   |1001      |PS           |1451     |NA     |47               |46            |NA     |88      |87      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|10   |6         |2        |934    |915       |1024   |1001      |PS           |1451     |NA     |50               |46            |NA     |23      |19      |SFO   |RNO |192     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 20 rows

In [8]:
airlines_part_00000.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- IsArrDelayed: string (nullable = true)
 |-- IsDepDelayed: string (nullable = true)

In [9]:
airlines_part_00000.schema

StructType(List(StructField(Year,IntegerType,true),StructField(Month,IntegerType,true),StructField(DayofMonth,IntegerType,true),StructField(DayOfWeek,IntegerType,true),StructField(DepTime,StringType,true),StructField(CRSDepTime,IntegerType,true),StructField(ArrTime,StringType,true),StructField(CRSArrTime,IntegerType,true),StructField(UniqueCarrier,StringType,true),StructField(FlightNum,IntegerType,true),StructField(TailNum,StringType,true),StructField(ActualElapsedTime,StringType,true),StructField(CRSElapsedTime,IntegerType,true),StructField(AirTime,StringType,true),StructField(ArrDelay,StringType,true),StructField(DepDelay,StringType,true),StructField(Origin,StringType,true),StructField(Dest,StringType,true),StructField(Distance,StringType,true),StructField(TaxiIn,StringType,true),StructField(TaxiOut,StringType,true),StructField(Cancelled,IntegerType,true),StructField(CancellationCode,StringType,true),StructField(Diverted,IntegerType,true),StructField(CarrierDelay,StringType,true),StructField(WeatherDelay,StringType,true),StructField(NASDelay,StringType,true),StructField(SecurityDelay,StringType,true),StructField(LateAircraftDelay,StringType,true),StructField(IsArrDelayed,StringType,true),StructField(IsDepDelayed,StringType,true)))

In [10]:
type(airlines_part_00000.schema)

pyspark.sql.types.StructType

In [11]:
airlines_schema = spark.read. \
    csv("/public/airlines_all/airlines/part-00000",
       header=True,
       inferSchema=True). \
    schema

In [12]:
type(airlines_schema)

pyspark.sql.types.StructType

In [16]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None, locale=None, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None, modifiedBefore=None, modifiedAfter=None, unescapedQuoteHandling=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    .. versionadded:: 2.0.0

    Parameters
    ----------
    path : str or list
        string, or list of strings, for input path(s),
        or RDD of Strings storing CSV rows.
    schema : :class:`pyspark.sql.types.StructType` or str, optional
        an optional :class:`pyspark.sql.types.StructType` for the input schema
        or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    sep : str, optional
        sets a separator (one or more characters) for each field and value. If None is
        set, it uses the default value, ``,``.
    encoding : str, optional
        decodes the CSV files by the given encoding type. If None is set,
        it uses the default value, ``UTF-8``.
    quote : str, optional
        sets a single character used for escaping quoted values where the
        separator can be part of the value. If None is set, it uses the default
        value, ``"``. If you would like to turn off quotations, you need to set an
        empty string.
    escape : str, optional
        sets a single character used for escaping quotes inside an already
        quoted value. If None is set, it uses the default value, ``\``.
    comment : str, optional
        sets a single character used for skipping lines beginning with this
        character. By default (None), it is disabled.
    header : str or bool, optional
        uses the first line as names of columns. If None is set, it uses the
        default value, ``false``.

        .. note:: if the given path is a RDD of Strings, this header
            option will remove all lines same with the header if exists.

    inferSchema : str or bool, optional
        infers the input schema automatically from data. It requires one extra
        pass over the data. If None is set, it uses the default value, ``false``.
    enforceSchema : str or bool, optional
        If it is set to ``true``, the specified or inferred schema will be
        forcibly applied to datasource files, and headers in CSV files will be
        ignored. If the option is set to ``false``, the schema will be
        validated against all headers in CSV files or the first header in RDD
        if the ``header`` option is set to ``true``. Field names in the schema
        and column names in CSV headers are checked by their positions
        taking into account ``spark.sql.caseSensitive``. If None is set,
        ``true`` is used by default. Though the default value is ``true``,
        it is recommended to disable the ``enforceSchema`` option
        to avoid incorrect results.
    ignoreLeadingWhiteSpace : str or bool, optional
        A flag indicating whether or not leading whitespaces from
        values being read should be skipped. If None is set, it
        uses the default value, ``false``.
    ignoreTrailingWhiteSpace : str or bool, optional
        A flag indicating whether or not trailing whitespaces from
        values being read should be skipped. If None is set, it
        uses the default value, ``false``.
    nullValue : str, optional
        sets the string representation of a null value. If None is set, it uses
        the default value, empty string. Since 2.0.1, this ``nullValue`` param
        applies to all supported types including the string type.
    nanValue : str, optional
        sets the string representation of a non-number value. If None is set, it
        uses the default value, ``NaN``.
    positiveInf : str, optional
        sets the string representation of a positive infinity value. If None
        is set, it uses the default value, ``Inf``.
    negativeInf : str, optional
        sets the string representation of a negative infinity value. If None
        is set, it uses the default value, ``Inf``.
    dateFormat : str, optional
        sets the string that indicates a date format. Custom date formats
        follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to date type. If None is set, it uses the
        default value, ``yyyy-MM-dd``.
    timestampFormat : str, optional
        sets the string that indicates a timestamp format.
        Custom date formats follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to timestamp type. If None is set, it uses the
        default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
    maxColumns : str or int, optional
        defines a hard limit of how many columns a record can have. If None is
        set, it uses the default value, ``20480``.
    maxCharsPerColumn : str or int, optional
        defines the maximum number of characters allowed for any given
        value being read. If None is set, it uses the default value,
        ``-1`` meaning unlimited length.
    maxMalformedLogPerPartition : str or int, optional
        this parameter is no longer used since Spark 2.2.0.
        If specified, it is ignored.
    mode : str, optional
        allows a mode for dealing with corrupt records during parsing. If None is
        set, it uses the default value, ``PERMISSIVE``. Note that Spark tries to
        parse only required columns in CSV under column pruning. Therefore, corrupt
        records can be different based on required set of fields. This behavior can
        be controlled by ``spark.sql.csv.parser.columnPruning.enabled``
        (enabled by default).

        * ``PERMISSIVE``: when it meets a corrupted record, puts the malformed string \
          into a field configured by ``columnNameOfCorruptRecord``, and sets malformed \
          fields to ``null``. To keep corrupt records, an user can set a string type \
          field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a \
          schema does not have the field, it drops corrupt records during parsing. \
          A record with less/more tokens than schema is not a corrupted record to CSV. \
          When it meets a record having fewer tokens than the length of the schema, \
          sets ``null`` to extra fields. When the record has more tokens than the \
          length of the schema, it drops extra tokens.
        * ``DROPMALFORMED``: ignores the whole corrupted records.
        * ``FAILFAST``: throws an exception when it meets corrupted records.

    columnNameOfCorruptRecord : str, optional
        allows renaming the new field having malformed string
        created by ``PERMISSIVE`` mode. This overrides
        ``spark.sql.columnNameOfCorruptRecord``. If None is set,
        it uses the value specified in
        ``spark.sql.columnNameOfCorruptRecord``.
    multiLine : str or bool, optional
        parse records, which may span multiple lines. If None is
        set, it uses the default value, ``false``.
    charToEscapeQuoteEscaping : str, optional
        sets a single character used for escaping the escape for
        the quote character. If None is set, the default value is
        escape character when escape and quote characters are
        different, ``\0`` otherwise.
    samplingRatio : str or float, optional
        defines fraction of rows used for schema inferring.
        If None is set, it uses the default value, ``1.0``.
    emptyValue : str, optional
        sets the string representation of an empty value. If None is set, it uses
        the default value, empty string.
    locale : str, optional
        sets a locale as language tag in IETF BCP 47 format. If None is set,
        it uses the default value, ``en-US``. For instance, ``locale`` is used while
        parsing dates and timestamps.
    lineSep : str, optional
        defines the line separator that should be used for parsing. If None is
        set, it covers all ``\\r``, ``\\r\\n`` and ``\\n``.
        Maximum length is 1 character.
    pathGlobFilter : str or bool, optional
        an optional glob pattern to only include files with paths matching
        the pattern. The syntax follows `org.apache.hadoop.fs.GlobFilter`.
        It does not change the behavior of
        `partition discovery <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery>`_.  # noqa
    recursiveFileLookup : str or bool, optional
        recursively scan a directory for files. Using this option disables
        `partition discovery <https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery>`_.  # noqa

        modification times occurring before the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    modifiedBefore (batch only) : an optional timestamp to only include files with
        modification times occurring before the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    modifiedAfter (batch only) : an optional timestamp to only include files with
        modification times occurring after the specified time. The provided timestamp
        must be in the following format: YYYY-MM-DDTHH:mm:ss (e.g. 2020-06-01T13:00:00)
    unescapedQuoteHandling : str, optional
        defines how the CsvParser will handle values with unescaped quotes. If None is
        set, it uses the default value, ``STOP_AT_DELIMITER``.

        * ``STOP_AT_CLOSING_QUOTE``: If unescaped quotes are found in the input, accumulate
          the quote character and proceed parsing the value as a quoted value, until a closing
          quote is found.
        * ``BACK_TO_DELIMITER``: If unescaped quotes are found in the input, consider the value
          as an unquoted value. This will make the parser accumulate all characters of the current
          parsed value until the delimiter is found. If no delimiter is found in the value, the
          parser will continue accumulating characters from the input until a delimiter or line
          ending is found.
        * ``STOP_AT_DELIMITER``: If unescaped quotes are found in the input, consider the value
          as an unquoted value. This will make the parser accumulate all characters until the
          delimiter or a line ending is found in the input.
        * ``SKIP_VALUE``: If unescaped quotes are found in the input, the content parsed
          for the given value will be skipped and the value set in nullValue will be produced
          instead.
        * ``RAISE_ERROR``: If unescaped quotes are found in the input, a TextParsingException
          will be thrown.

    Examples
    --------
    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

In [17]:
airlines = spark.read. \
    schema(airlines_schema). \
    csv("/public/airlines_all/airlines/part*",
           header=True
       )

In [18]:
airlines = spark.read. \
    csv("/public/airlines_all/airlines/part*",
           header=True,
           schema=airlines_schema
       )

In [19]:
help(airlines)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3.0
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but give the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities. If
 |          the input `col` is a string, the output is a list of floats. If the
 |          input `col` is a list or tuple of strings, the output is also a
 |          list, but each element in it is a list of floats, i.e., the output
 |          is a list of list of floats.
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this :class:`DataFrame`, which is especially useful in iterative algorithms
 |      where the plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional
 |          Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Examples
 |      --------
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.count()
 |      2
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      other : :class:`DataFrame`
 |          Right side of the cartesian product.
 |
 |      Examples
 |      --------
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column. Distinct items will make the first item of
 |          each row.
 |      col2 : str
 |          The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      .. versionadded:: 1.3.1
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      Notes
 |      -----
 |      This function is meant for exploratory data analysis, as we make no
 |      guarantee about the backward compatibility of the schema of the resulting
 |      :class:`DataFrame`.
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      Examples
 |      --------
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      See Also
 |      --------
 |      DataFrame.summary
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.distinct().count()
 |      2
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols: str or :class:`Column`
 |          a name of the column, or the :class:`Column` to drop
 |
 |      Examples
 |      --------
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +-----+---+------+
 |      | name|age|height|
 |      +-----+---+------+
 |      |Alice|  5|    80|
 |      |Alice| 10|    80|
 |      +-----+---+------+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +-----+---+------+
 |      | name|age|height|
 |      +-----+---+------+
 |      |Alice|  5|    80|
 |      +-----+---+------+
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      Parameters
 |      ----------
 |      how : str, optional
 |          'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      thresh: int, optional
 |          default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |
 |      Examples
 |      --------

In [20]:
airlines.count()

KeyboardInterrupt:

In [21]:
airlines.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|2001|    8|         3|        5|   1048|      1047|   1210|      1222|           AA|     1056| N274A1|               82|            95|     66|     -12|       1|   MCI| ORD|     403|     6|     10|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|         YES|
|2001|    8|         4|        6|   1043|      1047|   1159|      1222|           AA|     1056| N513A1|               76|            95|     61|     -23|      -4|   MCI| ORD|     403|     4|     11|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|         5|        7|   1043|      1047|   1203|      1222|           AA|     1056| N532A1|               80|            95|     65|     -19|      -4|   MCI| ORD|     403|     6|      9|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|         6|        1|   1045|      1047|   1159|      1222|           AA|     1056| N521A1|               74|            95|     62|     -23|      -2|   MCI| ORD|     403|     4|      8|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|         7|        2|   1047|      1047|   1208|      1222|           AA|     1056| N417A1|               81|            95|     65|     -14|       0|   MCI| ORD|     403|     6|     10|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|         8|        3|   1047|      1047|   1203|      1222|           AA|     1056| N440A1|               76|            95|     60|     -19|       0|   MCI| ORD|     403|     7|      9|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|         9|        4|   1054|      1047|   1224|      1222|           AA|     1056| N483A1|               90|            95|     66|       2|       7|   MCI| ORD|     403|     7|     17|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
|2001|    8|        10|        5|   1052|      1047|   1205|      1222|           AA|     1056| N431A1|               73|            95|     53|     -17|       5|   MCI| ORD|     403|     5|     15|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|         YES|
|2001|    8|        11|        6|   1045|      1047|   1205|      1222|           AA|     1056| N424A1|               80|            95|     54|     -17|      -2|   MCI| ORD|     403|    16|     10|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|        12|        7|   1122|      1047|   1235|      1222|           AA|     1056| N404A1|               73|            95|     57|      13|      35|   MCI| ORD|     403|     5|     11|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
|2001|    8|        13|        1|   1055|      1047|   1210|      1222|           AA|     1056| N582A1|               75|            95|     56|     -12|       8|   MCI| ORD|     403|     5|     14|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|         YES|
|2001|    8|        14|        2|   1045|      1047|   1154|      1222|           AA|     1056| N285A1|               69|            95|     57|     -28|      -2|   MCI| ORD|     403|     5|      7|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|        15|        3|   1046|      1047|   1203|      1222|           AA|     1056| N232A1|               77|            95|     63|     -19|      -1|   MCI| ORD|     403|     6|      8|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|        16|        4|   1157|      1047|   1314|      1222|           AA|     1056| N430A1|               77|            95|     62|      52|      70|   MCI| ORD|     403|     5|     10|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
|2001|    8|        17|        5|   1048|      1047|   1214|      1222|           AA|     1056| N224A1|               86|            95|     55|      -8|       1|   MCI| ORD|     403|    11|     20|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|         YES|
|2001|    8|        18|        6|   1046|      1047|   1202|      1222|           AA|     1056| N471A1|               76|            95|     57|     -20|      -1|   MCI| ORD|     403|     6|     13|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|        19|        7|   1054|      1047|   1233|      1222|           AA|     1056| N420A1|               99|            95|     65|      11|       7|   MCI| ORD|     403|     9|     25|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
|2001|    8|        20|        1|   1045|      1047|   1205|      1222|           AA|     1056| N580A1|               80|            95|     59|     -17|      -2|   MCI| ORD|     403|     8|     13|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|        21|        2|   1042|      1047|   1159|      1222|           AA|     1056| N421A1|               77|            95|     58|     -23|      -5|   MCI| ORD|     403|     9|     10|        0|              NA|       0|          NA|          NA|      NA|           NA|               NA|          NO|          NO|
|2001|    8|        22|        3|     NA|      1047|     NA|      1222|           AA|     1056| NKNO|               NA|            95|     NA|      NA|      NA|   MCI| ORD|     403|     0|      0|        1|              NA|       0|          NA|          NA|      NA|           NA|               NA|         YES|         YES|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 20 rows

In [23]:
airlines.schema

StructType(List(StructField(Year,IntegerType,true),StructField(Month,IntegerType,true),StructField(DayofMonth,IntegerType,true),StructField(DayOfWeek,IntegerType,true),StructField(DepTime,StringType,true),StructField(CRSDepTime,IntegerType,true),StructField(ArrTime,StringType,true),StructField(CRSArrTime,IntegerType,true),StructField(UniqueCarrier,StringType,true),StructField(FlightNum,IntegerType,true),StructField(TailNum,StringType,true),StructField(ActualElapsedTime,StringType,true),StructField(CRSElapsedTime,IntegerType,true),StructField(AirTime,StringType,true),StructField(ArrDelay,StringType,true),StructField(DepDelay,StringType,true),StructField(Origin,StringType,true),StructField(Dest,StringType,true),StructField(Distance,StringType,true),StructField(TaxiIn,StringType,true),StructField(TaxiOut,StringType,true),StructField(Cancelled,IntegerType,true),StructField(CancellationCode,StringType,true),StructField(Diverted,IntegerType,true),StructField(CarrierDelay,StringType,true),StructField(WeatherDelay,StringType,true),StructField(NASDelay,StringType,true),StructField(SecurityDelay,StringType,true),StructField(LateAircraftDelay,StringType,true),StructField(IsArrDelayed,StringType,true),StructField(IsDepDelayed,StringType,true)))

### 162 Previewing Airlings Data using Spark Data Frame APIs

In [1]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

In [2]:
spark = SparkSession. \
    builder. \
    config("spark.ui.port","0"). \
    config("spark.sql.warehouse.dir",f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    appName(f'{username} | Python - Data Processing - Overview'). \
    master('yarn'). \
    getOrCreate()

In [4]:
airlines_schema = spark.read. \
    csv("/public/airlines_all/airlines/part-00000",
       header=True,
       inferSchema=True). \
    schema

In [5]:
airlines = spark.read. \
    csv("/public/airlines_all/airlines/part-0000*",
           header=True,
           schema=airlines_schema
       )

In [6]:
airlines.show(10, truncate=False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|IsArrDelayed|IsDepDelayed|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
|1987|12   |20        |7        |1330   |1305      |1502   |1445      |AS           |84       |NA     |92               |100           |NA     |17      |25      |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |21        |1        |1326   |1305      |1514   |1445      |AS           |84       |NA     |108              |100           |NA     |29      |21      |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |22        |2        |1314   |1305      |1447   |1445      |AS           |84       |NA     |93               |100           |NA     |2       |9       |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |23        |3        |1336   |1305      |1455   |1445      |AS           |84       |NA     |79               |100           |NA     |10      |31      |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |24        |4        |1332   |1305      |1454   |1445      |AS           |84       |NA     |82               |100           |NA     |9       |27      |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |26        |6        |1305   |1305      |1443   |1445      |AS           |84       |NA     |98               |100           |NA     |-2      |0       |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
|1987|12   |27        |7        |1314   |1305      |1506   |1445      |AS           |84       |NA     |112              |100           |NA     |21      |9       |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |29        |2        |1410   |1305      |1543   |1445      |AS           |84       |NA     |93               |100           |NA     |58      |65      |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |YES         |YES         |
|1987|12   |30        |3        |1315   |1305      |1443   |1445      |AS           |84       |NA     |88               |100           |NA     |-2      |10      |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |YES         |
|1987|12   |31        |4        |1305   |1305      |1440   |1445      |AS           |84       |NA     |95               |100           |NA     |-5      |0       |PDX   |SFO |550     |NA    |NA     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |NO          |NO          |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+------------+------------+
only showing top 10 rows

In [7]:
airlines.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- IsArrDelayed: string (nullable = true)
 |-- IsDepDelayed: string (nullable = true)

In [9]:
airlines.count()

6489231

In [ ]:
airlines.distinct().count()

### 163  Overview of DataFrame APIs

In [1]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    appName(f'{username} | Python - Data Processing - Overview'). \
    master('yarn'). \
    getOrCreate()

In [2]:
employees = [(1, "Scott", "Tiger", 1000.0, "united states"),
             (2, "Henry", "Ford", 1250.0, "India"),
             (3, "Nick", "Junior", 750.0, "united KINGDOM"),
             (4, "Bill", "Gomes", 1500.0, "AUSTRALIA")
            ]

In [3]:
type(employees)

list

In [4]:
employees[0]

(1, 'Scott', 'Tiger', 1000.0, 'united states')

In [5]:
type(employees[0])

tuple

In [6]:
spark.createDataFrame?

Signature:
spark.createDataFrame(
    data,
    schema=None,
    samplingRatio=None,
    verifySchema=True,
)
Docstring:
Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

When ``schema`` is a list of column names, the type of each column
will be inferred from ``data``.

When ``schema`` is ``None``, it will try to infer the schema (column names and types)
from ``data``, which should be an RDD of either :class:`Row`,
:class:`namedtuple`, or :class:`dict`.

When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
the real data, or an exception will be thrown at runtime. If the given schema is not
:class:`pyspark.sql.types.StructType`, it will be wrapped into a
:class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
Each record will also be wrapped into a tuple, which can be converted to row later.

If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

.. versionadded:: 2.0.0

.. versionchanged:: 2.1.0
   Added verifySchema.

Parameters
----------
data : :class:`RDD` or iterable
    an RDD of any kind of SQL data representation (:class:`Row`,
    :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
    :class:`pandas.DataFrame`.
schema : :class:`pyspark.sql.types.DataType`, str or list, optional
    a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
    column names, default is None.  The data type string format equals to
    :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
    omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
    ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`.
    We can also use ``int`` as a short name for :class:`pyspark.sql.types.IntegerType`.
samplingRatio : float, optional
    the sample ratio of rows used for inferring
verifySchema : bool, optional
    verify data types of every row against schema. Enabled by default.

Returns
-------
:class:`DataFrame`

Notes
-----
Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.

Examples
--------
>>> l = [('Alice', 1)]
>>> spark.createDataFrame(l).collect()
[Row(_1='Alice', _2=1)]
>>> spark.createDataFrame(l, ['name', 'age']).collect()
[Row(name='Alice', age=1)]

>>> d = [{'name': 'Alice', 'age': 1}]
>>> spark.createDataFrame(d).collect()
[Row(age=1, name='Alice')]

>>> rdd = sc.parallelize(l)
>>> spark.createDataFrame(rdd).collect()
[Row(_1='Alice', _2=1)]
>>> df = spark.createDataFrame(rdd, ['name', 'age'])
>>> df.collect()
[Row(name='Alice', age=1)]

>>> from pyspark.sql import Row
>>> Person = Row('name', 'age')
>>> person = rdd.map(lambda r: Person(*r))
>>> df2 = spark.createDataFrame(person)
>>> df2.collect()
[Row(name='Alice', age=1)]

>>> from pyspark.sql.types import *
>>> schema = StructType([
...    StructField("name", StringType(), True),
...    StructField("age", IntegerType(), True)])
>>> df3 = spark.createDataFrame(rdd, schema)
>>> df3.collect()
[Row(name='Alice', age=1)]

>>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
[Row(name='Alice', age=1)]
>>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
[Row(0=1, 1=2)]

>>> spark.createDataFrame(rdd, "a: string, b: int").collect()
[Row(a='Alice', b=1)]
>>> rdd = rdd.map(lambda row: row[1])
>>> spark.createDataFrame(rdd, "int").collect()
[Row(value=1)]
>>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
Traceback (most recent call last):
    ...
Py4JJavaError: ...
File:      /opt/spark-3.1.2-bin-hadoop3.2/python/pyspark/sql/session.py
Type:      method

In [8]:
employeesDF = spark.createDataFrame(
    employees,
    schema = """employee_id INT, first_name STRING,
                last_name STRING, salary FLOAT, nationality STRING"""
    )

In [9]:
employeesDF.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: float (nullable = true)
 |-- nationality: string (nullable = true)

In [10]:
employeesDF.count()

4

In [12]:
employeesDF.show()

+-----------+----------+---------+------+--------------+
|employee_id|first_name|last_name|salary|   nationality|
+-----------+----------+---------+------+--------------+
|          1|     Scott|    Tiger|1000.0| united states|
|          2|     Henry|     Ford|1250.0|         India|
|          3|      Nick|   Junior| 750.0|united KINGDOM|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+-----------+----------+---------+------+--------------+

In [13]:
employeesDF

+-----------+----------+---------+------+--------------+
|employee_id|first_name|last_name|salary|   nationality|
+-----------+----------+---------+------+--------------+
|          1|     Scott|    Tiger|1000.0| united states|
|          2|     Henry|     Ford|1250.0|         India|
|          3|      Nick|   Junior| 750.0|united KINGDOM|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+-----------+----------+---------+------+--------------+

In [14]:
employeesDF.select("*")

+-----------+----------+---------+------+--------------+
|employee_id|first_name|last_name|salary|   nationality|
+-----------+----------+---------+------+--------------+
|          1|     Scott|    Tiger|1000.0| united states|
|          2|     Henry|     Ford|1250.0|         India|
|          3|      Nick|   Junior| 750.0|united KINGDOM|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+-----------+----------+---------+------+--------------+

In [15]:
employeesDF.select("*").show()

+-----------+----------+---------+------+--------------+
|employee_id|first_name|last_name|salary|   nationality|
+-----------+----------+---------+------+--------------+
|          1|     Scott|    Tiger|1000.0| united states|
|          2|     Henry|     Ford|1250.0|         India|
|          3|      Nick|   Junior| 750.0|united KINGDOM|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+-----------+----------+---------+------+--------------+

In [18]:
employeesDF.select("first_name","last_name").show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|     Scott|    Tiger|
|     Henry|     Ford|
|      Nick|   Junior|
|      Bill|    Gomes|
+----------+---------+

In [19]:
employeesDF.drop("nationality").show()

+-----------+----------+---------+------+
|employee_id|first_name|last_name|salary|
+-----------+----------+---------+------+
|          1|     Scott|    Tiger|1000.0|
|          2|     Henry|     Ford|1250.0|
|          3|      Nick|   Junior| 750.0|
|          4|      Bill|    Gomes|1500.0|
+-----------+----------+---------+------+

In [20]:
from pyspark.sql.functions import *

In [21]:
employeesDF.withColumn('full_name',concat('first_name',lit(' '), 'last_name'))

+-----------+----------+---------+------+--------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|  full_name|
+-----------+----------+---------+------+--------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states|Scott Tiger|
|          2|     Henry|     Ford|1250.0|         India| Henry Ford|
|          3|      Nick|   Junior| 750.0|united KINGDOM|Nick Junior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA| Bill Gomes|
+-----------+----------+---------+------+--------------+-----------+

In [22]:
employeesDF.withColumn('full_name',concat('first_name',lit(' '), 'last_name')).show()

+-----------+----------+---------+------+--------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|  full_name|
+-----------+----------+---------+------+--------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states|Scott Tiger|
|          2|     Henry|     Ford|1250.0|         India| Henry Ford|
|          3|      Nick|   Junior| 750.0|united KINGDOM|Nick Junior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA| Bill Gomes|
+-----------+----------+---------+------+--------------+-----------+

In [24]:
employeesDF.selectExpr('*','concat(first_name, " ", last_name) AS full_name').show()

+-----------+----------+---------+------+--------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|  full_name|
+-----------+----------+---------+------+--------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states|Scott Tiger|
|          2|     Henry|     Ford|1250.0|         India| Henry Ford|
|          3|      Nick|   Junior| 750.0|united KINGDOM|Nick Junior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA| Bill Gomes|
+-----------+----------+---------+------+--------------+-----------+

In [25]:
employeesDF.selectExpr('*','concat(first_name, " ", last_name) AS full_name')

+-----------+----------+---------+------+--------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|  full_name|
+-----------+----------+---------+------+--------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states|Scott Tiger|
|          2|     Henry|     Ford|1250.0|         India| Henry Ford|
|          3|      Nick|   Junior| 750.0|united KINGDOM|Nick Junior|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA| Bill Gomes|
+-----------+----------+---------+------+--------------+-----------+

### 164 Functions on DataFrames

In [1]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir', '/user/{username}/warehouse'). \
        enableHiveSupport(). \
        appName(f'{username} | Python - Data Processing - Overview'). \
        master('yarn'). \
        getOrCreate()

In [12]:
employees = [(1, "Scott", "Tiger", 1000.0, "united states"),
             (2, "Henry", "Ford", 1250.0, "India"),
             (3, "Nick", "Junior", 750.0, "united KINGDOM"),
             (4, "Bill", "Gomes", 1500.0, "AUSTRALIA")
            ]

In [13]:
employeesDF = spark. \
    createDataFrame(employees,
                    schema = """employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, 
                    nationality STRING"""
                                       )

In [14]:
employeesDF

+-----------+----------+---------+------+--------------+
|employee_id|first_name|last_name|salary|   nationality|
+-----------+----------+---------+------+--------------+
|          1|     Scott|    Tiger|1000.0| united states|
|          2|     Henry|     Ford|1250.0|         India|
|          3|      Nick|   Junior| 750.0|united KINGDOM|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+-----------+----------+---------+------+--------------+

In [5]:
employeesDF.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- salary: float (nullable = true)
 |-- nationality: string (nullable = true)

In [6]:
employeesDF.show()

+-----------+----------+---------+------+--------------+
|employee_id|first_name|last_name|salary|   nationality|
+-----------+----------+---------+------+--------------+
|          1|     Scott|    Tiger|1000.0| united states|
|          2|     Henry|     Ford|1250.0|         India|
|          3|      Nick|   Junior| 750.0|united KINGDOM|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|
+-----------+----------+---------+------+--------------+

In [16]:
from pyspark.sql.functions import lit, concat

employeesDF.withColumn("full_name",concat("first_name",lit(", "), "last_name")). \
    drop('first_name','last_name'). \
    show()

+-----------+------+--------------+------------+
|employee_id|salary|   nationality|   full_name|
+-----------+------+--------------+------------+
|          1|1000.0| united states|Scott, Tiger|
|          2|1250.0|         India| Henry, Ford|
|          3| 750.0|united KINGDOM|Nick, Junior|
|          4|1500.0|     AUSTRALIA| Bill, Gomes|
+-----------+------+--------------+------------+

In [17]:
employeesDF.select("employee_id",concat("first_name",lit(", "),"last_name"),"salary","nationality").show()

+-----------+---------------------------------+------+--------------+
|employee_id|concat(first_name, , , last_name)|salary|   nationality|
+-----------+---------------------------------+------+--------------+
|          1|                     Scott, Tiger|1000.0| united states|
|          2|                      Henry, Ford|1250.0|         India|
|          3|                     Nick, Junior| 750.0|united KINGDOM|
|          4|                      Bill, Gomes|1500.0|     AUSTRALIA|
+-----------+---------------------------------+------+--------------+

In [18]:
employeesDF.select("employee_id",concat("first_name",lit(","),"last_name").alias("full_name"),"salary","nationality").show()

+-----------+-----------+------+--------------+
|employee_id|  full_name|salary|   nationality|
+-----------+-----------+------+--------------+
|          1|Scott,Tiger|1000.0| united states|
|          2| Henry,Ford|1250.0|         India|
|          3|Nick,Junior| 750.0|united KINGDOM|
|          4| Bill,Gomes|1500.0|     AUSTRALIA|
+-----------+-----------+------+--------------+

In [25]:
employeesDF.selectExpr("employee_id",
                   "concat(first_name, ', ', last_name) AS full_name",
                   "salary",
                   "nationality"). \
        show()

+-----------+------------+------+--------------+
|employee_id|   full_name|salary|   nationality|
+-----------+------------+------+--------------+
|          1|Scott, Tiger|1000.0| united states|
|          2| Henry, Ford|1250.0|         India|
|          3|Nick, Junior| 750.0|united KINGDOM|
|          4| Bill, Gomes|1500.0|     AUSTRALIA|
+-----------+------------+------+--------------+

### 165 Overview of Spark Write APIs

In [1]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir', '/user/{username}/warehouse'). \
        enableHiveSupport(). \
        appName(f'{username} | Python - Data Processing - Overview'). \
        master('yarn'). \
        getOrCreate()

In [ ]:
%%sh

hdfs dfs -rm -R -skipTrash /user/${USER}/retail_db

In [3]:
orders = spark. \
    read. \
    csv('/public/retail_db/orders',
           schema='''
           order_id INT, order_date STRING,
           order_customer_id INT,
           order_status STRING
           ''')

In [4]:
orders.count()

68883

In [5]:
orders.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [6]:
orders.show(5)

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
+--------+--------------------+-----------------+---------------+
only showing top 5 rows

In [7]:
orders. \
    write. \
    parquet(f'/user/{username}/retail_db/orders',
           mode='overwrite',
           compression='none'
           )

In [9]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/orders

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 01:57 /user/itv011204/retail_db/orders/_SUCCESS
-rw-r--r--   3 itv011204 supergroup     495238 2024-02-06 01:57 /user/itv011204/retail_db/orders/part-00000-a9a3470e-08a5-42d3-9438-5038540d7952-c000.parquet

In [15]:
employeesDF.selectExpr("employee_id",
                   "concat(first_name, ', ', last_name) AS full_name",
                   "salary",
                   "nationality"). \
            write. \
            parquet(f'/user/{username}/retail_db/employees',
            mode='overwrite',
            compression='none'
           )

In [16]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/employees

Found 3 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:00 /user/itv011204/retail_db/employees/_SUCCESS
-rw-r--r--   3 itv011204 supergroup       1157 2024-02-06 02:00 /user/itv011204/retail_db/employees/part-00000-f707a78c-b602-40a8-bdac-9e3695181dc5-c000.parquet
-rw-r--r--   3 itv011204 supergroup       1172 2024-02-06 02:00 /user/itv011204/retail_db/employees/part-00001-f707a78c-b602-40a8-bdac-9e3695181dc5-c000.parquet

In [17]:
orders. \
    write. \
    mode('overwrite'). \
    option('compression','none'). \
    parquet(f'/user/{username}/retail_db/orders')

In [18]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/orders

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:02 /user/itv011204/retail_db/orders/_SUCCESS
-rw-r--r--   3 itv011204 supergroup     495238 2024-02-06 02:02 /user/itv011204/retail_db/orders/part-00000-a681d504-fb58-47b4-8c41-17e84ba3f44a-c000.parquet

In [20]:
orders. \
    write. \
    mode('overwrite').\
    option('compression', 'none'). \
    format('parquet'). \
    save(f'/user/{username}/retail_db/orders')

In [21]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/orders

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:06 /user/itv011204/retail_db/orders/_SUCCESS
-rw-r--r--   3 itv011204 supergroup     495238 2024-02-06 02:06 /user/itv011204/retail_db/orders/part-00000-b6a9b40b-b9a5-47c2-a5e0-0cf13e1aee81-c000.parquet

In [22]:
order_items = spark. \
                read. \
                json('/public/retail_db_json/order_items')

In [23]:
order_items.count()

172198

In [24]:
order_items.show(5)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
|            4|                  2|                  403|                  129.99|                  1|             129.99|
|            5|                  4|                  897|                   24.99|                  2|              49.98|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 5 rows

In [25]:
order_items.printSchema()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [26]:
order_items. \
    coalesce(1). \
    write. \
    mode('ignore'). \
    option('compression', 'gzip'). \
    option('sep','|'). \
    format('csv'). \
    save(f'/user/{username}/retail_db/order_items')

In [27]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/order_items

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:12 /user/itv011204/retail_db/order_items/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    1032820 2024-02-06 02:12 /user/itv011204/retail_db/order_items/part-00000-d3794630-189b-43e2-956e-03bf04eb1a36-c000.csv.gz

In [32]:
order_items. \
    coalesce(1). \
    write. \
    csv(f'/user/{username}/retail_db/order_items',
        sep='|',
        mode='overwrite',
        compression='gzip'
       )

In [33]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/order_items

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:26 /user/itv011204/retail_db/order_items/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    1032820 2024-02-06 02:26 /user/itv011204/retail_db/order_items/part-00000-a1395079-89c3-408e-b91f-583c788062f5-c000.csv.gz

In [34]:
order_items. \
    coalesce(1). \
    write. \
    csv(f'/user/{username}/retail_db/order_items',
        sep='|',
        mode='ignore',
        compression='gzip'
       )

In [35]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/order_items

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:26 /user/itv011204/retail_db/order_items/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    1032820 2024-02-06 02:26 /user/itv011204/retail_db/order_items/part-00000-a1395079-89c3-408e-b91f-583c788062f5-c000.csv.gz

In [36]:
order_items. \
    coalesce(1). \
    write. \
    csv(f'/user/{username}/retail_db/order_items',
        sep='|',
        mode='append',
        compression='gzip'
       )

In [37]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/order_items

Found 3 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:27 /user/itv011204/retail_db/order_items/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    1032820 2024-02-06 02:27 /user/itv011204/retail_db/order_items/part-00000-0cb24dd5-c392-4bc7-bc18-075bfacc5f31-c000.csv.gz
-rw-r--r--   3 itv011204 supergroup    1032820 2024-02-06 02:26 /user/itv011204/retail_db/order_items/part-00000-a1395079-89c3-408e-b91f-583c788062f5-c000.csv.gz

In [38]:
order_items. \
    coalesce(1). \
    write. \
    csv(f'/user/{username}/retail_db/order_items',
        sep='|',
        mode='error',
        compression='gzip'
       )

AnalysisException: path hdfs://m01.itversity.com:9000/user/itv011204/retail_db/order_items already exists.

In [39]:
order_items. \
    coalesce(1). \
    write. \
    csv(f'/user/{username}/retail_db/order_items',
        sep='|',
        mode='overwrite',
        compression='gzip'
       )

In [40]:
%%sh

hdfs dfs -ls /user/${USER}/retail_db/order_items

Found 2 items
-rw-r--r--   3 itv011204 supergroup          0 2024-02-06 02:28 /user/itv011204/retail_db/order_items/_SUCCESS
-rw-r--r--   3 itv011204 supergroup    1032820 2024-02-06 02:28 /user/itv011204/retail_db/order_items/part-00000-1d4e3b93-b41b-4ccb-9d88-be4c32edbd05-c000.csv.gz