In [ ]:
Section 12 Predefined Functions

In [1]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.
            builder.
            config("spark.ui.port","0").
            config("spark.sql.warehouse.dir","/user/itversity/warehouse").
            enableHiveSupport.
            appName("Spark SQL Pre-defined functions").
            getOrCreate

spark = org.apache.spark.sql.SparkSession@35fde4e5

org.apache.spark.sql.SparkSession@35fde4e5

In [2]:
import sys.process._

val username = System.getProperty("user.name")

username = itversity

itversity

## 139 Overview of Predefined functions

In [3]:
%%sql

SHOW FUNCTIONS

Waiting for a Spark session to start...

+--------+
|function|
+--------+
|       !|
|       %|
|       &|
|       *|
|       +|
|       -|
|       /|
|       <|
|      <=|
|     <=>|
+--------+
only showing top 10 rows

In [4]:
spark.sql("show functions").show(30,false)

+---------------------+
|function             |
+---------------------+
|!                    |
|%                    |
|&                    |
|*                    |
|+                    |
|-                    |
|/                    |
|<                    |
|<=                   |
|<=>                  |
|=                    |
|==                   |
|>                    |
|>=                   |
|^                    |
|abs                  |
|acos                 |
|add_months           |
|aggregate            |
|and                  |
|approx_count_distinct|
|approx_percentile    |
|array                |
|array_contains       |
|array_distinct       |
|array_except         |
|array_intersect      |
|array_join           |
|array_max            |
|array_min            |
+---------------------+
only showing top 30 rows

In [5]:
spark.catalog.listFunctions.show(30,false)

+---------------------+--------+-----------+-------------------------------------------------------------------------+-----------+
|name                 |database|description|className                                                                |isTemporary|
+---------------------+--------+-----------+-------------------------------------------------------------------------+-----------+
|!                    |null    |null       |org.apache.spark.sql.catalyst.expressions.Not                            |true       |
|%                    |null    |null       |org.apache.spark.sql.catalyst.expressions.Remainder                      |true       |
|&                    |null    |null       |org.apache.spark.sql.catalyst.expressions.BitwiseAnd                     |true       |
|*                    |null    |null       |org.apache.spark.sql.catalyst.expressions.Multiply                       |true       |
|+                    |null    |null       |org.apache.spark.sql.catalyst.expressions.Add                            |true       |
|-                    |null    |null       |org.apache.spark.sql.catalyst.expressions.Subtract                       |true       |
|/                    |null    |null       |org.apache.spark.sql.catalyst.expressions.Divide                         |true       |
|<                    |null    |null       |org.apache.spark.sql.catalyst.expressions.LessThan                       |true       |
|<=                   |null    |null       |org.apache.spark.sql.catalyst.expressions.LessThanOrEqual                |true       |
|<=>                  |null    |null       |org.apache.spark.sql.catalyst.expressions.EqualNullSafe                  |true       |
|=                    |null    |null       |org.apache.spark.sql.catalyst.expressions.EqualTo                        |true       |
|==                   |null    |null       |org.apache.spark.sql.catalyst.expressions.EqualTo                        |true       |
|>                    |null    |null       |org.apache.spark.sql.catalyst.expressions.GreaterThan                    |true       |
|>=                   |null    |null       |org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual             |true       |
|^                    |null    |null       |org.apache.spark.sql.catalyst.expressions.BitwiseXor                     |true       |
|abs                  |null    |null       |org.apache.spark.sql.catalyst.expressions.Abs                            |true       |
|acos                 |null    |null       |org.apache.spark.sql.catalyst.expressions.Acos                           |true       |
|add_months           |null    |null       |org.apache.spark.sql.catalyst.expressions.AddMonths                      |true       |
|aggregate            |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayAggregate                 |true       |
|and                  |null    |null       |org.apache.spark.sql.catalyst.expressions.And                            |true       |
|approx_count_distinct|null    |null       |org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus  |true       |
|approx_percentile    |null    |null       |org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile|true       |
|array                |null    |null       |org.apache.spark.sql.catalyst.expressions.CreateArray                    |true       |
|array_contains       |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayContains                  |true       |
|array_distinct       |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayDistinct                  |true       |
|array_except         |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayExcept                    |true       |
|array_intersect      |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayIntersect                 |true       |
|array_join           |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayJoin                      |true       |
|array_max            |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayMax                       |true       |
|array_min            |null    |null       |org.apache.spark.sql.catalyst.expressions.ArrayMin                       |true       |
+---------------------+--------+-----------+-------------------------------------------------------------------------+-----------+
only showing top 30 rows

In [6]:
%%sql

DESCRIBE FUNCTION SUBSTR

+--------------------+
|       function_desc|
+--------------------+
|    Function: substr|
|Class: org.apache...|
|Usage: substr(str...|
+--------------------+

In [7]:
spark.sql("DESCRIBE FUNCTION substr").show(false)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                       |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: substr                                                                                                                                                                    |
|Class: org.apache.spark.sql.catalyst.expressions.Substring                                                                                                                          |
|Usage: substr(str, pos[, len]) - Returns the substring of `str` that starts at `pos` and is of length `len`, or the slice of byte array that starts at `pos` and is of length `len`.|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

## 140 Validating Spark SQL functions

In [8]:
// Using Scala

val orders = spark.read.
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING").
    csv("/public/retail_db/orders")
orders.createOrReplaceTempView("orders_temp")

orders = [order_id: int, order_date: string ... 2 more fields]

[order_id: int, order_date: string ... 2 more fields]

In [ ]:
// Using Python

orders = spark.read. \
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING"). \
    csv("/public/retail_db/orders")

orders.createOrReplaceTempView("orders_temp")

In [33]:
%%sql

SELECT current_date as current_date

+------------+
|current_date|
+------------+
|  2024-02-02|
+------------+

In [34]:
%%sql

SELECT substr('Hello World', 1,5) AS result

+------+
|result|
+------+
| Hello|
+------+

In [35]:
%%sql

USE itversity_retail

++
||
++
++

In [36]:
%%sql

select current_database()

+------------------+
|current_database()|
+------------------+
|  itversity_retail|
+------------------+

In [37]:
%%sql

DROP TABLE IF EXISTS dual

++
||
++
++

In [38]:
%%sql

CREATE TABLE dual(dummy STRING)

++
||
++
++

In [39]:
%%sql

INSERT INTO dual VALUES('X')

++
||
++
++

In [40]:
%%sql

SELECT * FROM dual

+-----+
|dummy|
+-----+
|    X|
+-----+

In [41]:
%%sql

SELECT 1 from dual

+---+
|  1|
+---+
|  1|
+---+

In [42]:
%%sql

select current_date as current_date FROM dual

+------------+
|current_date|
+------------+
|  2024-02-02|
+------------+

In [43]:
%%sql

SELECT substr('Hello World!', 1,5) AS result FROM dual

+------+
|result|
+------+
| Hello|
+------+

In [44]:
val orders = spark.read.
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING").
    csv("/public/retail_db/orders")

orders = [order_id: int, order_date: string ... 2 more fields]

[order_id: int, order_date: string ... 2 more fields]

In [45]:
orders.createOrReplaceTempView("orders_temp")

In [46]:
%%sql

SELECT O.*, lower(order_status) AS order_status FROM orders_temp AS o LIMIT 10

|       6|2013-07-25 00:00:...|             7130|       COMP...

+--------+--------------------+-----------------+---------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|   order_status|
+--------+--------------------+-----------------+---------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|         closed|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|pending_payment|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|       complete|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|         closed|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|       complete|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|       complete|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|       complete|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|     processing|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|pending_payment|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|pending_payment|
+--------+--------------------+-----------------+---------------+---------------+

## 141 String Manipulation using Spark SQL functions

In [47]:
%%sql

SELECT lower('hEllo wOrlD') as lower_result,
    upper('hEllo wOrlD') as upper_result,
    initcap('hEllo wOrlD') as initcap_result

+------------+------------+--------------+
|lower_result|upper_result|initcap_result|
+------------+------------+--------------+
| hello world| HELLO WORLD|   Hello World|
+------------+------------+--------------+

In [48]:
%%sql

SELECT length('hEllo wOrlD') as result

+------+
|result|
+------+
|    11|
+------+

In [49]:
%%sql

USE itversity_retail

++
||
++
++

In [50]:
%%sql

SHOW TABLES

+----------------+-----------------+-----------+
|        database|        tableName|isTemporary|
+----------------+-----------------+-----------+
|itversity_retail|             dual|      false|
|itversity_retail|      order_items|      false|
|itversity_retail|order_items_stage|      false|
|itversity_retail|           orders|      false|
|itversity_retail|      orders_part|      false|
|itversity_retail|         students|      false|
|                |      orders_temp|       true|
+----------------+-----------------+-----------+

In [51]:
%%sql

SELECT * FROM orders LIMIT 10

|   34572|2014-02-23 00:00:...|             8135|       ...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|   34565|2014-02-23 00:00:...|             8702|       COMPLETE|
|   34566|2014-02-23 00:00:...|             3066|PENDING_PAYMENT|
|   34567|2014-02-23 00:00:...|             7314|SUSPECTED_FRAUD|
|   34568|2014-02-23 00:00:...|             1271|       COMPLETE|
|   34569|2014-02-23 00:00:...|            11083|       COMPLETE|
|   34570|2014-02-23 00:00:...|             3159|         CLOSED|
|   34571|2014-02-23 00:00:...|             4551|         CLOSED|
|   34572|2014-02-23 00:00:...|             8135|        PENDING|
|   34573|2014-02-23 00:00:...|             7497|PENDING_PAYMENT|
|   34574|2014-02-23 00:00:...|             1868|        ON_HOLD|
+--------+--------------------+-----------------+---------------+

In [52]:
%%sql

SELECT order_id, order_date, order_customer_id, lower(order_status) FROM orders LIMIT 10

|       8|2013-0...

+--------+--------------------+-----------------+-------------------+
|order_id|          order_date|order_customer_id|lower(order_status)|
+--------+--------------------+-----------------+-------------------+
|       1|2013-07-25 00:00:...|            11599|             closed|
|       2|2013-07-25 00:00:...|              256|    pending_payment|
|       3|2013-07-25 00:00:...|            12111|           complete|
|       4|2013-07-25 00:00:...|             8827|             closed|
|       5|2013-07-25 00:00:...|            11318|           complete|
|       6|2013-07-25 00:00:...|             7130|           complete|
|       7|2013-07-25 00:00:...|             4530|           complete|
|       8|2013-07-25 00:00:...|             2911|         processing|
|       9|2013-07-25 00:00:...|             5657|    pending_payment|
|      10|2013-07-25 00:00:...|             5648|    pending_payment|
+--------+--------------------+-----------------+-------------------+

In [53]:
%%sql

SELECT order_id, order_date, order_customer_id, lower(order_status),length(order_status) FROM orders LIMIT 10

|       5|2013-07-25 00:00:...|            11318|           complete|          ...

+--------+--------------------+-----------------+-------------------+--------------------+
|order_id|          order_date|order_customer_id|lower(order_status)|length(order_status)|
+--------+--------------------+-----------------+-------------------+--------------------+
|       1|2013-07-25 00:00:...|            11599|             closed|                   6|
|       2|2013-07-25 00:00:...|              256|    pending_payment|                  15|
|       3|2013-07-25 00:00:...|            12111|           complete|                   8|
|       4|2013-07-25 00:00:...|             8827|             closed|                   6|
|       5|2013-07-25 00:00:...|            11318|           complete|                   8|
|       6|2013-07-25 00:00:...|             7130|           complete|                   8|
|       7|2013-07-25 00:00:...|             4530|           complete|                   8|
|       8|2013-07-25 00:00:...|             2911|         processing|                  10|
|       9|2013-07-25 00:00:...|             5657|    pending_payment|                  15|
|      10|2013-07-25 00:00:...|             5648|    pending_payment|                  15|
+--------+--------------------+-----------------+-------------------+--------------------+

In [56]:
%%sql

set hive:datevar = DATE_ADD(current_date,1)

+------------+--------------------+
|         key|               value|
+------------+--------------------+
|hive:datevar|DATE_ADD(current_...|
+------------+--------------------+

In [60]:
%%sql 

select current_timestamp

+--------------------+
| current_timestamp()|
+--------------------+
|2024-02-02 14:54:...|
+--------------------+

In [61]:
%%sql

DESCRIBE FUNCTION substr

+--------------------+
|       function_desc|
+--------------------+
|    Function: substr|
|Class: org.apache...|
|Usage: substr(str...|
+--------------------+

In [62]:
%%sql

DESCRIBE FUNCTION substring

+--------------------+
|       function_desc|
+--------------------+
| Function: substring|
|Class: org.apache...|
|Usage: substring(...|
+--------------------+

In [65]:
spark.sql("DESCRIBE FUNCTION substring").show(false)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                          |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: substring                                                                                                                                                                    |
|Class: org.apache.spark.sql.catalyst.expressions.Substring                                                                                                                             |
|Usage: substring(str, pos[, len]) - Returns the substring of `str` that starts at `pos` and is of length `len`, or the slice of byte array that starts at `pos` and is of length `len`.|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [66]:
%%sql

SELECT substr('2013-07-25 00:00:00.0', 6, 5) AS result

+------+
|result|
+------+
| 07-25|
+------+

In [67]:
%%sql

SELECT substr('2013-07-25 00:00:00.0', 1, 4) AS result

+------+
|result|
+------+
|  2013|
+------+

In [69]:
%%sql

SELECT substr('2013-07-25 00:00:00.0', 6, 2) AS result

+------+
|result|
+------+
|    07|
+------+

In [70]:
%%sql

SELECT substr('2013-07-25 00:00:00.0', 12) AS result

+----------+
|    result|
+----------+
|00:00:00.0|
+----------+

In [72]:
%%sql 

SELECT * from orders limit 10

|       8|2013-07-25 00:00:...|             2911|     PR...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
+--------+--------------------+-----------------+---------------+

In [74]:
%%sql

SELECT order_id, substr(order_date,1,10) as order_date, 
order_customer_id, order_status
from orders

|      10|2013-07-25|             5648|PENDI...

+--------+----------+-----------------+---------------+
|order_id|order_date|order_customer_id|   order_status|
+--------+----------+-----------------+---------------+
|       1|2013-07-25|            11599|         CLOSED|
|       2|2013-07-25|              256|PENDING_PAYMENT|
|       3|2013-07-25|            12111|       COMPLETE|
|       4|2013-07-25|             8827|         CLOSED|
|       5|2013-07-25|            11318|       COMPLETE|
|       6|2013-07-25|             7130|       COMPLETE|
|       7|2013-07-25|             4530|       COMPLETE|
|       8|2013-07-25|             2911|     PROCESSING|
|       9|2013-07-25|             5657|PENDING_PAYMENT|
|      10|2013-07-25|             5648|PENDING_PAYMENT|
+--------+----------+-----------------+---------------+
only showing top 10 rows

In [75]:
%%sql

SELECT split('2013-07-25','-') as result

+--------------+
|        result|
+--------------+
|[2013, 07, 25]|
+--------------+

In [76]:
%%sql

select split('2013-07-25','-')[1] as result

+------+
|result|
+------+
|    07|
+------+

In [77]:
%%sql

select split('2013-07-25','-')[0] as result

+------+
|result|
+------+
|  2013|
+------+

In [78]:
%%sql

select explode(split('2013-07-25','-')) as result

+------+
|result|
+------+
|  2013|
|    07|
|    25|
+------+

In [80]:
%%sql

select explode(split('2013-07-25','-')),order_id,order_status from orders where order_id=1

+----+--------+------------+
| col|order_id|order_status|
+----+--------+------------+
|2013|       1|      CLOSED|
|  07|       1|      CLOSED|
|  25|       1|      CLOSED|
+----+--------+------------+

In [82]:
%%sql

select explode(split('2013-07-25','-')),order_id,order_status from orders where order_id<=2

+----+--------+---------------+
| col|order_id|   order_status|
+----+--------+---------------+
|2013|       1|         CLOSED|
|  07|       1|         CLOSED|
|  25|       1|         CLOSED|
|2013|       2|PENDING_PAYMENT|
|  07|       2|PENDING_PAYMENT|
|  25|       2|PENDING_PAYMENT|
+----+--------+---------------+

#### Trimming

In [83]:
%%sql

SELECT ltrim('    Hello World    ') as result

+---------------+
|         result|
+---------------+
|Hello World    |
+---------------+

In [84]:
%%sql

SELECT rtrim('    Hello World    ') as result

+---------------+
|         result|
+---------------+
|    Hello World|
+---------------+

In [87]:
%%sql

SELECT length(trim('    Hello World    ')) as result

+------+
|result|
+------+
|    11|
+------+

In [89]:
%%sql

SELECT trim('    Hello World    ') as result

+-----------+
|     result|
+-----------+
|Hello World|
+-----------+

#### Padding

In [90]:
%%sql

SELECT 2013 AS year, 7 as month, 25 as myDate

+----+-----+------+
|year|month|myDate|
+----+-----+------+
|2013|    7|    25|
+----+-----+------+

In [97]:
spark.sql("DESCRIBE FUNCTION rpad").show(false)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                            |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: rpad                                                                                                                                                                           |
|Class: org.apache.spark.sql.catalyst.expressions.StringRPad                                                                                                                              |
|Usage:
    rpad(str, len, pad) - Returns `str`, right-padded with `pad` to a length of `len`.
      If `str` is longer than `len`, the return value is shortened to `len` characters.
  |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [91]:
%%sql

select lpad(7,2,0) AS result

+------+
|result|
+------+
|    07|
+------+

In [100]:
%%sql

select rpad(7,4,'A') AS result

+------+
|result|
+------+
|  7AAA|
+------+

In [101]:
%%sql

select lpad(10,2,0) AS result

+------+
|result|
+------+
|    10|
+------+

In [102]:
%%sql

select lpad(100,2,0) AS result

+------+
|result|
+------+
|    10|
+------+

In [103]:
%%sql

SELECT order_date from orders limit 5

+--------------------+
|          order_date|
+--------------------+
|2013-07-25 00:00:...|
|2013-07-25 00:00:...|
|2013-07-25 00:00:...|
|2013-07-25 00:00:...|
|2013-07-25 00:00:...|
+--------------------+

In [105]:
%%sql

SELECT substr(order_date,1,4) year, int(substr(order_date,6,2)) month, substr(order_date, 9,2) mydate from orders limit 5

+----+-----+------+
|year|month|mydate|
+----+-----+------+
|2013|    7|    25|
|2013|    7|    25|
|2013|    7|    25|
|2013|    7|    25|
|2013|    7|    25|
+----+-----+------+

In [107]:
%%sql

SELECT substr(order_date,1,4) year, lpad(int(substr(order_date,6,2)),2,'x') month, substr(order_date, 9,2) mydate from orders limit 5

+----+-----+------+
|year|month|mydate|
+----+-----+------+
|2013|   x7|    25|
|2013|   x7|    25|
|2013|   x7|    25|
|2013|   x7|    25|
|2013|   x7|    25|
+----+-----+------+

#### Reverse and Concetenate

In [109]:
%%sql

SELECT reverse('Hello World') AS Result

+-----------+
|     Result|
+-----------+
|dlroW olleH|
+-----------+

In [111]:
%%sql

SELECT concat('Hello','-', 'World') AS result

+-----------+
|     result|
+-----------+
|Hello-World|
+-----------+

In [113]:
%%sql

SELECT concat('Order status is ',order_status) AS result
FROM orders LIMIT 5

+--------------------+
|              result|
+--------------------+
|Order status is C...|
|Order status is P...|
|Order status is C...|
|Order status is C...|
|Order status is C...|
+--------------------+

In [115]:
spark.sql("""SELECT concat('Order status is ',order_status) AS result
FROM orders LIMIT 5""").show(false)

+-------------------------------+
|result                         |
+-------------------------------+
|Order status is CLOSED         |
|Order status is PENDING_PAYMENT|
|Order status is COMPLETE       |
|Order status is CLOSED         |
|Order status is COMPLETE       |
+-------------------------------+

In [116]:
%%sql

SELECT 2013 AS year, 7 as month, 25 as myDate

+----+-----+------+
|year|month|myDate|
+----+-----+------+
|2013|    7|    25|
+----+-----+------+

In [121]:
%%sql

SELECT concat(year, '-', lpad(month,2,0), '-',lpad(myDate,2,0)) as order_date
FROM
    (SELECT 2013 AS year, 7 as month, 25 as myDate) sq

+----------+
|order_date|
+----------+
|2013-07-25|
+----------+

In [123]:
%%sql

SELECT concat_ws( '-',year, lpad(month,2,0),lpad(myDate,2,0)) as order_date
FROM
    (SELECT 2013 AS year, 7 as month, 25 as myDate) sq

+----------+
|order_date|
+----------+
|2013-07-25|
+----------+

### 142 Date Manipulation functions

In [124]:
%%sql

SELECT current_date

+--------------+
|current_date()|
+--------------+
|    2024-02-02|
+--------------+

In [125]:
%%sql

SELECT current_date()

+--------------+
|current_date()|
+--------------+
|    2024-02-02|
+--------------+

In [127]:
%%sql

SELECT current_timestamp

+--------------------+
| current_timestamp()|
+--------------------+
|2024-02-02 16:40:...|
+--------------------+

In [129]:
%%sql

select current_date as current_date

+------------+
|current_date|
+------------+
|  2024-02-02|
+------------+

In [130]:
spark.sql("SELECT current_timestamp as current_timestamp").show(false)

+-----------------------+
|current_timestamp      |
+-----------------------+
|2024-02-02 17:03:17.771|
+-----------------------+

#### Date Arithmetic

In [131]:
%%sql

SELECT date_add(current_date,32) as next_month_date

+---------------+
|next_month_date|
+---------------+
|     2024-03-05|
+---------------+

In [133]:
%%sql

SELECT date_add(current_date,735) as after_two_years

+---------------+
|after_two_years|
+---------------+
|     2026-02-06|
+---------------+

In [135]:
%%sql

SELECT date_add(current_date,-735) as before_two_years

+----------------+
|before_two_years|
+----------------+
|      2022-01-28|
+----------------+

In [136]:
%%sql

SELECT date_sub(current_date,30) as last_month

+----------+
|last_month|
+----------+
|2024-01-03|
+----------+

In [139]:
%%sql

SELECT datediff('2022-01-28', '2024-01-03') as result

+------+
|result|
+------+
|  -705|
+------+

In [140]:
%%sql

SELECT datediff('2024-01-28', '2022-01-03') as result

+------+
|result|
+------+
|   755|
+------+

In [141]:
%%sql

SELECT add_months('2022-01-28', 2) as result

+----------+
|    result|
+----------+
|2022-03-28|
+----------+

In [143]:
%%sql

SELECT add_months('2022-01-22', 1) as result

+----------+
|    result|
+----------+
|2022-02-22|
+----------+

In [144]:
%%sql

SELECT add_months('2022-02-28', 1) as result

+----------+
|    result|
+----------+
|2022-03-31|
+----------+

In [145]:
%%sql

SELECT add_months(current_timestamp,3) as result

+----------+
|    result|
+----------+
|2024-05-02|
+----------+

#### Date or Time - trunc and date_trunc

In [146]:
spark.sql("DESCRIBE FUNCTION trunc").show(false)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                                                       |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: trunc                                                                                                                                                                                                     |
|Class: org.apache.spark.sql.catalyst.expressions.TruncDate                                                                                                                                                          |
|Usage:
    trunc(date, fmt) - Returns `date` with the time portion of the day truncated to the unit specified by the format model `fmt`.
    `fmt` should be one of ["year", "yyyy", "yy", "mon", "month", "mm"]
  |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [147]:
%%sql

SELECT trunc(current_date,'MM')  as beginning_date_month

+--------------------+
|beginning_date_month|
+--------------------+
|          2024-02-01|
+--------------------+

In [152]:
%%sql

SELECT trunc('2019-02-23','MM')  as beginning_date_month

+--------------------+
|beginning_date_month|
+--------------------+
|          2019-02-01|
+--------------------+

In [153]:
%%sql

SELECT trunc('2019-02-23','YY')  as beginning_date_month

+--------------------+
|beginning_date_month|
+--------------------+
|          2019-01-01|
+--------------------+

In [154]:
%%sql

SELECT trunc(current_timestamp,'HH')  as beginning_date_month

+--------------------+
|beginning_date_month|
+--------------------+
|                null|
+--------------------+

In [155]:
spark.sql("DESCRIBE FUNCTION date_trunc").show(false)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: date_trunc                                                                                                                                                                                                                                      |
|Class: org.apache.spark.sql.catalyst.expressions.TruncTimestamp                                                                                                                                                                                           |
|Usage:
    date_trunc(fmt, ts) - Returns timestamp `ts` truncated to the unit specified by the format model `fmt`.
    `fmt` should be one of ["YEAR", "YYYY", "YY", "MON", "MONTH", "MM", "DAY", "DD", "HOUR", "MINUTE", "SECOND", "WEEK", "QUARTER"]
  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [159]:
spark.sql("SELECT current_timestamp, date_trunc('HOUR',current_timestamp) as result").show(false)

+-----------------------+-------------------+
|current_timestamp()    |result             |
+-----------------------+-------------------+
|2024-02-02 18:09:25.074|2024-02-02 18:00:00|
+-----------------------+-------------------+

In [160]:
spark.sql("SELECT current_timestamp, date_trunc('MINUTE',current_timestamp) as result").show(false)

+-----------------------+-------------------+
|current_timestamp()    |result             |
+-----------------------+-------------------+
|2024-02-02 18:09:48.036|2024-02-02 18:09:00|
+-----------------------+-------------------+

In [161]:
spark.sql("SELECT current_timestamp, date_trunc('SECOND',current_timestamp) as result").show(false)

+-----------------------+-------------------+
|current_timestamp()    |result             |
+-----------------------+-------------------+
|2024-02-02 18:10:03.566|2024-02-02 18:10:03|
+-----------------------+-------------------+

In [162]:
spark.sql("SELECT current_timestamp, date_trunc('YEAR',current_timestamp) as result").show(false)

+-----------------------+-------------------+
|current_timestamp()    |result             |
+-----------------------+-------------------+
|2024-02-02 18:10:23.839|2024-01-01 00:00:00|
+-----------------------+-------------------+

In [163]:
spark.sql("SELECT current_timestamp, date_trunc('MONTH',current_timestamp) as result").show(false)

+-----------------------+-------------------+
|current_timestamp()    |result             |
+-----------------------+-------------------+
|2024-02-02 18:10:39.966|2024-02-01 00:00:00|
+-----------------------+-------------------+

In [164]:
spark.sql("SELECT current_timestamp, date_trunc('MON',current_timestamp) as result").show(false)

+-----------------------+-------------------+
|current_timestamp()    |result             |
+-----------------------+-------------------+
|2024-02-02 18:10:52.691|2024-02-01 00:00:00|
+-----------------------+-------------------+

### Date Format

In [165]:
spark.sql("DESCRIBE FUNCTION date_format").show(false)

+--------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                   |
+--------------------------------------------------------------------------------------------------------------------------------+
|Function: date_format                                                                                                           |
|Class: org.apache.spark.sql.catalyst.expressions.DateFormatClass                                                                |
|Usage: date_format(timestamp, fmt) - Converts `timestamp` to a value of string in the format specified by the date format `fmt`.|
+--------------------------------------------------------------------------------------------------------------------------------+

In [166]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'yyyy') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:13:33.188|2024  |
+-----------------------+------+

In [167]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'yyyyMM') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:13:47.664|202402|
+-----------------------+------+

In [168]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'MM') as result").show(false)

+----------------------+------+
|current_timestamp()   |result|
+----------------------+------+
|2024-02-02 18:13:56.99|02    |
+----------------------+------+

In [169]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'YY') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:14:09.357|24    |
+-----------------------+------+

In [170]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'dd') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:14:30.572|02    |
+-----------------------+------+

In [171]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'DD') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:14:51.621|33    |
+-----------------------+------+

In [172]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'MMM') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:15:25.021|Feb   |
+-----------------------+------+

In [173]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'MMMM') as result").show(false)

+-----------------------+--------+
|current_timestamp()    |result  |
+-----------------------+--------+
|2024-02-02 18:15:32.374|February|
+-----------------------+--------+

In [174]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'EE') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:17:31.019|Fri   |
+-----------------------+------+

In [175]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'EEEE') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:17:36.806|Friday|
+-----------------------+------+

In [176]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'HH') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:18:06.427|18    |
+-----------------------+------+

In [177]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'mm') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:18:12.515|18    |
+-----------------------+------+

In [178]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'hh') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:18:51.098|06    |
+-----------------------+------+

In [179]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'mm') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:19:18.268|19    |
+-----------------------+------+

In [181]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'ss') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:19:30.405|30    |
+-----------------------+------+

In [182]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'SS') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:19:57.453|453   |
+-----------------------+------+

In [183]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'yyyyMM') as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:20:26.882|202402|
+-----------------------+------+

In [184]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'yyyyMMdd') as result").show(false)

+----------------------+--------+
|current_timestamp()   |result  |
+----------------------+--------+
|2024-02-02 18:20:46.25|20240202|
+----------------------+--------+

In [185]:
spark.sql("SELECT current_timestamp, date_format(current_timestamp, 'yyyy/MM/dd') as result").show(false)

+-----------------------+----------+
|current_timestamp()    |result    |
+-----------------------+----------+
|2024-02-02 18:21:28.472|2024/02/02|
+-----------------------+----------+

In [187]:
spark.sql("DESCRIBE FUNCTION day").show(false)

+------------------------------------------------------------------+
|function_desc                                                     |
+------------------------------------------------------------------+
|Function: day                                                     |
|Class: org.apache.spark.sql.catalyst.expressions.DayOfMonth       |
|Usage: day(date) - Returns the day of month of the date/timestamp.|
+------------------------------------------------------------------+

In [188]:
spark.sql("SELECT current_timestamp, day(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:22:37.514|2     |
+-----------------------+------+

In [189]:
spark.sql("DESCRIBE FUNCTION dayofmonth").show(false)

+-------------------------------------------------------------------------+
|function_desc                                                            |
+-------------------------------------------------------------------------+
|Function: dayofmonth                                                     |
|Class: org.apache.spark.sql.catalyst.expressions.DayOfMonth              |
|Usage: dayofmonth(date) - Returns the day of month of the date/timestamp.|
+-------------------------------------------------------------------------+

In [190]:
spark.sql("SELECT current_timestamp, dayofmonth(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:23:09.842|2     |
+-----------------------+------+

In [191]:
spark.sql("DESCRIBE FUNCTION month").show(false)

+-----------------------------------------------------------------------+
|function_desc                                                          |
+-----------------------------------------------------------------------+
|Function: month                                                        |
|Class: org.apache.spark.sql.catalyst.expressions.Month                 |
|Usage: month(date) - Returns the month component of the date/timestamp.|
+-----------------------------------------------------------------------+

In [192]:
spark.sql("SELECT current_timestamp, month(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:23:48.492|2     |
+-----------------------+------+

In [195]:
spark.sql("DESCRIBE FUNCTION weekofyear").show(false)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                 |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: weekofyear                                                                                                                                          |
|Class: org.apache.spark.sql.catalyst.expressions.WeekOfYear                                                                                                   |
|Usage: weekofyear(date) - Returns the week of the year of the given date. A week is considered to start on a Monday and week 1 is the first week with >3 days.|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [193]:
spark.sql("SELECT current_timestamp, weekofyear(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:24:15.709|5     |
+-----------------------+------+

In [194]:
spark.sql("SELECT current_timestamp, year(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:24:22.882|2024  |
+-----------------------+------+

In [196]:
spark.sql("SELECT current_timestamp, month(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-02 18:29:20.225|2     |
+-----------------------+------+

In [199]:
spark.sql("SELECT current_timestamp, day(current_timestamp) as result").show(false)

+-----------------------+------+
|current_timestamp()    |result|
+-----------------------+------+
|2024-02-03 02:55:16.744|3     |
+-----------------------+------+

### Dealing with Unix Timestamp

In [200]:
import sys.process._

s"date '+%s'"!

date: invalid date '\'+%s\''

warning: there was one feature warning; re-run with -feature for details

1

In [201]:
s"date `+%s`"!

date: invalid date '`+%s`'

warning: there was one feature warning; re-run with -feature for details

1

In [204]:
%%sql

SELECT from_unixtime(1706930435) AS timestamp

lastException: Throwable = null

+-------------------+
|          timestamp|
+-------------------+
|2024-02-03 03:20:35|
+-------------------+

In [205]:
%%sql

SELECT to_unix_timestamp('2024-02-03 03:20:35') as unixtime

+----------+
|  unixtime|
+----------+
|1706930435|
+----------+

In [206]:
%%sql

SELECT to_unix_timestamp('2024-02-03 03:20:35.133') as unixtime

+----------+
|  unixtime|
+----------+
|1706930435|
+----------+

In [207]:
%%sql

SELECT from_unixtime(1706930435,'yyyyMM') as month

+------+
| month|
+------+
|202402|
+------+

In [209]:
%%sql

SELECT from_unixtime(1706930435,'yyyy-MM-dd') as date

+----------+
|      date|
+----------+
|2024-02-03|
+----------+

In [233]:
%%sql

SELECT from_unixtime(1706930435,'yyyy-MM-dd HH:mm:ss') as date

+-------------------+
|               date|
+-------------------+
|2024-02-03 03:20:35|
+-------------------+

In [234]:
%%sql

SELECT to_unix_timestamp('2024-02-03 03:20:35') as timestamp

+----------+
| timestamp|
+----------+
|1706930435|
+----------+

In [235]:
%%sql

SELECT to_unix_timestamp('20240203 03:20:35') as timestamp

+---------+
|timestamp|
+---------+
|     null|
+---------+

In [236]:
%%sql

SELECT to_unix_timestamp('20240203 03:20:35','yyyyMMdd') as timestamp

+----------+
| timestamp|
+----------+
|1706918400|
+----------+

In [237]:
%%sql

SELECT to_unix_timestamp('20240203 03:20:35','yyyyMMdd HH:mm:ss') as timestamp

+----------+
| timestamp|
+----------+
|1706930435|
+----------+

### 143 Numeric functions

In [238]:
%%sql

SELECT abs(-10.5), abs(10)

+----------+-------+
|abs(-10.5)|abs(10)|
+----------+-------+
|      10.5|     10|
+----------+-------+

In [240]:
%%sql

SELECT order_item_order_id, order_item_subtotal FROM order_items
WHERE order_item_order_id=2

+-------------------+-------------------+
|order_item_order_id|order_item_subtotal|
+-------------------+-------------------+
|                  2|             199.99|
|                  2|              250.0|
|                  2|             129.99|
+-------------------+-------------------+

In [241]:
%%sql

SELECT avg(order_item_subtotal) FROM order_items
WHERE order_item_order_id=2

+------------------------+
|avg(order_item_subtotal)|
+------------------------+
|      193.32667032877603|
+------------------------+

In [242]:
%%sql

SELECT order_item_order_id,
    sum(order_item_subtotal) as order_revenu_avg
FROM order_items
WHERE order_item_order_id=2
GROUP BY order_item_order_id

+-------------------+-----------------+
|order_item_order_id| order_revenu_avg|
+-------------------+-----------------+
|                  2|579.9800109863281|
+-------------------+-----------------+

In [243]:
%%sql

SELECT 
    round(10.58) rnd,
    floor(10.58) flr,
    ceil(10.58)

+---+---+-----------+
|rnd|flr|CEIL(10.58)|
+---+---+-----------+
| 11| 10|         11|
+---+---+-----------+

In [244]:
%%sql

SELECT 
    round(10.44) rnd1,
    round(10.44,1) rnd2,
    round(10.46,1) rnd3,
    floor(10.44) flr,
    ceil(10.44)

+----+----+----+---+-----------+
|rnd1|rnd2|rnd3|flr|CEIL(10.44)|
+----+----+----+---+-----------+
|  10|10.4|10.5| 10|         11|
+----+----+----+---+-----------+

In [247]:
%%sql

SELECT order_item_order_id, avg(order_item_subtotal) AS order_revenue_avg
FROM order_items
WHERE order_item_order_id = 2

      +- Relation[order_item_id#1986,order_item_order_id#1987,order_item_product_id#1...

Magic sql failed to execute with error:
grouping expressions sequence is empty, and 'itversity_retail.order_items.`order_item_order_id`' is not an aggregate function. Wrap '(avg(CAST(itversity_retail.order_items.`order_item_subtotal` AS DOUBLE)) AS `order_revenue_avg`)' in windowing function(s) or wrap 'itversity_retail.order_items.`order_item_order_id`' in first() (or first_value) if you don't care which value you get.;;
Aggregate [order_item_order_id#1987, avg(cast(order_item_subtotal#1990 as double)) AS order_revenue_avg#1985]
+- Filter (order_item_order_id#1987 = 2)
   +- SubqueryAlias `itversity_retail`.`order_items`
      +- Relation[order_item_id#1986,order_item_order_id#1987,order_item_product_id#1988,order_item_quantity#1989,order_item_subtotal#1990,order_item_product_price#1991] parquet

In [248]:
%%sql

SELECT order_item_order_id, avg(order_item_subtotal) AS order_revenue_avg
FROM order_items
WHERE order_item_order_id = 2
GROUP BY order_item_order_id

+-------------------+------------------+
|order_item_order_id| order_revenue_avg|
+-------------------+------------------+
|                  2|193.32667032877603|
+-------------------+------------------+

In [251]:
%%sql

SELECT order_item_order_id,count(1) cnt, avg(order_item_subtotal) AS order_revenue_avg
FROM order_items
WHERE order_item_order_id = 2
GROUP BY order_item_order_id

+-------------------+---+------------------+
|order_item_order_id|cnt| order_revenue_avg|
+-------------------+---+------------------+
|                  2|  3|193.32667032877603|
+-------------------+---+------------------+

In [252]:
%%sql

SELECT order_item_order_id,count(1) cnt, round(avg(order_item_subtotal)) AS order_revenue_avg
FROM order_items
WHERE order_item_order_id = 2
GROUP BY order_item_order_id

+-------------------+---+-----------------+
|order_item_order_id|cnt|order_revenue_avg|
+-------------------+---+-----------------+
|                  2|  3|            193.0|
+-------------------+---+-----------------+

In [253]:
%%sql

SELECT order_item_order_id,count(1) cnt, round(avg(order_item_subtotal),2) AS order_revenue_avg
FROM order_items
WHERE order_item_order_id = 2
GROUP BY order_item_order_id

+-------------------+---+-----------------+
|order_item_order_id|cnt|order_revenue_avg|
+-------------------+---+-----------------+
|                  2|  3|           193.33|
+-------------------+---+-----------------+

In [254]:
%%sql

SELECT order_item_order_id,count(1) cnt, round(avg(order_item_subtotal),2) AS order_revenue_avg
FROM order_items
GROUP BY order_item_order_id
limit 10

+-------------------+---+-----------------+
|order_item_order_id|cnt|order_revenue_avg|
+-------------------+---+-----------------+
|                243|  5|           235.98|
|                392|  5|           241.97|
|                540|  4|           152.48|
|                623|  1|           239.96|
|                737|  1|            49.98|
|                858|  1|            100.0|
|                897|  4|           282.48|
|               1025|  3|           176.63|
|               1084|  1|            100.0|
|               1127|  1|            200.0|
+-------------------+---+-----------------+

In [255]:
%%sql

SELECT order_item_order_id,count(1) cnt, round(sum(order_item_subtotal),2) AS order_revenue_avg
FROM order_items
GROUP BY order_item_order_id
limit 10

+-------------------+---+-----------------+
|order_item_order_id|cnt|order_revenue_avg|
+-------------------+---+-----------------+
|              35450|  3|           579.94|
|              35654|  4|           449.96|
|              35800|  1|           129.99|
|              35868|  4|           529.93|
|              36106|  5|           839.86|
|              36312|  2|           479.94|
|              36655|  2|           379.93|
|              36706|  4|          1399.86|
|              36783|  4|           824.95|
|              36982|  2|           559.94|
+-------------------+---+-----------------+

In [257]:
%%sql

SELECT greatest(10,11,13,5)

+-----------------------+
|greatest(10, 11, 13, 5)|
+-----------------------+
|                     13|
+-----------------------+

In [258]:
%%sql

SELECT greatest(-10,-11,-13,-5)

+---------------------------+
|greatest(-10, -11, -13, -5)|
+---------------------------+
|                         -5|
+---------------------------+

In [259]:
%%sql

SELECT rand() AS rand

+------------------+
|              rand|
+------------------+
|0.5316184803575679|
+------------------+

In [262]:
%%sql

SELECT cast(round(rand()*1000) AS INT) AS rand

+----+
|rand|
+----+
| 987|
+----+

In [264]:
%%sql

SELECT order_item_order_id, round(sum(order_item_subtotal),2) AS order_revenue_avg,
    min(order_item_subtotal) AS order_item_subtotal_min,
    max(order_item_subtotal) AS order_item_subtotal_max
FROM order_items
GROUP BY order_item_order_id
LIMIT 10

|           ...

+-------------------+-----------------+-----------------------+-----------------------+
|order_item_order_id|order_revenue_avg|order_item_subtotal_min|order_item_subtotal_max|
+-------------------+-----------------+-----------------------+-----------------------+
|                148|           479.99|                  100.0|                  250.0|
|                463|           829.92|                  39.99|                 299.97|
|                471|           169.98|                  39.99|                 129.99|
|                496|           441.95|                  49.98|                  150.0|
|               1088|           249.97|                 119.98|                 129.99|
|               1580|           299.95|                 299.95|                 299.95|
|               1591|           439.86|                  39.99|                 199.95|
|               1645|          1509.79|                 159.96|                 399.98|
|               2366|           299.97|                 299.97|                 299.97|
|               2659|           724.91|                  49.98|                 299.98|
+-------------------+-----------------+-----------------------+-----------------------+

In [265]:
%%sql

SELECT order_item_order_id, round(sum(order_item_subtotal),2) AS order_revenue_avg,
    min(order_item_subtotal) AS order_item_subtotal_min,
    max(order_item_subtotal) AS order_item_subtotal_max
FROM order_items
where order_item_order_id=2
GROUP BY order_item_order_id

+-------------------+-----------------+-----------------------+-----------------------+
|order_item_order_id|order_revenue_avg|order_item_subtotal_min|order_item_subtotal_max|
+-------------------+-----------------+-----------------------+-----------------------+
|                  2|           579.98|                 129.99|                  250.0|
+-------------------+-----------------+-----------------------+-----------------------+

In [267]:
%%sql

SELECT order_item_subtotal
FROM order_items
where order_item_order_id=2

+-------------------+
|order_item_subtotal|
+-------------------+
|             199.99|
|              250.0|
|             129.99|
+-------------------+

### 144 Data type conversion

In [269]:
%%sql

SELECT current_date AS current_date

+------------+
|current_date|
+------------+
|  2024-02-03|
+------------+

In [270]:
%%sql

SELECT split(current_date,'-') split_date

+--------------+
|    split_date|
+--------------+
|[2024, 02, 03]|
+--------------+

In [271]:
%%sql

SELECT explode(split(current_date,'-')) split_date

+----------+
|split_date|
+----------+
|      2024|
|        02|
|        03|
+----------+

In [273]:
%%sql

SELECT split(current_date,'-')[1] as month

+-----+
|month|
+-----+
|   02|
+-----+

In [274]:
%%sql

SELECT CAST(split(current_date,'-')[1] AS INT) as month

+-----+
|month|
+-----+
|    2|
+-----+

In [275]:
%%sql

SELECT CAST('0.04' as FLOAT) AS result

+------+
|result|
+------+
|  0.04|
+------+

In [277]:
%%sql

SELECT CAST('0.04' as INT) AS zero

+----+
|zero|
+----+
|   0|
+----+

In [278]:
%%sql

SELECT CAST('xyz' as INT) AS asnull

+------+
|asnull|
+------+
|  null|
+------+

In [279]:
%%sql

CREATE EXTERNAL TABLE IF NOT EXISTS orders_single_column(
    s STRING
) LOCATION '/user/itversity/warehouse/itversity_retail.db/orders'

++
||
++
++

In [280]:
%%sql

SELECT * FROM orders_single_column LIMIT 5

+--------------------+
|                   s|
+--------------------+
|1,2013-07-25 00:0...|
|2,2013-07-25 00:0...|
|3,2013-07-25 00:0...|
|4,2013-07-25 00:0...|
|5,2013-07-25 00:0...|
+--------------------+

In [288]:
%%sql

SELECT 
    CAST(SPLIT(s,',')[0] as INT) AS order_id,
    CAST(SPLIT(s,',')[1] as STRING) AS order_date,
    CAST(SPLIT(s,',')[2] as INT) AS order_customer_id,
    CAST(SPLIT(s,',')[3] as STRING) AS order_status
FROM orders_single_column
limit 5

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
+--------+--------------------+-----------------+---------------+

In [ ]:
%%sql

### 145 Dealing with NUlls

In [289]:
%%sql

SELECT 1 + null as result

+------+
|result|
+------+
|  null|
+------+

In [290]:
%%sql

SELECT concat('Hello', NULL) as result

+------+
|result|
+------+
|  null|
+------+

In [291]:
%%sql

SELECT nvl(1,0) nvl, coalesce(1,0) AS coalesce

+---+--------+
|nvl|coalesce|
+---+--------+
|  1|       1|
+---+--------+

In [292]:
%%sql

SELECT nvl(NULL,0) nvl, coalesce(1,0) AS coalesce

+---+--------+
|nvl|coalesce|
+---+--------+
|  0|       1|
+---+--------+

In [293]:
%%sql

SELECT coalesce(NULL,NULL,2,NULL,3) AS result

+------+
|result|
+------+
|     2|
+------+

In [294]:
%%sql

SELECT nvl(NULL,NULL,2,NULL,3) AS result

Magic sql failed to execute with error:
Invalid number of arguments for function nvl. Expected: 2; Found: 5; line 1 pos 7

In [295]:
%%sql

use itversity_retail

++
||
++
++

In [296]:
%%sql

DROP TABLE IF EXISTS sales

++
||
++
++

In [297]:
%%sql

CREATE TABLE IF NOT EXISTS sales(
    sales_person_id INT,
    sales_amount FLOAT,
    commission_pct INT
)

++
||
++
++

In [298]:
%%sql

INSERT INTO sales VALUES
    (1, 1000, 10),
    (2, 1500, 8),
    (3, 500, NULL),
    (4, 800, 5),
    (5, 250, NULL)

++
||
++
++

In [299]:
%%sql

SELECT * FROM sales

+---------------+------------+--------------+
|sales_person_id|sales_amount|commission_pct|
+---------------+------------+--------------+
|              1|      1000.0|            10|
|              2|      1500.0|             8|
|              3|       500.0|          null|
|              4|       800.0|             5|
|              5|       250.0|          null|
+---------------+------------+--------------+

In [301]:
%%sql

SELECT S.*,
    nvl(commission_pct, 0) AS commission_pct
FROM sales as s

+---------------+------------+--------------+--------------+
|sales_person_id|sales_amount|commission_pct|commission_pct|
+---------------+------------+--------------+--------------+
|              1|      1000.0|            10|            10|
|              2|      1500.0|             8|             8|
|              3|       500.0|          null|             0|
|              4|       800.0|             5|             5|
|              5|       250.0|          null|             0|
+---------------+------------+--------------+--------------+

In [302]:
%%sql

SELECT S.*,
    coalesce(commission_pct, 0) AS commission_pct
FROM sales as s

+---------------+------------+--------------+--------------+
|sales_person_id|sales_amount|commission_pct|commission_pct|
+---------------+------------+--------------+--------------+
|              1|      1000.0|            10|            10|
|              2|      1500.0|             8|             8|
|              3|       500.0|          null|             0|
|              4|       800.0|             5|             5|
|              5|       250.0|          null|             0|
+---------------+------------+--------------+--------------+

In [305]:
%%sql

SELECT S.*,
    round(sales_amount*commission_pct/100, 2) AS incorrect_commission_amount
FROM sales as s

+---------------+------------+--------------+---------------------------+
|sales_person_id|sales_amount|commission_pct|incorrect_commission_amount|
+---------------+------------+--------------+---------------------------+
|              1|      1000.0|            10|                      100.0|
|              2|      1500.0|             8|                      120.0|
|              3|       500.0|          null|                       null|
|              4|       800.0|             5|                       40.0|
|              5|       250.0|          null|                       null|
+---------------+------------+--------------+---------------------------+

In [306]:
%%sql

SELECT S.*,
    round(sales_amount*nvl(commission_pct/100,0), 2) AS incorrect_commission_amount
FROM sales as s

+---------------+------------+--------------+---------------------------+
|sales_person_id|sales_amount|commission_pct|incorrect_commission_amount|
+---------------+------------+--------------+---------------------------+
|              1|      1000.0|            10|                      100.0|
|              2|      1500.0|             8|                      120.0|
|              3|       500.0|          null|                        0.0|
|              4|       800.0|             5|                       40.0|
|              5|       250.0|          null|                        0.0|
+---------------+------------+--------------+---------------------------+

In [307]:
%%sql

SELECT S.*,
    round(sales_amount*coalesce(commission_pct/100,0), 2) AS incorrect_commission_amount
FROM sales as s

+---------------+------------+--------------+---------------------------+
|sales_person_id|sales_amount|commission_pct|incorrect_commission_amount|
+---------------+------------+--------------+---------------------------+
|              1|      1000.0|            10|                      100.0|
|              2|      1500.0|             8|                      120.0|
|              3|       500.0|          null|                        0.0|
|              4|       800.0|             5|                       40.0|
|              5|       250.0|          null|                        0.0|
+---------------+------------+--------------+---------------------------+

In [308]:
%%sql

SELECT S.*,
    nvl2(commission_pct,commission_pct+1, 2) as new_commission_pct
FROM sales as s

+---------------+------------+--------------+------------------+
|sales_person_id|sales_amount|commission_pct|new_commission_pct|
+---------------+------------+--------------+------------------+
|              1|      1000.0|            10|                11|
|              2|      1500.0|             8|                 9|
|              3|       500.0|          null|                 2|
|              4|       800.0|             5|                 6|
|              5|       250.0|          null|                 2|
+---------------+------------+--------------+------------------+

In [309]:
%%sql

SELECT S.*,
    round(sales_amount*nvl2(commission_pct,commission_pct+1, 2)/100,2) as new_commission_amount
FROM sales as s

+---------------+------------+--------------+---------------------+
|sales_person_id|sales_amount|commission_pct|new_commission_amount|
+---------------+------------+--------------+---------------------+
|              1|      1000.0|            10|                110.0|
|              2|      1500.0|             8|                135.0|
|              3|       500.0|          null|                 10.0|
|              4|       800.0|             5|                 48.0|
|              5|       250.0|          null|                  5.0|
+---------------+------------+--------------+---------------------+

In [310]:
%%sql

SELECT S.*,
    CASE WHEN commission_pct is NULL
        THEN 2
        ELSE commission_pct + 1
    END AS comission_pct
FROM sales AS s

+---------------+------------+--------------+-------------+
|sales_person_id|sales_amount|commission_pct|comission_pct|
+---------------+------------+--------------+-------------+
|              1|      1000.0|            10|           11|
|              2|      1500.0|             8|            9|
|              3|       500.0|          null|            2|
|              4|       800.0|             5|            6|
|              5|       250.0|          null|            2|
+---------------+------------+--------------+-------------+

In [312]:
%%sql

SELECT S.*,
    CASE WHEN commission_pct is NULL
        THEN round(sales_amount * 2/100,2)
        ELSE round(sales_amount * (commission_pct + 1)/100, 2)
    END AS comission_pct
FROM sales AS s

+---------------+------------+--------------+-------------+
|sales_person_id|sales_amount|commission_pct|comission_pct|
+---------------+------------+--------------+-------------+
|              1|      1000.0|            10|        110.0|
|              2|      1500.0|             8|        135.0|
|              3|       500.0|          null|         10.0|
|              4|       800.0|             5|         48.0|
|              5|       250.0|          null|          5.0|
+---------------+------------+--------------+-------------+

### 146 CASE WHEN

In [313]:
%%sql

SELECT DISTINCT order_status FROM orders LIMIT 10

+---------------+
|   order_status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [314]:
%%sql

SELECT count(DISTINCT order_status) FROM orders LIMIT 10

+----------------------------+
|count(DISTINCT order_status)|
+----------------------------+
|                           9|
+----------------------------+

In [318]:
%%sql

SELECT o.*,
    CASE 
        WHEN order_status IN('COMPLETE','CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders AS o
LIMIT 10

|   34570|2014-02-2...

+--------+--------------------+-----------------+---------------+--------------------+
|order_id|          order_date|order_customer_id|   order_status|updated_order_status|
+--------+--------------------+-----------------+---------------+--------------------+
|   34565|2014-02-23 00:00:...|             8702|       COMPLETE|           COMPLETED|
|   34566|2014-02-23 00:00:...|             3066|PENDING_PAYMENT|             PENDING|
|   34567|2014-02-23 00:00:...|             7314|SUSPECTED_FRAUD|               OTHER|
|   34568|2014-02-23 00:00:...|             1271|       COMPLETE|           COMPLETED|
|   34569|2014-02-23 00:00:...|            11083|       COMPLETE|           COMPLETED|
|   34570|2014-02-23 00:00:...|             3159|         CLOSED|           COMPLETED|
|   34571|2014-02-23 00:00:...|             4551|         CLOSED|           COMPLETED|
|   34572|2014-02-23 00:00:...|             8135|        PENDING|             PENDING|
|   34573|2014-02-23 00:00:...|             7497|PENDING_PAYMENT|             PENDING|
|   34574|2014-02-23 00:00:...|             1868|        ON_HOLD|               OTHER|
+--------+--------------------+-----------------+---------------+--------------------+

In [320]:
%%sql

SELECT o.*,
    CASE 
        WHEN order_status IN('COMPLETE','CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' OR order_status IN ('PROCESSING','PAYMENT_REVIEW') THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders AS o
LIMIT 10

|       6|2013-07-2...

+--------+--------------------+-----------------+---------------+--------------------+
|order_id|          order_date|order_customer_id|   order_status|updated_order_status|
+--------+--------------------+-----------------+---------------+--------------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|           COMPLETED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|             PENDING|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|           COMPLETED|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|           COMPLETED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|           COMPLETED|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|           COMPLETED|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|           COMPLETED|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|             PENDING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|             PENDING|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|             PENDING|
+--------+--------------------+-----------------+---------------+--------------------+

In [321]:
%%sql

SELECT o.order_status,
    CASE 
        WHEN order_status IN('COMPLETE','CLOSED') THEN 'COMPLETED'
        WHEN order_status LIKE '%PENDING%' OR order_status IN ('PROCESSING','PAYMENT_REVIEW') THEN 'PENDING'
        ELSE 'OTHER'
    END AS updated_order_status
FROM orders AS o
LIMIT 10

+---------------+--------------------+
|   order_status|updated_order_status|
+---------------+--------------------+
|         CLOSED|           COMPLETED|
|PENDING_PAYMENT|             PENDING|
|       COMPLETE|           COMPLETED|
|         CLOSED|           COMPLETED|
|       COMPLETE|           COMPLETED|
|       COMPLETE|           COMPLETED|
|       COMPLETE|           COMPLETED|
|     PROCESSING|             PENDING|
|PENDING_PAYMENT|             PENDING|
|PENDING_PAYMENT|             PENDING|
+---------------+--------------------+

### 147 Query Word count

In [3]:
%%sql

DROP DATABASE IF EXISTS itversity_demo CASCADE

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_demo

++
||
++
++

In [5]:
%%sql

USE itversity_demo

++
||
++
++

In [6]:
%%sql

CREATE TABLE lines (s STRING)

++
||
++
++

In [7]:
%%sql

INSERT INTO lines VALUES
  ('Hello World'),
  ('How are you'),
  ('Let us perform the word count'),
  ('The definition of word count is'),
  ('to get the count of each word from this data')

++
||
++
++

In [8]:
%%SQL

SELECT * FROM lines

+--------------------+
|                   s|
+--------------------+
|         Hello World|
|         How are you|
|Let us perform th...|
|The definition of...|
|to get the count ...|
+--------------------+

In [9]:
%%sql 

SELECT split(s,' ') from lines

+--------------------+
|         split(s,  )|
+--------------------+
|      [Hello, World]|
|     [How, are, you]|
|[Let, us, perform...|
|[The, definition,...|
|[to, get, the, co...|
+--------------------+

In [10]:
%%sql 

SELECT explode(split(s,' ')) from lines

+-------+
|    col|
+-------+
|  Hello|
|  World|
|    How|
|    are|
|    you|
|    Let|
|     us|
|perform|
|    the|
|   word|
+-------+
only showing top 10 rows

In [16]:
%%sql 

SELECT explode(split(s,' ')) AS words, COUNT(1) from lines group by explode(split(s,' '))

Magic sql failed to execute with error:
Generators are not supported outside the SELECT clause, but got: 'Aggregate [explode(split(s#55,  ))], [explode(split(s#55,  )) AS words#53, count(1) AS count(1)#56L];

In [19]:
%%sql 

SELECT word, count(1) AS wordCount
FROM (SELECT explode(split(s,' ')) AS word FROM lines)
GROUP BY word
ORDER BY wordCount desc

+-----+---------+
| word|wordCount|
+-----+---------+
|count|        3|
| word|        3|
|  the|        2|
|   of|        2|
|World|        1|
|Hello|        1|
|  you|        1|
|  How|        1|
|   is|        1|
| each|        1|
+-----+---------+
only showing top 10 rows