##  Section 17 Apache Spark using Python - Joining Data sets

In [1]:
# 200 Prepare Datasets for Joining Spark Data Frames

In [2]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [3]:
spark.sparkContext.getConf().getAll()

[('spark.dynamicAllocation.minExecutors', '4'),
 ('spark.eventLog.enabled', 'true'),
 ('spark.sql.repl.eagerEval.enabled', 'true'),
 ('spark.eventLog.dir', 'hdfs:///spark-logs'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES',
  'http://m02.itversity.com:19088/proxy/application_1707552082651_2938'),
 ('spark.ui.proxyBase', '/proxy/application_1707552082651_2938'),
 ('spark.app.startTime', '1707865966456'),
 ('spark.dynamicAllocation.maxExecutors', '10'),
 ('spark.shuffle.io.connectionTimeout', '6000'),
 ('spark.driver.port', '39103'),
 ('spark.yarn.historyServer.address', 'm02.itversity.com:18080'),
 ('spark.driver.memory', '6g'),
 ('spark.yarn.jars', ''),
 ('spark.driver.appUIAddress', 'http://g02.itversity.com:45177'),
 ('spark.history.provider',
  'org.apache.spark.deploy.history.FsHistoryProvider'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.history.fs.logDirectory', 'hdfs:///spark-logs'),
 ('spark.submit.deployMode', 'client'),
 ('spark.history.fs.update.interval', '10s'),
 ('spark.driver.extraJavaOptions', '-Dderby.system.home=/tmp/derby/'),
 ('spark.app.name', 'itv011204 | Section 17 Joining Data Sets'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS',
  'm02.itversity.com'),
 ('spark.ui.filters',
  'org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter'),
 ('spark.executor.extraLibraryPath', '/opt/hadoop/lib/native'),
 ('spark.history.ui.port', '18080'),
 ('spark.shuffle.service.enabled', 'true'),
 ('spark.driver.host', 'g02.itversity.com'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', '/user/itv011204/warehouse'),
 ('spark.app.id', 'application_1707552082651_2938'),
 ('spark.history.fs.cleaner.enabled', 'true'),
 ('spark.executorEnv.PYTHONPATH',
  '/opt/spark-3.1.2-bin-hadoop3.2/python/lib/py4j-0.10.9-src.zip:/opt/spark-3.1.2-bin-hadoop3.2/python<CPS>{{PWD}}/pyspark.zip<CPS>{{PWD}}/py4j-0.10.9-src.zip'),
 ('spark.executor.memory', '6g'),
 ('spark.master', 'yarn'),
 ('spark.ui.port', '0'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.submit.pyFiles', ''),
 ('spark.yarn.isPython', 'true'),
 ('spark.dynamicAllocation.enabled', 'true'),
 ('spark.ui.showConsoleProgress', 'true')]

In [4]:
!hdfs dfs -ls /public/

Found 34 items
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:08 /public/Black_Friday
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:08 /public/Tableau
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:38 /public/Tableau_stocks
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:11 /public/TetrasoftBigDataHackathon
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/addresses
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:04 /public/airlines_all
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:02 /public/black_friday
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:04 /public/cards
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:13 /public/citibike
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:13 /public/connect-distributed-config
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 07:49 /public/covid19
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:08 /public/crime
drwxr-xr-x   - hdfs supergroup          0 2021-02-15 00:15 /public/gharchive
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:39 /public/githubactivity
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:51 /public/h1b
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:46 /public/hr_db
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:43 /public/icds_poc
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:43 /public/markov_data
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:56 /public/mocktest
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:04 /public/nyse
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:11 /public/nyse_all
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:28 /public/nyse_seq
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:31 /public/nyse_symbols
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:29 /public/randomtextwriter
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:59 /public/randomtextwritercompressed
drwxr-xr-x   - hdfs supergroup          0 2021-08-21 03:48 /public/retail_db
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/retail_db_json
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:05 /public/sms
drwxrwxr-x+  - hdfs supergroup          0 2023-09-15 14:37 /public/trendytech
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:20 /public/used_vehicles
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:25 /public/weather
drwxr-xr-x   - hdfs supergroup          0 2021-09-12 21:04 /public/wm_data
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/yelp-dataset
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:26 /public/yelp-dataset-json

In [5]:
!hdfs dfs -ls /public/airlines_all/

Found 3 items
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:33 /public/airlines_all/airlines
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:29 /public/airlines_all/airlines-part
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:48 /public/airlines_all/airport-codes

In [6]:
!hdfs dfs -ls /public/airlines_all/airport-codes

Found 1 items
-rw-r--r--   2 hdfs supergroup      11411 2021-01-28 10:48 /public/airlines_all/airport-codes/airport-codes-na.txt

In [7]:
!hdfs dfs -cat  /public/airlines_all/airport-codes/airport-codes-na.txt | tail

Yuma	AZ	USA	YUM	Canada	YZFLa	YWKCanada	YQYada	YZP

In [8]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [9]:
airportCodes = spark. \
    read. \
    option("sep","\t"). \
    option("header",True). \
    option("inferSchema",True). \
    csv(airportCodesPath)

In [10]:
airportCodes.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- IATA: string (nullable = true)

In [11]:
airportCodes.count()

526

In [12]:
airportCodes.show(5)

+----------+-----+-------+----+
|      City|State|Country|IATA|
+----------+-----+-------+----+
|Abbotsford|   BC| Canada| YXX|
|  Aberdeen|   SD|    USA| ABR|
|   Abilene|   TX|    USA| ABI|
|     Akron|   OH|    USA| CAK|
|   Alamosa|   CO|    USA| ALS|
+----------+-----+-------+----+
only showing top 5 rows

In [13]:
!hdfs dfs -ls /public/airlines_all/airlines-part

Found 257 items
-rw-r--r--   2 hdfs supergroup          0 2021-01-28 09:28 /public/airlines_all/airlines-part/_SUCCESS
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=198710
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:40 /public/airlines_all/airlines-part/flightmonth=198711
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=198712
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=198801
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:44 /public/airlines_all/airlines-part/flightmonth=198802
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:30 /public/airlines_all/airlines-part/flightmonth=198803
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:02 /public/airlines_all/airlines-part/flightmonth=198804
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:30 /public/airlines_all/airlines-part/flightmonth=198805
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=198806
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:37 /public/airlines_all/airlines-part/flightmonth=198807
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=198808
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:19 /public/airlines_all/airlines-part/flightmonth=198809
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:44 /public/airlines_all/airlines-part/flightmonth=198810
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=198811
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=198812
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=198901
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:17 /public/airlines_all/airlines-part/flightmonth=198902
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:48 /public/airlines_all/airlines-part/flightmonth=198903
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=198904
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:01 /public/airlines_all/airlines-part/flightmonth=198905
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/airlines_all/airlines-part/flightmonth=198906
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:56 /public/airlines_all/airlines-part/flightmonth=198907
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 10:41 /public/airlines_all/airlines-part/flightmonth=198908
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:31 /public/airlines_all/airlines-part/flightmonth=198909
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:57 /public/airlines_all/airlines-part/flightmonth=198910
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:06 /public/airlines_all/airlines-part/flightmonth=198911
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:01 /public/airlines_all/airlines-part/flightmonth=198912
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=199001
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:02 /public/airlines_all/airlines-part/flightmonth=199002
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:51 /public/airlines_all/airlines-part/flightmonth=199003
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=199004
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:00 /public/airlines_all/airlines-part/flightmonth=199005
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:59 /public/airlines_all/airlines-part/flightmonth=199006
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:36 /public/airlines_all/airlines-part/flightmonth=199007
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:31 /public/airlines_all/airlines-part/flightmonth=199008
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=199009
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=199010
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:17 /public/airlines_all/airlines-part/flightmonth=199011
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:00 /public/airlines_all/airlines-part/flightmonth=199012
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/airlines_all/airlines-part/flightmonth=199101
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:36 /public/airlines_all/airlines-part/flightmonth=199102
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:41 /public/airlines_all/airlines-part/flightmonth=199103
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199104
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:37 /public/airlines_all/airlines-part/flightmonth=199105
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:35 /public/airlines_all/airlines-part/flightmonth=199106
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:06 /public/airlines_all/airlines-part/flightmonth=199107
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:17 /public/airlines_all/airlines-part/flightmonth=199108
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:30 /public/airlines_all/airlines-part/flightmonth=199109
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:30 /public/airlines_all/airlines-part/flightmonth=199110
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:31 /public/airlines_all/airlines-part/flightmonth=199111
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=199112
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=199201
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:28 /public/airlines_all/airlines-part/flightmonth=199202
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:35 /public/airlines_all/airlines-part/flightmonth=199203
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:53 /public/airlines_all/airlines-part/flightmonth=199204
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/airlines_all/airlines-part/flightmonth=199205
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:24 /public/airlines_all/airlines-part/flightmonth=199206
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:49 /public/airlines_all/airlines-part/flightmonth=199207
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:26 /public/airlines_all/airlines-part/flightmonth=199208
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:25 /public/airlines_all/airlines-part/flightmonth=199209
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:21 /public/airlines_all/airlines-part/flightmonth=199210
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=199211
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199212
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/airlines_all/airlines-part/flightmonth=199301
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:19 /public/airlines_all/airlines-part/flightmonth=199302
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:54 /public/airlines_all/airlines-part/flightmonth=199303
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=199304
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:37 /public/airlines_all/airlines-part/flightmonth=199305
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:12 /public/airlines_all/airlines-part/flightmonth=199306
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:35 /public/airlines_all/airlines-part/flightmonth=199307
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:43 /public/airlines_all/airlines-part/flightmonth=199308
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:41 /public/airlines_all/airlines-part/flightmonth=199309
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:28 /public/airlines_all/airlines-part/flightmonth=199310
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:59 /public/airlines_all/airlines-part/flightmonth=199311
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:07 /public/airlines_all/airlines-part/flightmonth=199312
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:49 /public/airlines_all/airlines-part/flightmonth=199401
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:18 /public/airlines_all/airlines-part/flightmonth=199402
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:07 /public/airlines_all/airlines-part/flightmonth=199403
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:24 /public/airlines_all/airlines-part/flightmonth=199404
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:43 /public/airlines_all/airlines-part/flightmonth=199405
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=199406
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:22 /public/airlines_all/airlines-part/flightmonth=199407
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=199408
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=199409
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:30 /public/airlines_all/airlines-part/flightmonth=199410
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:41 /public/airlines_all/airlines-part/flightmonth=199411
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=199412
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:20 /public/airlines_all/airlines-part/flightmonth=199501
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:24 /public/airlines_all/airlines-part/flightmonth=199502
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=199503
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:23 /public/airlines_all/airlines-part/flightmonth=199504
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:28 /public/airlines_all/airlines-part/flightmonth=199505
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/airlines_all/airlines-part/flightmonth=199506
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:36 /public/airlines_all/airlines-part/flightmonth=199507
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=199508
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:22 /public/airlines_all/airlines-part/flightmonth=199509
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:35 /public/airlines_all/airlines-part/flightmonth=199510
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:26 /public/airlines_all/airlines-part/flightmonth=199511
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:31 /public/airlines_all/airlines-part/flightmonth=199512
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199601
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:31 /public/airlines_all/airlines-part/flightmonth=199602
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:30 /public/airlines_all/airlines-part/flightmonth=199603
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:40 /public/airlines_all/airlines-part/flightmonth=199604
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199605
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:21 /public/airlines_all/airlines-part/flightmonth=199606
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:25 /public/airlines_all/airlines-part/flightmonth=199607
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:48 /public/airlines_all/airlines-part/flightmonth=199608
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:07 /public/airlines_all/airlines-part/flightmonth=199609
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:40 /public/airlines_all/airlines-part/flightmonth=199610
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199611
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:40 /public/airlines_all/airlines-part/flightmonth=199612
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199701
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:10 /public/airlines_all/airlines-part/flightmonth=199702
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:20 /public/airlines_all/airlines-part/flightmonth=199703
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=199704
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:26 /public/airlines_all/airlines-part/flightmonth=199705
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:32 /public/airlines_all/airlines-part/flightmonth=199706
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:32 /public/airlines_all/airlines-part/flightmonth=199707
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:19 /public/airlines_all/airlines-part/flightmonth=199708
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:48 /public/airlines_all/airlines-part/flightmonth=199709
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=199710
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:49 /public/airlines_all/airlines-part/flightmonth=199711
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199712
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:17 /public/airlines_all/airlines-part/flightmonth=199801
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:30 /public/airlines_all/airlines-part/flightmonth=199802
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=199803
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=199804
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:25 /public/airlines_all/airlines-part/flightmonth=199805
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:27 /public/airlines_all/airlines-part/flightmonth=199806
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:00 /public/airlines_all/airlines-part/flightmonth=199807
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:36 /public/airlines_all/airlines-part/flightmonth=199808
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:41 /public/airlines_all/airlines-part/flightmonth=199809
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:01 /public/airlines_all/airlines-part/flightmonth=199810
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:09 /public/airlines_all/airlines-part/flightmonth=199811
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=199812
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:40 /public/airlines_all/airlines-part/flightmonth=199901
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:11 /public/airlines_all/airlines-part/flightmonth=199902
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:48 /public/airlines_all/airlines-part/flightmonth=199903
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:41 /public/airlines_all/airlines-part/flightmonth=199904
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:36 /public/airlines_all/airlines-part/flightmonth=199905
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:00 /public/airlines_all/airlines-part/flightmonth=199906
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:59 /public/airlines_all/airlines-part/flightmonth=199907
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:19 /public/airlines_all/airlines-part/flightmonth=199908
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:56 /public/airlines_all/airlines-part/flightmonth=199909
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:36 /public/airlines_all/airlines-part/flightmonth=199910
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:20 /public/airlines_all/airlines-part/flightmonth=199911
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:26 /public/airlines_all/airlines-part/flightmonth=199912
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:42 /public/airlines_all/airlines-part/flightmonth=200001
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:48 /public/airlines_all/airlines-part/flightmonth=200002
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:08 /public/airlines_all/airlines-part/flightmonth=200003
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=200004
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:19 /public/airlines_all/airlines-part/flightmonth=200005
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:20 /public/airlines_all/airlines-part/flightmonth=200006
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:57 /public/airlines_all/airlines-part/flightmonth=200007
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:25 /public/airlines_all/airlines-part/flightmonth=200008
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:25 /public/airlines_all/airlines-part/flightmonth=200009
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:19 /public/airlines_all/airlines-part/flightmonth=200010
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:44 /public/airlines_all/airlines-part/flightmonth=200011
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:20 /public/airlines_all/airlines-part/flightmonth=200012
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:00 /public/airlines_all/airlines-part/flightmonth=200101
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:19 /public/airlines_all/airlines-part/flightmonth=200102
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:32 /public/airlines_all/airlines-part/flightmonth=200103
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:57 /public/airlines_all/airlines-part/flightmonth=200104
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:19 /public/airlines_all/airlines-part/flightmonth=200105
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:49 /public/airlines_all/airlines-part/flightmonth=200106
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:37 /public/airlines_all/airlines-part/flightmonth=200107
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:03 /public/airlines_all/airlines-part/flightmonth=200108
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:20 /public/airlines_all/airlines-part/flightmonth=200109
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:23 /public/airlines_all/airlines-part/flightmonth=200110
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:00 /public/airlines_all/airlines-part/flightmonth=200111
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:26 /public/airlines_all/airlines-part/flightmonth=200112
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:23 /public/airlines_all/airlines-part/flightmonth=200201
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 09:36 /public/airlines_all/airlines-part/flightmonth=200202
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 11:28 /public/airlines_all/airlines-part/flightmonth=200203
drwxr-xr-x   - hdfs supergroup          0 2021-01-28 08:49 /public/airlines_all/airlines-part/flightmonth=200204

In [14]:
!hdfs dfs -ls /public/airlines_all/airlines-part/flightmonth=200801

Found 1 items
-rw-r--r--   2 hdfs supergroup   14654075 2021-01-28 11:28 /public/airlines_all/airlines-part/flightmonth=200801/part-00252-5cde1303-4ebf-4a12-8fad-f5d9f9c9124a.c000.snappy.parquet

In [15]:
!hdfs dfs -find /public/retail_db_json/

/public/retail_db_json
/public/retail_db_json/categories
/public/retail_db_json/categories/_SUCCESS
/public/retail_db_json/categories/part-r-00000-ce1d8208-178d-48d3-bfb2-1a97d9c05094
/public/retail_db_json/customers
/public/retail_db_json/customers/_SUCCESS
/public/retail_db_json/customers/part-r-00000-70554560-527b-44f6-9e80-4e2031af5994
/public/retail_db_json/departments
/public/retail_db_json/departments/_SUCCESS
/public/retail_db_json/departments/part-r-00000-3db7cfae-3ad2-4fc7-88ff-afe0ec709f49
/public/retail_db_json/order_details
/public/retail_db_json/order_details/order_details.json
/public/retail_db_json/order_items
/public/retail_db_json/order_items/_SUCCESS
/public/retail_db_json/order_items/part-r-00000-6b83977e-3f20-404b-9b5f-29376ab1419e
/public/retail_db_json/orders
/public/retail_db_json/orders/_SUCCESS
/public/retail_db_json/orders/part-r-00000-990f5773-9005-49ba-b670-631286032674
/public/retail_db_json/products
/public/retail_db_json/products/_SUCCESS
/public/retail_db_json/products/part-r-00000-158b7037-4a23-47e6-8cb3-8cbf878beff7

In [16]:
orders = spark.read.json("/public/retail_db_json/orders")

In [17]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [18]:
orders.show(5)

+-----------------+--------------------+--------+---------------+
|order_customer_id|          order_date|order_id|   order_status|
+-----------------+--------------------+--------+---------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       3|       COMPLETE|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|
+-----------------+--------------------+--------+---------------+
only showing top 5 rows

In [19]:
airportCodes.show(5)

+----------+-----+-------+----+
|      City|State|Country|IATA|
+----------+-----+-------+----+
|Abbotsford|   BC| Canada| YXX|
|  Aberdeen|   SD|    USA| ABR|
|   Abilene|   TX|    USA| ABI|
|     Akron|   OH|    USA| CAK|
|   Alamosa|   CO|    USA| ALS|
+----------+-----+-------+----+
only showing top 5 rows

In [20]:
spark.conf.set("spark.sql.shuffle.partitions","2")

In [21]:
spark.sparkContext.getConf().getAll()

[('spark.dynamicAllocation.minExecutors', '4'),
 ('spark.eventLog.enabled', 'true'),
 ('spark.sql.repl.eagerEval.enabled', 'true'),
 ('spark.eventLog.dir', 'hdfs:///spark-logs'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES',
  'http://m02.itversity.com:19088/proxy/application_1707552082651_2938'),
 ('spark.ui.proxyBase', '/proxy/application_1707552082651_2938'),
 ('spark.app.startTime', '1707865966456'),
 ('spark.dynamicAllocation.maxExecutors', '10'),
 ('spark.shuffle.io.connectionTimeout', '6000'),
 ('spark.driver.port', '39103'),
 ('spark.yarn.historyServer.address', 'm02.itversity.com:18080'),
 ('spark.driver.memory', '6g'),
 ('spark.yarn.jars', ''),
 ('spark.driver.appUIAddress', 'http://g02.itversity.com:45177'),
 ('spark.history.provider',
  'org.apache.spark.deploy.history.FsHistoryProvider'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.history.fs.logDirectory', 'hdfs:///spark-logs'),
 ('spark.submit.deployMode', 'client'),
 ('spark.history.fs.update.interval', '10s'),
 ('spark.driver.extraJavaOptions', '-Dderby.system.home=/tmp/derby/'),
 ('spark.app.name', 'itv011204 | Section 17 Joining Data Sets'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS',
  'm02.itversity.com'),
 ('spark.ui.filters',
  'org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter'),
 ('spark.executor.extraLibraryPath', '/opt/hadoop/lib/native'),
 ('spark.history.ui.port', '18080'),
 ('spark.shuffle.service.enabled', 'true'),
 ('spark.driver.host', 'g02.itversity.com'),
 ('spark.executor.id', 'driver'),
 ('spark.sql.warehouse.dir', '/user/itv011204/warehouse'),
 ('spark.app.id', 'application_1707552082651_2938'),
 ('spark.history.fs.cleaner.enabled', 'true'),
 ('spark.executorEnv.PYTHONPATH',
  '/opt/spark-3.1.2-bin-hadoop3.2/python/lib/py4j-0.10.9-src.zip:/opt/spark-3.1.2-bin-hadoop3.2/python<CPS>{{PWD}}/pyspark.zip<CPS>{{PWD}}/py4j-0.10.9-src.zip'),
 ('spark.executor.memory', '6g'),
 ('spark.master', 'yarn'),
 ('spark.ui.port', '0'),
 ('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.submit.pyFiles', ''),
 ('spark.yarn.isPython', 'true'),
 ('spark.dynamicAllocation.enabled', 'true'),
 ('spark.ui.showConsoleProgress', 'true')]

In [22]:
airtraffic = spark. \
    read. \
    parquet("/public/airlines_all/airlines-part/flightmonth=200801")

In [23]:
airtraffic.count()

605659

In [24]:
airtraffic.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: string (nullable = true)
 |-- DepDelay: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)
 |-- CarrierDelay: string (nullable = true)
 |-- WeatherDelay: string (nullable = true)
 |-- NASDelay: string (nullable = true)
 |-- SecurityDelay: string (nullable = true)
 |-- LateAircraftDelay: string (nullable = true)
 |-- IsArrDelayed: string (nullable = true)
 |-- IsDepDelayed: string (nullable = true)

In [25]:
airportCodes.count()

526

In [26]:
airportCodes.show(5)

+----------+-----+-------+----+
|      City|State|Country|IATA|
+----------+-----+-------+----+
|Abbotsford|   BC| Canada| YXX|
|  Aberdeen|   SD|    USA| ABR|
|   Abilene|   TX|    USA| ABI|
|     Akron|   OH|    USA| CAK|
|   Alamosa|   CO|    USA| ALS|
+----------+-----+-------+----+
only showing top 5 rows

In [27]:
airportCodes.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- IATA: string (nullable = true)

In [28]:
airportCodes. \
    select("IATA"). \
    distinct(). \
    count()

524

In [29]:
from pyspark.sql.functions import count, lit,col

airportCodes. \
    groupBy('IATA'). \
    agg(count(lit(1)).alias("iata_count")). \
    orderBy(col('Iata_count').desc()). \
    show()

+----+----------+
|IATA|iata_count|
+----+----------+
| Big|         3|
| BHM|         1|
| ABR|         1|
| ABI|         1|
| ALB|         1|
| AEX|         1|
| ABE|         1|
| APN|         1|
| YAA|         1|
| ATW|         1|
| YEK|         1|
| ASE|         1|
| ACY|         1|
| AGS|         1|
| AUS|         1|
| YBG|         1|
| BRW|         1|
| BKW|         1|
| BLI|         1|
| BTT|         1|
+----+----------+
only showing top 20 rows

In [30]:
airportCodes. \
    groupBy('IATA'). \
    agg(count(lit(1)).alias("iata_count")). \
    filter(col('iata_count')>1). \
    show()

+----+----------+
|IATA|iata_count|
+----+----------+
| Big|         3|
+----+----------+

In [31]:
airportCodes. \
    filter(col("IATA")=='Big'). \
    show()

+-----------+------+-------+----+
|       City| State|Country|IATA|
+-----------+------+-------+----+
|       Hilo|    HI|    USA| Big|
|Kailua-Kona|Hawaii|    USA| Big|
|    Kamuela|Hawaii|    USA| Big|
+-----------+------+-------+----+

In [32]:
airportCodes. \
    filter("IATA = 'Big'"). \
    show()

+-----------+------+-------+----+
|       City| State|Country|IATA|
+-----------+------+-------+----+
|       Hilo|    HI|    USA| Big|
|Kailua-Kona|Hawaii|    USA| Big|
|    Kamuela|Hawaii|    USA| Big|
+-----------+------+-------+----+

In [33]:
airportCodes. \
    filter("!(State='Hawaii' AND IATA='Big')"). \
    show()

+-----------+-----+-------+----+
|       City|State|Country|IATA|
+-----------+-----+-------+----+
| Abbotsford|   BC| Canada| YXX|
|   Aberdeen|   SD|    USA| ABR|
|    Abilene|   TX|    USA| ABI|
|      Akron|   OH|    USA| CAK|
|    Alamosa|   CO|    USA| ALS|
|     Albany|   GA|    USA| ABY|
|     Albany|   NY|    USA| ALB|
|Albuquerque|   NM|    USA| ABQ|
| Alexandria|   LA|    USA| AEX|
|  Allentown|   PA|    USA| ABE|
|   Alliance|   NE|    USA| AIA|
|     Alpena|   MI|    USA| APN|
|    Altoona|   PA|    USA| AOO|
|   Amarillo|   TX|    USA| AMA|
|Anahim Lake|   BC| Canada| YAA|
|  Anchorage|   AK|    USA| ANC|
|   Appleton|   WI|    USA| ATW|
|     Arviat|  NWT| Canada| YEK|
|  Asheville|   NC|    USA| AVL|
|      Aspen|   CO|    USA| ASE|
+-----------+-----+-------+----+
only showing top 20 rows

In [34]:
airportCodes. \
    filter("!(State='Hawaii' AND IATA='Big')"). \
    count()

524

In [35]:
airportCodesPath

'/public/airlines_all/airport-codes'

In [36]:
spark.\
    read. \
    option("sep","\t"). \
    option("header",True). \
    option("inferSchema",True). \
    csv(airportCodesPath). \
    filter("!(State='Hawaii' AND IATA='Big') AND Country='USA'"). \
    count()

443

In [37]:
airportCodes = spark.\
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema",True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big') AND Country='USA'")

In [38]:
airportCodes.count()

443

In [39]:
airportCountByState = airportCodes. \
    groupBy("Country","State"). \
    agg(count(lit(1)).alias("IATACount")). \
    orderBy(col("IATACount").desc())

In [40]:
airportCountByState.show()

+-------+-----+---------+
|Country|State|IATACount|
+-------+-----+---------+
|    USA|   CA|       29|
|    USA|   TX|       26|
|    USA|   AK|       25|
|    USA|   MI|       18|
|    USA|   FL|       18|
|    USA|   NY|       18|
|    USA|   MT|       14|
|    USA|   PA|       13|
|    USA|   CO|       12|
|    USA|   IL|       12|
|    USA|   WY|       10|
|    USA|   NC|       10|
|    USA|   GA|        9|
|    USA|   NM|        9|
|    USA|   WA|        9|
|    USA|   WI|        9|
|    USA|   HI|        9|
|    USA|   NE|        9|
|    USA|   KS|        9|
|    USA|   IA|        8|
+-------+-----+---------+
only showing top 20 rows

In [41]:
airportCountByState.count()

51

In [42]:
 orders = spark.read.json("/public/retail_db_json/orders")

In [43]:
order_items = spark.read.json("/public/retail_db_json/order_items")

In [44]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [45]:
order_items.printSchema()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [46]:
from pyspark.sql.functions import col

orders.\
    select(col("order_customer_id")). \
    distinct(). \
    count()

12405

In [47]:
orders.count()

68883

In [48]:
orders. \
    groupBy(col("order_customer_id")). \
    agg(count(lit(1)).alias("order_count")). \
    orderBy(col("order_count").desc()). \
    show()

+-----------------+-----------+
|order_customer_id|order_count|
+-----------------+-----------+
|              569|         16|
|             5897|         16|
|            12431|         16|
|             6316|         16|
|             5283|         15|
|             5654|         15|
|            12284|         15|
|              221|         15|
|             4320|         15|
|             5624|         15|
|             4517|         14|
|             3710|         14|
|             4116|         14|
|             1011|         14|
|             1940|         14|
|             6248|         14|
|              791|         14|
|            10591|         14|
|             4249|         14|
|            11689|         14|
+-----------------+-----------+
only showing top 20 rows

In [49]:
help(orders.join)

Help on method join in module pyspark.sql.dataframe:

join(other, on=None, how=None) method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql.functions import desc
    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
    [Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]

In [50]:
orders_join = orders.join(
    order_items,
    orders.order_id == order_items.order_item_order_id
)

In [51]:
orders_join = orders.join(
    order_items,
    on=orders.order_id == order_items.order_item_order_id
)

In [52]:
orders_join = orders.join(
    order_items,
    on = col("order_id") == col("order_item_order_id")
)

In [53]:
orders_join = orders.join(
    order_items,
    on=orders['order_id']==order_items["order_item_order_id"]
)

In [54]:
orders_join = orders.join(
    order_items,
    on=orders['order_id']==order_items["order_item_order_id"],
    how='inner'
)

In [55]:
orders_join.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [56]:
orders_join.show(5)

+-----------------+--------------------+--------+---------------+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_customer_id|          order_date|order_id|   order_status|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-----------------+--------------------+--------+---------------+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|            1|                  1|                  957|                  299.98|                  1|             299.98|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|            3|                  2|                  502|                    50.0|                  5|              250.0|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|            4|                  2|                  403|                  129.99|                  1|             129.99|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|            5|                  4|                  897|                   24.99|                  2|              49.98|
+-----------------+--------------------+--------+---------------+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 5 rows

In [57]:
orders.count()

68883

In [58]:
order_items.count()

172198

In [59]:
orders_join.count()

172198

In [60]:
orders. \
    join(order_items,
        on = orders['order_id'] == order_items['order_item_order_id'],
        how='inner'
    ). \
    select(orders['*'],order_items['order_item_subtotal']). \
    show()

+-----------------+--------------------+--------+---------------+-------------------+
|order_customer_id|          order_date|order_id|   order_status|order_item_subtotal|
+-----------------+--------------------+--------+---------------+-------------------+
|            11599|2013-07-25 00:00:...|       1|         CLOSED|             299.98|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|             199.99|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|              250.0|
|              256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|             129.99|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|              49.98|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|             299.95|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|              150.0|
|             8827|2013-07-25 00:00:...|       4|         CLOSED|             199.92|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|             299.98|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|             299.95|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|              99.96|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|             299.98|
|            11318|2013-07-25 00:00:...|       5|       COMPLETE|             129.99|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|             199.99|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|             299.98|
|             4530|2013-07-25 00:00:...|       7|       COMPLETE|              79.95|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|             179.97|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|             299.95|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|             199.92|
|             2911|2013-07-25 00:00:...|       8|     PROCESSING|               50.0|
+-----------------+--------------------+--------+---------------+-------------------+
only showing top 20 rows

In [61]:
orders. \
    join(
        order_items,
        on = orders.order_id == order_items.order_item_order_id,
        how ='inner'
    ). \
    select( orders.order_id, orders.order_date, orders.order_status, order_items.order_item_subtotal). \
    show()

+--------+--------------------+---------------+-------------------+
|order_id|          order_date|   order_status|order_item_subtotal|
+--------+--------------------+---------------+-------------------+
|       1|2013-07-25 00:00:...|         CLOSED|             299.98|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|             199.99|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|              250.0|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|             129.99|
|       4|2013-07-25 00:00:...|         CLOSED|              49.98|
|       4|2013-07-25 00:00:...|         CLOSED|             299.95|
|       4|2013-07-25 00:00:...|         CLOSED|              150.0|
|       4|2013-07-25 00:00:...|         CLOSED|             199.92|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.95|
|       5|2013-07-25 00:00:...|       COMPLETE|              99.96|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       5|2013-07-25 00:00:...|       COMPLETE|             129.99|
|       7|2013-07-25 00:00:...|       COMPLETE|             199.99|
|       7|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       7|2013-07-25 00:00:...|       COMPLETE|              79.95|
|       8|2013-07-25 00:00:...|     PROCESSING|             179.97|
|       8|2013-07-25 00:00:...|     PROCESSING|             299.95|
|       8|2013-07-25 00:00:...|     PROCESSING|             199.92|
|       8|2013-07-25 00:00:...|     PROCESSING|               50.0|
+--------+--------------------+---------------+-------------------+
only showing top 20 rows

In [62]:
orders. \
    join(
        order_items,
        on = orders["order_id"] == order_items["order_item_order_id"],
        how ='inner'
    ). \
    select( orders["order_id"], orders["order_date"], orders["order_status"], order_items["order_item_subtotal"]). \
    show()

+--------+--------------------+---------------+-------------------+
|order_id|          order_date|   order_status|order_item_subtotal|
+--------+--------------------+---------------+-------------------+
|       1|2013-07-25 00:00:...|         CLOSED|             299.98|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|             199.99|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|              250.0|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|             129.99|
|       4|2013-07-25 00:00:...|         CLOSED|              49.98|
|       4|2013-07-25 00:00:...|         CLOSED|             299.95|
|       4|2013-07-25 00:00:...|         CLOSED|              150.0|
|       4|2013-07-25 00:00:...|         CLOSED|             199.92|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.95|
|       5|2013-07-25 00:00:...|       COMPLETE|              99.96|
|       5|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       5|2013-07-25 00:00:...|       COMPLETE|             129.99|
|       7|2013-07-25 00:00:...|       COMPLETE|             199.99|
|       7|2013-07-25 00:00:...|       COMPLETE|             299.98|
|       7|2013-07-25 00:00:...|       COMPLETE|              79.95|
|       8|2013-07-25 00:00:...|     PROCESSING|             179.97|
|       8|2013-07-25 00:00:...|     PROCESSING|             299.95|
|       8|2013-07-25 00:00:...|     PROCESSING|             199.92|
|       8|2013-07-25 00:00:...|     PROCESSING|               50.0|
+--------+--------------------+---------------+-------------------+
only showing top 20 rows

In [63]:
orders = spark.read.json('/public/retail_db_json/orders')

In [64]:
customers = spark.read.json('/public/retail_db_json/customers')

In [65]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [66]:
customers.printSchema()

root
 |-- customer_city: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: string (nullable = true)

In [67]:
help(customers.join)

Help on method join in module pyspark.sql.dataframe:

join(other, on=None, how=None) method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql.functions import desc
    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height)                 .sort(desc("name")).collect()
    [Row(name='Bob', height=85), Row(name='Alice', height=None), Row(name=None, height=80)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]

In [68]:
customers.join(
    orders,
    on = customers.customer_id == orders.order_customer_id,
    how = 'left_outer'
    ). \
    select(customers.customer_id, orders.order_customer_id,orders.order_date, orders.order_status). \
    show(5)

+-----------+-----------------+--------------------+---------------+
|customer_id|order_customer_id|          order_date|   order_status|
+-----------+-----------------+--------------------+---------------+
|          1|                1|2013-12-13 00:00:...|       COMPLETE|
|          2|                2|2013-11-30 00:00:...|       COMPLETE|
|          2|                2|2013-08-02 00:00:...|        ON_HOLD|
|          2|                2|2014-02-18 00:00:...|       COMPLETE|
|          2|                2|2013-10-29 00:00:...|PENDING_PAYMENT|
+-----------+-----------------+--------------------+---------------+
only showing top 5 rows

In [69]:
from pyspark.sql.functions import concat,lit

customers.join(
    orders,
    on = customers.customer_id == orders.order_customer_id,
    how = 'left_outer'
    ). \
    select(customers.customer_id, orders.order_customer_id,orders.order_date, orders.order_status). \
    withColumn('customer_fullname',concat(customers.customer_fname,lit(' '), customers.customer_lname)) .\
    show(5)

AnalysisException: Resolved attribute(s) customer_fname#901,customer_lname#903 missing from customer_id#902L,order_customer_id#884L,order_date#885,order_status#887 in operator !Project [customer_id#902L, order_customer_id#884L, order_date#885, order_status#887, concat(customer_fname#901,  , customer_lname#903) AS customer_fullname#998].;
!Project [customer_id#902L, order_customer_id#884L, order_date#885, order_status#887, concat(customer_fname#901,  , customer_lname#903) AS customer_fullname#998]
+- Project [customer_id#902L, order_customer_id#884L, order_date#885, order_status#887]
   +- Join LeftOuter, (customer_id#902L = order_customer_id#884L)
      :- Relation[customer_city#899,customer_email#900,customer_fname#901,customer_id#902L,customer_lname#903,customer_password#904,customer_state#905,customer_street#906,customer_zipcode#907] json
      +- Relation[order_customer_id#884L,order_date#885,order_id#886L,order_status#887] json

In [70]:
from pyspark.sql.functions import concat,lit

customers.join(
    orders,
    on = customers.customer_id == orders.order_customer_id,
    how = 'left_outer'
    ). \
    select(customers.customer_id,
           concat(customers.customer_fname,lit(' '), customers.customer_lname).alias('customer_fullname'),
           orders.order_customer_id,orders.order_date, orders.order_status). \
    show(5)

+-----------+-----------------+-----------------+--------------------+---------------+
|customer_id|customer_fullname|order_customer_id|          order_date|   order_status|
+-----------+-----------------+-----------------+--------------------+---------------+
|          1|Richard Hernandez|                1|2013-12-13 00:00:...|       COMPLETE|
|          2|     Mary Barrett|                2|2013-11-30 00:00:...|       COMPLETE|
|          2|     Mary Barrett|                2|2013-08-02 00:00:...|        ON_HOLD|
|          2|     Mary Barrett|                2|2014-02-18 00:00:...|       COMPLETE|
|          2|     Mary Barrett|                2|2013-10-29 00:00:...|PENDING_PAYMENT|
+-----------+-----------------+-----------------+--------------------+---------------+
only showing top 5 rows

In [71]:
help(customers)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3.0
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but give the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities. If
 |          the input `col` is a string, the output is a list of floats. If the
 |          input `col` is a list or tuple of strings, the output is also a
 |          list, but each element in it is a list of floats, i.e., the output
 |          is a list of list of floats.
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this :class:`DataFrame`, which is especially useful in iterative algorithms
 |      where the plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional
 |          Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Examples
 |      --------
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.count()
 |      2
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Examples
 |      --------
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      other : :class:`DataFrame`
 |          Right side of the cartesian product.
 |
 |      Examples
 |      --------
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column. Distinct items will make the first item of
 |          each row.
 |      col2 : str
 |          The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      .. versionadded:: 1.3.1
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      Notes
 |      -----
 |      This function is meant for exploratory data analysis, as we make no
 |      guarantee about the backward compatibility of the schema of the resulting
 |      :class:`DataFrame`.
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      Examples
 |      --------
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      See Also
 |      --------
 |      DataFrame.summary
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.distinct().count()
 |      2
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols: str or :class:`Column`
 |          a name of the column, or the :class:`Column` to drop
 |
 |      Examples
 |      --------
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +-----+---+------+
 |      | name|age|height|
 |      +-----+---+------+
 |      |Alice|  5|    80|
 |      |Alice| 10|    80|
 |      +-----+---+------+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +-----+---+------+
 |      | name|age|height|
 |      +-----+---+------+
 |      |Alice|  5|    80|
 |      +-----+---+------+
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      Parameters
 |      ----------
 |      how : str, optional
 |          'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      thresh: int, optional
 |          default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |
 |      Examples
 |      --------

In [72]:
customer_order_details = customers.join(
    orders,
    on=customers['customer_id'] == orders['order_customer_id'],
    how='inner'
)

In [73]:
orders.count()

68883

In [74]:
customer_order_details.count()

68883

In [75]:
customer_order_details_left = customers.join(
    orders,
    on=customers['customer_id'] == orders['order_customer_id'],
    how='left'
)

In [76]:
customer_order_details_left.count()

68913

In [77]:
customer_order_details_left = customers.join(
    orders,
    on= customers['customer_id']==orders['order_customer_id'],
    how='left_outer'
)

In [78]:
customer_order_details_left.count()

68913

In [79]:
customer_order_details_right = orders.join(
    customers,
    on = orders['order_customer_id'] == customers['customer_id'],
    how='right'
)

In [80]:
customer_order_details_right.count()

68913

In [81]:
customer_order_details_right = orders.join(
    customers,
    on = orders['order_customer_id'] == customers['customer_id'],
    how='right_outer'
)

In [82]:
customer_order_details_right.count()

68913

In [83]:
customer_order_details_left. \
    select(customers.customer_id, customers.customer_email, orders["*"]). \
    show(5)

+-----------+--------------+-----------------+--------------------+--------+---------------+
|customer_id|customer_email|order_customer_id|          order_date|order_id|   order_status|
+-----------+--------------+-----------------+--------------------+--------+---------------+
|          1|     XXXXXXXXX|                1|2013-12-13 00:00:...|   22945|       COMPLETE|
|          2|     XXXXXXXXX|                2|2013-11-30 00:00:...|   67863|       COMPLETE|
|          2|     XXXXXXXXX|                2|2013-08-02 00:00:...|   57963|        ON_HOLD|
|          2|     XXXXXXXXX|                2|2014-02-18 00:00:...|   33865|       COMPLETE|
|          2|     XXXXXXXXX|                2|2013-10-29 00:00:...|   15192|PENDING_PAYMENT|
+-----------+--------------+-----------------+--------------------+--------+---------------+
only showing top 5 rows

In [84]:
orders.count()

68883

In [85]:
customers.count()

12435

In [86]:
customer_order_details.count()

68883

In [87]:
customer_order_details_left.count()

68913

In [88]:
customer_order_details_left. \
    filter(orders.order_id.isNull()). \
    select(customers.customer_id, customers.customer_email, orders['*']). \
    count()

30

In [89]:
customer_order_details_left. \
    filter(orders.order_id.isNull()). \
    select(customers.customer_id, customers.customer_email, orders['*']). \
    show(30)

+-----------+--------------+-----------------+----------+--------+------------+
|customer_id|customer_email|order_customer_id|order_date|order_id|order_status|
+-----------+--------------+-----------------+----------+--------+------------+
|        219|     XXXXXXXXX|             null|      null|    null|        null|
|        339|     XXXXXXXXX|             null|      null|    null|        null|
|        469|     XXXXXXXXX|             null|      null|    null|        null|
|       1187|     XXXXXXXXX|             null|      null|    null|        null|
|       1481|     XXXXXXXXX|             null|      null|    null|        null|
|       1808|     XXXXXXXXX|             null|      null|    null|        null|
|       2073|     XXXXXXXXX|             null|      null|    null|        null|
|       2096|     XXXXXXXXX|             null|      null|    null|        null|
|       2450|     XXXXXXXXX|             null|      null|    null|        null|
|       4555|     XXXXXXXXX|             null|      null|    null|        null|
|       4927|     XXXXXXXXX|             null|      null|    null|        null|
|       6072|     XXXXXXXXX|             null|      null|    null|        null|
|       6613|     XXXXXXXXX|             null|      null|    null|        null|
|       7011|     XXXXXXXXX|             null|      null|    null|        null|
|       7552|     XXXXXXXXX|             null|      null|    null|        null|
|       8243|     XXXXXXXXX|             null|      null|    null|        null|
|       8343|     XXXXXXXXX|             null|      null|    null|        null|
|       8575|     XXXXXXXXX|             null|      null|    null|        null|
|       8778|     XXXXXXXXX|             null|      null|    null|        null|
|       8882|     XXXXXXXXX|             null|      null|    null|        null|
|       9060|     XXXXXXXXX|             null|      null|    null|        null|
|       9315|     XXXXXXXXX|             null|      null|    null|        null|
|      10060|     XXXXXXXXX|             null|      null|    null|        null|
|      10330|     XXXXXXXXX|             null|      null|    null|        null|
|      10439|     XXXXXXXXX|             null|      null|    null|        null|
|      10913|     XXXXXXXXX|             null|      null|    null|        null|
|      10958|     XXXXXXXXX|             null|      null|    null|        null|
|      12175|     XXXXXXXXX|             null|      null|    null|        null|
|      12190|     XXXXXXXXX|             null|      null|    null|        null|
|      12392|     XXXXXXXXX|             null|      null|    null|        null|
+-----------+--------------+-----------------+----------+--------+------------+

In [90]:
customers.alias('c'). \
    join(
        orders.alias('o'),
        on= customers.customer_id == orders.order_customer_id,
        how = 'left'
    ). \
    filter('o.order_id IS NULL'). \
    selectExpr('c.customer_id', 'c.customer_email', 'o.*'). \
    show()

+-----------+--------------+-----------------+----------+--------+------------+
|customer_id|customer_email|order_customer_id|order_date|order_id|order_status|
+-----------+--------------+-----------------+----------+--------+------------+
|        219|     XXXXXXXXX|             null|      null|    null|        null|
|        339|     XXXXXXXXX|             null|      null|    null|        null|
|        469|     XXXXXXXXX|             null|      null|    null|        null|
|       1187|     XXXXXXXXX|             null|      null|    null|        null|
|       1481|     XXXXXXXXX|             null|      null|    null|        null|
|       1808|     XXXXXXXXX|             null|      null|    null|        null|
|       2073|     XXXXXXXXX|             null|      null|    null|        null|
|       2096|     XXXXXXXXX|             null|      null|    null|        null|
|       2450|     XXXXXXXXX|             null|      null|    null|        null|
|       4555|     XXXXXXXXX|             null|      null|    null|        null|
|       4927|     XXXXXXXXX|             null|      null|    null|        null|
|       6072|     XXXXXXXXX|             null|      null|    null|        null|
|       6613|     XXXXXXXXX|             null|      null|    null|        null|
|       7011|     XXXXXXXXX|             null|      null|    null|        null|
|       7552|     XXXXXXXXX|             null|      null|    null|        null|
|       8243|     XXXXXXXXX|             null|      null|    null|        null|
|       8343|     XXXXXXXXX|             null|      null|    null|        null|
|       8575|     XXXXXXXXX|             null|      null|    null|        null|
|       8778|     XXXXXXXXX|             null|      null|    null|        null|
|       8882|     XXXXXXXXX|             null|      null|    null|        null|
+-----------+--------------+-----------------+----------+--------+------------+
only showing top 20 rows

In [91]:
customers.alias('c'). \
    join(
        orders.alias('o'),
        on= customers.customer_id == orders.order_customer_id,
        how = 'left'
    ). \
    filter('o.order_id IS NULL'). \
    selectExpr('c.customer_id', 'c.customer_email', 'o.*'). \
    count()

30

In [92]:
orders = spark.read.json("/public/retail_db_json/orders")

In [93]:
order_items = spark.read.json("/public/retail_db_json/order_items")

In [94]:
orders_filtered = orders.filter("order_date LIKE '2013%'")

In [95]:
customer_order_details_left = customers.alias('c'). \
    join(
        orders_filtered.alias('o'),
        on = customers['customer_id'] == orders_filtered['order_customer_id'],
        how='left_outer'
    )

In [96]:
orders_filtered.count()

30662

In [97]:
customer_order_details_left.count()

31746

In [98]:
customer_order_details_left.printSchema()

root
 |-- customer_city: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- customer_fname: string (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- customer_lname: string (nullable = true)
 |-- customer_password: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_street: string (nullable = true)
 |-- customer_zipcode: string (nullable = true)
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [99]:
customer_order_details_left. \
    groupBy("customer_id"). \
    agg( count(lit(1)).alias('order_count')). \
    orderBy(col('order_count').asc()). \
    show(5)

+-----------+-----------+
|customer_id|order_count|
+-----------+-----------+
|         38|          1|
|         83|          1|
|         46|          1|
|          5|          1|
|         55|          1|
+-----------+-----------+
only showing top 5 rows

In [100]:
customer_order_details_left. \
    groupBy("customer_id"). \
    agg( count(lit(1)).alias('order_count')). \
    orderBy(col('order_count').asc()). \
    count()

12435

In [101]:
from pyspark.sql.functions import sum,avg,min,max,when

customer_order_details_left. \
    groupBy("customer_id"). \
    agg( 
        count(lit(1)).alias('order_count'),
        sum((when(col('order_id').isNotNull(),1).otherwise(0))).alias('order_count2')
    ). \
    orderBy(col('order_count').asc()). \
    show()

+-----------+-----------+------------+
|customer_id|order_count|order_count2|
+-----------+-----------+------------+
|         83|          1|           1|
|          5|          1|           1|
|         26|          1|           1|
|         28|          1|           0|
|         29|          1|           1|
|         30|          1|           1|
|         38|          1|           1|
|         46|          1|           1|
|         55|          1|           0|
|         57|          1|           1|
|         81|          1|           1|
|         84|          1|           1|
|         91|          1|           0|
|        104|          1|           1|
|        115|          1|           1|
|        128|          1|           1|
|        130|          1|           1|
|        136|          1|           1|
|        140|          1|           1|
|        151|          1|           1|
+-----------+-----------+------------+
only showing top 20 rows

In [102]:
customer_order_details_left. \
    filter(orders.order_id.isNull()). \
    groupBy("customer_id"). \
    agg( 
        count(lit(1)).alias('order_count'),
        sum((when(col('order_id').isNotNull(),1).otherwise(0))).alias('order_count2')
    ). \
    orderBy(col('order_count').asc()). \
    show()

+-----------+-----------+------------+
|customer_id|order_count|order_count2|
+-----------+-----------+------------+
|         28|          1|           0|
|         55|          1|           0|
|         91|          1|           0|
|        186|          1|           0|
|        200|          1|           0|
|        219|          1|           0|
|        301|          1|           0|
|        360|          1|           0|
|        399|          1|           0|
|        456|          1|           0|
|        476|          1|           0|
|        519|          1|           0|
|        540|          1|           0|
|        574|          1|           0|
|        588|          1|           0|
|        631|          1|           0|
|        652|          1|           0|
|        657|          1|           0|
|        701|          1|           0|
|        769|          1|           0|
+-----------+-----------+------------+
only showing top 20 rows

In [103]:
customer_order_details_left. \
    filter(orders.order_id.isNull()). \
    groupBy("customer_id"). \
    agg( 
        count(lit(1)).alias('order_count'),
        sum((when(col('order_id').isNotNull(),1).otherwise(0))).alias('order_count2')
    ). \
    orderBy(col('order_count').asc()). \
    count()

1084

In [104]:
31746-30662

1084

## Air Traffic tables join

In [105]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [106]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [107]:
airtrafficPath = "/public/airlines_all/airlines-part/flightmonth=200801"

In [108]:
airtraffic = spark. \
    read. \
    parquet(airtrafficPath)

In [109]:
airtraffic. \
    select(
        "Year", "Month", "DayOfMonth",
        "Origin", "Dest", "CRSDepTime"
    ). \
    show()

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
|2008|    1|        18|   STL| JFK|      1150|
|2008|    1|        18|   MCI| CVG|      1009|
|2008|    1|        19|   TUL| CVG|       835|
|2008|    1|        20|   JFK| PHL|      1935|
|2008|    1|        20|   RDU| CVG|       830|
|2008|    1|        21|   CVG| DTW|      1640|
|2008|    1|        21|   MSY| LGA|      1204|
|2008|    1|        21|   JFK| PHL|      1935|
|2008|    1|        21|   DCA| JFK|      1830|
|2008|    1|        21|   HSV| DCA|       700|
|2008|    1|        22|   ORD| CVG|      1910|
|2008|    1|        22|   CVG| JFK|      1320|
|2008|    1|        23|   LGA| SAV|       908|
|2008|    1|        23|   CLT| CVG|      1252|
|2008|    1|        23|   GSP| LGA|       635|
+----+-----+----------+------+----+----------+
only showing top 20 rows

In [111]:
airtraffic.count()

605659

In [110]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [112]:
def getValidAirportCodes(airportCodesPath):
    airportCodes = spark. \
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema", True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big') AND Country='USA'")
    return airportCodes

In [113]:
airportCodes = getValidAirportCodes(airportCodesPath)

In [114]:
airportCodes.count()

443

In [116]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA']
    ). \
    select(airtraffic['Year'], airtraffic['Month'], airtraffic['DayOfMonth'],airportCodes['*'],airtraffic['CRSDepTime']). \
    show()

+----+-----+----------+-------------+-----+-------+----+----------+
|Year|Month|DayOfMonth|         City|State|Country|IATA|CRSDepTime|
+----+-----+----------+-------------+-----+-------+----+----------+
|2008|    1|        16|       Bangor|   ME|    USA| BGR|      1735|
|2008|    1|        17|     Syracuse|   NY|    USA| SYR|      1701|
|2008|    1|        17|     Savannah|   GA|    USA| SAV|      1225|
|2008|    1|        17|   Cincinnati|   OH|    USA| CVG|      1530|
|2008|    1|        17|    St. Louis|   MO|    USA| STL|      1205|
|2008|    1|        18|    St. Louis|   MO|    USA| STL|      1150|
|2008|    1|        18|  Kansas City|   MO|    USA| MCI|      1009|
|2008|    1|        19|        Tulsa|   OK|    USA| TUL|       835|
|2008|    1|        20|     New York|   NY|    USA| JFK|      1935|
|2008|    1|        20|      Raleigh|   NC|    USA| RDU|       830|
|2008|    1|        21|   Cincinnati|   OH|    USA| CVG|      1640|
|2008|    1|        21|  New Orleans|   LA|    USA| MSY|      1204|
|2008|    1|        21|     New York|   NY|    USA| JFK|      1935|
|2008|    1|        21|Washington DC| null|    USA| DCA|      1830|
|2008|    1|        21|   Huntsville|   AL|    USA| HSV|       700|
|2008|    1|        22|      Chicago|   IL|    USA| ORD|      1910|
|2008|    1|        22|   Cincinnati|   OH|    USA| CVG|      1320|
|2008|    1|        23|     New York|   NY|    USA| LGA|       908|
|2008|    1|        23|    Charlotte|   NC|    USA| CLT|      1252|
|2008|    1|        23|   Greenville|   SC|    USA| GSP|       635|
+----+-----+----------+-------------+-----+-------+----+----------+
only showing top 20 rows

In [117]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA']
    ). \
    select(airtraffic['Year'], airtraffic['Month'], airtraffic['DayOfMonth'],airportCodes['*'],airtraffic['CRSDepTime']). \
    count()

600074

In [119]:
airtraffic. \
    join(
        airportCodes,
        on = airtraffic['Origin']==airportCodes['IATA']
    ). \
    groupBy(airtraffic['Origin']). \
    agg(count(lit(1)).alias('FlightCount')). \
    select(airtraffic['Origin'], col('FlightCount')). \
    show()

+------+-----------+
|Origin|FlightCount|
+------+-----------+
|   BGR|        208|
|   SYR|       1048|
|   CVG|       8659|
|   STL|       5329|
|   JFK|      10023|
|   MSY|       3453|
|   DCA|       7304|
|   HSV|        901|
|   ORD|      29936|
|   CLT|      10752|
|   GSP|        995|
|   BOS|       9717|
|   COS|       1445|
|   BNA|       4935|
|   ATL|      33897|
|   SJC|       4976|
|   GJT|        372|
|   AZO|        359|
|   ELP|       1818|
|   PDX|       4898|
+------+-----------+
only showing top 20 rows

In [121]:
airtraffic. \
    join(
        airportCodes,
        on = airtraffic['Origin']==airportCodes['IATA']
    ). \
    groupBy(airtraffic['Origin']). \
    agg(count(lit(1)).alias('FlightCount')). \
    select(airtraffic['Origin'], col('FlightCount')). \
    orderBy(col('FlightCount').desc()). \
    show()

+------+-----------+
|Origin|FlightCount|
+------+-----------+
|   ATL|      33897|
|   ORD|      29936|
|   DFW|      23861|
|   DEN|      19477|
|   LAX|      18945|
|   PHX|      17695|
|   IAH|      15531|
|   LAS|      15292|
|   DTW|      14357|
|   EWR|      12467|
|   SLC|      12401|
|   MSP|      11800|
|   SFO|      11573|
|   MCO|      11070|
|   CLT|      10752|
|   LGA|      10300|
|   JFK|      10023|
|   BOS|       9717|
|   BWI|       8883|
|   CVG|       8659|
+------+-----------+
only showing top 20 rows

In [123]:
## 207 Get Flight Count Per US State using Spark Data Frame APIs

In [1]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [2]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [3]:
airtrafficPath = "/public/airlines_all/airlines-part/flightmonth=200801"

In [4]:
airtraffic = spark.read.parquet(airtrafficPath)

In [5]:
airtraffic. \
    select(
        "Year", "Month", "DayOfMonth",
        "Origin","Dest", "CRSDepTime"
    ). \
    show(5)

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
+----+-----+----------+------+----+----------+
only showing top 5 rows

In [6]:
airtraffic.count()

605659

In [7]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [8]:
def getValidAirportCodes(airportCodesPath):
    airportCodes = spark. \
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema", True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big') AND Country='USA'")
    return airportCodes

In [9]:
airportCodes = getValidAirportCodes(airportCodesPath)

In [10]:
airportCodes.count()

443

In [11]:
from pyspark.sql.functions import col,lit,count

In [12]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='inner'
    ). \
    groupBy( airportCodes['State']). \
    agg(count(lit(1)).alias('FlightCount')). \
    show()

+-----+-----------+
|State|FlightCount|
+-----+-----------+
|   NY|      28414|
|   MO|      11808|
|   NC|      17942|
|   IL|      39812|
|   SC|       3525|
|   TN|      13549|
|   VA|       4093|
|   MI|      17824|
|   ID|       2497|
|   OR|       6221|
|   SD|        844|
|   AZ|      20768|
|   NE|       2547|
|   NM|       3509|
|   MN|      12357|
|   MD|       8883|
|   IA|       2315|
|   MS|       2005|
|   NJ|      12498|
|   CT|       2729|
+-----+-----------+
only showing top 20 rows

In [14]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='inner'
    ). \
    groupBy( airportCodes['State']). \
    agg(count(lit(1)).alias('FlightCount')). \
    orderBy(col('FlightCount').desc()). \
    show()

+-----+-----------+
|State|FlightCount|
+-----+-----------+
|   CA|      72853|
|   TX|      63930|
|   FL|      41042|
|   IL|      39812|
|   GA|      35527|
|   NY|      28414|
|   CO|      23288|
|   AZ|      20768|
|   OH|      19209|
|   NC|      17942|
|   MI|      17824|
|   NV|      17763|
| null|      14090|
|   TN|      13549|
|   PA|      13491|
|   UT|      12709|
|   NJ|      12498|
|   MN|      12357|
|   MO|      11808|
|   WA|      10210|
+-----+-----------+
only showing top 20 rows

In [15]:
## 208 Solution Get Dormant US Airports using Spark DF APIs

In [21]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [22]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [23]:
airtrafficPath = "/public/airlines_all/airlines-part/flightmonth=200801"

In [24]:
airtraffic = spark.read.parquet(airtrafficPath)

In [25]:
airtraffic. \
    select(
        "Year", "Month", "DayOfMonth",
        "Origin","Dest", "CRSDepTime"
    ). \
    show(5)

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
+----+-----+----------+------+----+----------+
only showing top 5 rows

In [26]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [27]:
def getValidAirportCodes(airportCodesPath):
    airportCodes = spark. \
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema", True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big') AND Country='USA'")
    return airportCodes

In [28]:
airportCodes = getValidAirportCodes(airportCodesPath)

In [29]:
airportCodes.count()

443

In [30]:
from pyspark.sql.functions import col

In [33]:
airportCodes. \
    join(
        airtraffic,
        on= airportCodes['IATA']==airtraffic['Origin'],
        how = 'left'
    ). \
    filter("Origin IS NULL"). \
    select(airportCodes['*'], col("Origin")). \
    show()

+--------------+-----+-------+----+------+
|          City|State|Country|IATA|Origin|
+--------------+-----+-------+----+------+
|      Aberdeen|   SD|    USA| ABR|  null|
|       Alamosa|   CO|    USA| ALS|  null|
|      Alliance|   NE|    USA| AIA|  null|
|        Alpena|   MI|    USA| APN|  null|
|       Altoona|   PA|    USA| AOO|  null|
|        Athens|   GA|    USA| AHN|  null|
|       Augusta|   ME|    USA| AUG|  null|
|    Bar Harbor|   ME|    USA| BHB|  null|
|       Beckley|   WV|    USA| BKW|  null|
|       Bedford|   MA|    USA| BED|  null|
|       Bemidji|   MN|    USA| BJI|  null|
|       Bettles|   AK|    USA| BTT|  null|
|   Bloomington|   IN|    USA| BMG|  null|
|     Bluefield|   WV|    USA| BLF|  null|
|     Brookings|   SD|    USA| BKX|  null|
|    Burlington|   IA|    USA| BRL|  null|
|    Burlington|   MA|    USA| BBF|  null|
|Cape Girardeau|   MO|    USA| CGI|  null|
|      Carlsbad|   NM|    USA| CNM|  null|
|      Cheyenne|   WY|    USA| CYS|  null|
+--------------+-----+-------+----+------+
only showing top 20 rows

In [34]:
airportCodes. \
    join(
        airtraffic,
        on= airportCodes['IATA']==airtraffic['Origin'],
        how = 'left'
    ). \
    filter(airtraffic['Origin'].isNull()). \
    select(airportCodes['*'], col("Origin")). \
    show()

+--------------+-----+-------+----+------+
|          City|State|Country|IATA|Origin|
+--------------+-----+-------+----+------+
|      Aberdeen|   SD|    USA| ABR|  null|
|       Alamosa|   CO|    USA| ALS|  null|
|      Alliance|   NE|    USA| AIA|  null|
|        Alpena|   MI|    USA| APN|  null|
|       Altoona|   PA|    USA| AOO|  null|
|        Athens|   GA|    USA| AHN|  null|
|       Augusta|   ME|    USA| AUG|  null|
|    Bar Harbor|   ME|    USA| BHB|  null|
|       Beckley|   WV|    USA| BKW|  null|
|       Bedford|   MA|    USA| BED|  null|
|       Bemidji|   MN|    USA| BJI|  null|
|       Bettles|   AK|    USA| BTT|  null|
|   Bloomington|   IN|    USA| BMG|  null|
|     Bluefield|   WV|    USA| BLF|  null|
|     Brookings|   SD|    USA| BKX|  null|
|    Burlington|   IA|    USA| BRL|  null|
|    Burlington|   MA|    USA| BBF|  null|
|Cape Girardeau|   MO|    USA| CGI|  null|
|      Carlsbad|   NM|    USA| CNM|  null|
|      Cheyenne|   WY|    USA| CYS|  null|
+--------------+-----+-------+----+------+
only showing top 20 rows

In [36]:
airportCodes. \
    join(
        airtraffic,
        on= airportCodes['IATA']==airtraffic['Origin'],
        how = 'left'
    ). \
    filter(airtraffic['Origin'].isNull()). \
    count()

173

In [37]:
## 209 Solution - Get Origins without master data using Spark DF APIs

In [1]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [2]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [3]:
airtrafficPath = "/public/airlines_all/airlines-part/flightmonth=200801"

In [4]:
airtraffic = spark.read.parquet(airtrafficPath)

In [5]:
airtraffic. \
    select(
        "Year", "Month", "DayOfMonth",
        "Origin","Dest", "CRSDepTime"
    ). \
    show(5)

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
+----+-----+----------+------+----+----------+
only showing top 5 rows

In [6]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [7]:
def getValidAirportCodes(airportCodesPath):
    airportCodes = spark. \
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema", True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big') AND Country='USA'")
    return airportCodes

In [8]:
airportCodes = getValidAirportCodes(airportCodesPath)

In [9]:
airportCodes.count()

443

In [10]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how = 'left'
    ).\
    filter("IATA IS NULL"). \
    select(airtraffic['Origin'],airportCodes['*']). \
    show(5)

+------+----+-----+-------+----+
|Origin|City|State|Country|IATA|
+------+----+-----+-------+----+
|   HDN|null| null|   null|null|
|   HDN|null| null|   null|null|
|   SJU|null| null|   null|null|
|   SJU|null| null|   null|null|
|   ITO|null| null|   null|null|
+------+----+-----+-------+----+
only showing top 5 rows

In [11]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how = 'left'
    ).\
    filter("IATA IS NULL"). \
    select(airtraffic['Origin'],airportCodes['*']). \
    distinct(). \
    show(5)

+------+----+-----+-------+----+
|Origin|City|State|Country|IATA|
+------+----+-----+-------+----+
|   HDN|null| null|   null|null|
|   SJU|null| null|   null|null|
|   ITO|null| null|   null|null|
|   STT|null| null|   null|null|
|   CEC|null| null|   null|null|
+------+----+-----+-------+----+
only showing top 5 rows

In [12]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how = 'left'
    ).\
    filter(airportCodes['IATA'].isNull()). \
    select(airtraffic['Origin'],airportCodes['*']). \
    distinct(). \
    show(5)

+------+----+-----+-------+----+
|Origin|City|State|Country|IATA|
+------+----+-----+-------+----+
|   HDN|null| null|   null|null|
|   SJU|null| null|   null|null|
|   ITO|null| null|   null|null|
|   STT|null| null|   null|null|
|   CEC|null| null|   null|null|
+------+----+-----+-------+----+
only showing top 5 rows

In [13]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how = 'left'
    ).\
    filter(airportCodes['IATA'].isNull()). \
    select(airtraffic['Origin'],airportCodes['*']). \
    distinct(). \
    count()

16

In [14]:
airtraffic. \
    select("Origin"). \
    distinct(). \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how = 'left'
    ). \
    filter("IATA IS NULL"). \
    show()

+------+----+-----+-------+----+
|Origin|City|State|Country|IATA|
+------+----+-----+-------+----+
|   HDN|null| null|   null|null|
|   SJU|null| null|   null|null|
|   ITO|null| null|   null|null|
|   STT|null| null|   null|null|
|   CEC|null| null|   null|null|
|   CDC|null| null|   null|null|
|   PSG|null| null|   null|null|
|   ADK|null| null|   null|null|
|   KOA|null| null|   null|null|
|   OTZ|null| null|   null|null|
|   BQN|null| null|   null|null|
|   STX|null| null|   null|null|
|   PMD|null| null|   null|null|
|   PSE|null| null|   null|null|
|   SCC|null| null|   null|null|
|   SLE|null| null|   null|null|
+------+----+-----+-------+----+

In [16]:
airtraffic. \
    select("Origin"). \
    distinct(). \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how = 'left'
    ). \
    filter("IATA IS NULL"). \
    count()

16

In [17]:
## 210 Soulution Problem 6 -Get count of Flights without master data using Spark DF APIs

In [18]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [19]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [20]:
airtrafficPath = "/public/airlines_all/airlines-part/flightmonth=200801"

In [21]:
airtraffic = spark.read.parquet(airtrafficPath)

In [22]:
airtraffic. \
    select(
        "Year", "Month", "DayOfMonth",
        "Origin","Dest", "CRSDepTime"
    ). \
    show(5)

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
+----+-----+----------+------+----+----------+
only showing top 5 rows

In [23]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [27]:
def getValidAirportCodes(airportCodesPath):
    airportCodes = spark. \
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema", True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big')")
    return airportCodes

In [28]:
airportCodes = getValidAirportCodes(airportCodesPath)

In [29]:
airportCodes.count()

524

In [32]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='left'
    ). \
    filter("IATA IS NULL"). \
    select(airtraffic['Year'], airtraffic['Month'],airtraffic['DayOfMonth'],
           airtraffic['Origin'], airtraffic['Dest'], airtraffic['CRSDepTime'],
           airportCodes['*']
    ). \
    show()

+----+-----+----------+------+----+----------+----+-----+-------+----+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|City|State|Country|IATA|
+----+-----+----------+------+----+----------+----+-----+-------+----+
|2008|    1|         8|   HDN| DEN|      1403|null| null|   null|null|
|2008|    1|        26|   HDN| DEN|      1533|null| null|   null|null|
|2008|    1|        26|   SJU| CLT|      1520|null| null|   null|null|
|2008|    1|        19|   SJU| ATL|       945|null| null|   null|null|
|2008|    1|        31|   ITO| HNL|      1010|null| null|   null|null|
|2008|    1|        26|   ITO| HNL|      1725|null| null|   null|null|
|2008|    1|        24|   KOA| LAX|      2355|null| null|   null|null|
|2008|    1|        22|   SJU| EWR|      1845|null| null|   null|null|
|2008|    1|        21|   SJU| MIA|      1815|null| null|   null|null|
|2008|    1|        26|   STT| MIA|       845|null| null|   null|null|
|2008|    1|        11|   SJU| MIA|      1235|null| null|   null|null|
|2008|    1|        31|   SJU| DFW|      1720|null| null|   null|null|
|2008|    1|         5|   SJU| MIA|      2110|null| null|   null|null|
|2008|    1|        30|   ITO| HNL|       915|null| null|   null|null|
|2008|    1|         1|   KOA| HNL|      1245|null| null|   null|null|
|2008|    1|         1|   KOA| HNL|      1030|null| null|   null|null|
|2008|    1|        28|   ITO| HNL|      1153|null| null|   null|null|
|2008|    1|         3|   OTZ| ANC|      1502|null| null|   null|null|
|2008|    1|         8|   OTZ| OME|       829|null| null|   null|null|
|2008|    1|        20|   SJU| JFK|      1245|null| null|   null|null|
+----+-----+----------+------+----+----------+----+-----+-------+----+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import count, lit, col

In [34]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='left'
    ). \
    filter("IATA IS NULL"). \
    groupBy(airtraffic['Origin']). \
    agg(count(lit(1)).alias('FlightCount')). \
    show()

+------+-----------+
|Origin|FlightCount|
+------+-----------+
|   HDN|        429|
|   SJU|       1997|
|   ITO|        786|
|   STT|        311|
|   CEC|         88|
|   CDC|         48|
|   PSG|         62|
|   ADK|          9|
|   KOA|       1316|
|   OTZ|         92|
|   BQN|        124|
|   STX|         40|
|   PMD|         57|
|   PSE|        110|
|   SCC|         62|
|   SLE|         54|
+------+-----------+

In [36]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='left'
    ). \
    filter("IATA IS NULL"). \
    groupBy(airtraffic['Origin']). \
    agg(count(lit(1)).alias('FlightCount')). \
    orderBy(col('FlightCount').desc()). \
    show()

+------+-----------+
|Origin|FlightCount|
+------+-----------+
|   SJU|       1997|
|   KOA|       1316|
|   ITO|        786|
|   HDN|        429|
|   STT|        311|
|   BQN|        124|
|   PSE|        110|
|   OTZ|         92|
|   CEC|         88|
|   SCC|         62|
|   PSG|         62|
|   PMD|         57|
|   SLE|         54|
|   CDC|         48|
|   STX|         40|
|   ADK|          9|
+------+-----------+

In [37]:
## 211 Solution Problem 5 Get count of Flights per Airport without master data

In [38]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [39]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [40]:
airtrafficPath = "/public/airlines_all/airlines-part/flightmonth=200801"

In [41]:
airtraffic = spark.read.parquet(airtrafficPath)

In [42]:
airtraffic. \
    select(
        "Year", "Month", "DayOfMonth",
        "Origin","Dest", "CRSDepTime"
    ). \
    show(5)

+----+-----+----------+------+----+----------+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|
+----+-----+----------+------+----+----------+
|2008|    1|        16|   BGR| CVG|      1735|
|2008|    1|        17|   SYR| CVG|      1701|
|2008|    1|        17|   SAV| BOS|      1225|
|2008|    1|        17|   CVG| GRR|      1530|
|2008|    1|        17|   STL| CVG|      1205|
+----+-----+----------+------+----+----------+
only showing top 5 rows

In [43]:
airportCodesPath = "/public/airlines_all/airport-codes"

In [44]:
def getValidAirportCodes(airportCodesPath):
    airportCodes = spark. \
        read. \
        option("sep","\t"). \
        option("header",True). \
        option("inferSchema", True). \
        csv(airportCodesPath). \
        filter("!(State='Hawaii' AND IATA='Big')")
    return airportCodes

In [45]:
airportCodes = getValidAirportCodes(airportCodesPath)

In [46]:
airportCodes.count()

524

In [47]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='left'
    ). \
    filter("IATA IS NULL"). \
    select(airtraffic['Year'], airtraffic['Month'],airtraffic['DayOfMonth'],
           airtraffic['Origin'], airtraffic['Dest'], airtraffic['CRSDepTime'],
           airportCodes['*']
    ). \
    show()

+----+-----+----------+------+----+----------+----+-----+-------+----+
|Year|Month|DayOfMonth|Origin|Dest|CRSDepTime|City|State|Country|IATA|
+----+-----+----------+------+----+----------+----+-----+-------+----+
|2008|    1|         8|   HDN| DEN|      1403|null| null|   null|null|
|2008|    1|        26|   HDN| DEN|      1533|null| null|   null|null|
|2008|    1|        26|   SJU| CLT|      1520|null| null|   null|null|
|2008|    1|        19|   SJU| ATL|       945|null| null|   null|null|
|2008|    1|        31|   ITO| HNL|      1010|null| null|   null|null|
|2008|    1|        26|   ITO| HNL|      1725|null| null|   null|null|
|2008|    1|        24|   KOA| LAX|      2355|null| null|   null|null|
|2008|    1|        22|   SJU| EWR|      1845|null| null|   null|null|
|2008|    1|        21|   SJU| MIA|      1815|null| null|   null|null|
|2008|    1|        26|   STT| MIA|       845|null| null|   null|null|
|2008|    1|        11|   SJU| MIA|      1235|null| null|   null|null|
|2008|    1|        31|   SJU| DFW|      1720|null| null|   null|null|
|2008|    1|         5|   SJU| MIA|      2110|null| null|   null|null|
|2008|    1|        30|   ITO| HNL|       915|null| null|   null|null|
|2008|    1|         1|   KOA| HNL|      1245|null| null|   null|null|
|2008|    1|         1|   KOA| HNL|      1030|null| null|   null|null|
|2008|    1|        28|   ITO| HNL|      1153|null| null|   null|null|
|2008|    1|         3|   OTZ| ANC|      1502|null| null|   null|null|
|2008|    1|         8|   OTZ| OME|       829|null| null|   null|null|
|2008|    1|        20|   SJU| JFK|      1245|null| null|   null|null|
+----+-----+----------+------+----+----------+----+-----+-------+----+
only showing top 20 rows

In [50]:
airtraffic. \
    join(
        airportCodes,
        on= airtraffic['Origin']==airportCodes['IATA'],
        how='left'
    ). \
    filter("IATA IS NULL"). \
    count()

5585

In [51]:
## 212 Solution Problem 7 - Get Daily Revenue using Spark DF APIs

In [52]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [53]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [54]:
orders = spark.read.json("/public/retail_db_json/orders")

In [55]:
order_items = spark.read.json("/public/retail_db_json/order_items")

In [56]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [57]:
order_items.printSchema()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [58]:
orders.count()

68883

In [59]:
orders_filtered = orders.filter("order_status IN ('COMPLETE','CLOSED')")

In [62]:
orders_filtered.count()

30455

In [63]:
order_items.count()

172198

In [72]:
from pyspark.sql.functions import sum, round

In [76]:
orders_filtered. \
    join(
        order_items,
        on= orders_filtered.order_id==order_items.order_item_order_id,
        how ='inner'
    ). \
    groupBy(orders_filtered["order_date"]). \
    agg(
        round(sum(order_items["order_item_subtotal"]),2).alias("revenue")
    ). \
    orderBy(orders_filtered["order_date"]). \
    show()

+--------------------+--------+
|          order_date| revenue|
+--------------------+--------+
|2013-07-25 00:00:...|31547.23|
|2013-07-26 00:00:...|54713.23|
|2013-07-27 00:00:...|48411.48|
|2013-07-28 00:00:...|35672.03|
|2013-07-29 00:00:...| 54579.7|
|2013-07-30 00:00:...|49329.29|
|2013-07-31 00:00:...|59212.49|
|2013-08-01 00:00:...|49160.08|
|2013-08-02 00:00:...|50688.58|
|2013-08-03 00:00:...|43416.74|
|2013-08-04 00:00:...|35093.01|
|2013-08-05 00:00:...|34025.27|
|2013-08-06 00:00:...|57843.89|
|2013-08-07 00:00:...|45525.59|
|2013-08-08 00:00:...|33549.47|
|2013-08-09 00:00:...|29225.16|
|2013-08-10 00:00:...|46435.04|
|2013-08-11 00:00:...| 31155.5|
|2013-08-12 00:00:...|59014.74|
|2013-08-13 00:00:...|17956.88|
+--------------------+--------+
only showing top 20 rows

In [77]:
orders_filtered. \
    join(
        order_items,
        on= orders_filtered.order_id==order_items.order_item_order_id,
        how ='inner'
    ). \
    groupBy(orders_filtered["order_date"]). \
    agg(
        round(sum(order_items["order_item_subtotal"]),2).alias("revenue")
    ). \
    orderBy(orders_filtered["order_date"]). \
    count()

364

In [78]:
## 213 - Solution Problem 8 - Get Daily Revenue Rolled up till Yearly using Spari DF APIs

In [1]:
from pyspark.sql import SparkSession
import getpass

username = getpass.getuser()

spark = SparkSession. \
        builder. \
        config('spark.ui.port','0'). \
        config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
        config('spark.shuffle.io.connectionTimeout','6000'). \
        config('spark.driver.memory','6g'). \
        config('spark.executor.memory','6g'). \
        config('spark.dynamicAllocation.minExecutors', '4'). \
        enableHiveSupport(). \
        appName(f'{username} | Section 17 Joining Data Sets'). \
        master('yarn'). \
        getOrCreate()

In [2]:
spark.conf.set("spark.sql.shuffle.partitions", "2")

In [3]:
orders = spark.read.json("/public/retail_db_json/orders")

In [4]:
order_items = spark.read.json("/public/retail_db_json/order_items")

In [5]:
orders.printSchema()

root
 |-- order_customer_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [6]:
order_items.printSchema()

root
 |-- order_item_id: long (nullable = true)
 |-- order_item_order_id: long (nullable = true)
 |-- order_item_product_id: long (nullable = true)
 |-- order_item_product_price: double (nullable = true)
 |-- order_item_quantity: long (nullable = true)
 |-- order_item_subtotal: double (nullable = true)

In [8]:
orders.count()

68883

In [9]:
orders_filtered = orders.filter("order_status IN ('COMPLETE','CLOSED')")

In [10]:
orders_filtered.count()

30455

In [11]:
order_items.count()

172198

In [12]:
from pyspark.sql.functions import sum, round

In [13]:
orders_join = orders_filtered. \
    join(order_items, orders_filtered['order_id']==order_items['order_item_order_id'],'inner')

In [14]:
from pyspark.sql.functions import col, countDistinct, sum, round, date_format, year

In [15]:
revenue = orders_join. \
    rollup(
        year('order_date').alias('order_year'),
        date_format(col('order_date'),'yyyyMM').alias('order_month'),
        'order_date'
    ). \
    agg(
        round(sum(order_items['order_item_subtotal']),2).alias('revenue')
    ). \
    show()

+----------+-----------+--------------------+--------+
|order_year|order_month|          order_date| revenue|
+----------+-----------+--------------------+--------+
|      2013|     201307|2013-07-27 00:00:...|48411.48|
|      2013|     201307|2013-07-28 00:00:...|35672.03|
|      2013|     201307|2013-07-29 00:00:...| 54579.7|
|      2013|     201307|2013-07-30 00:00:...|49329.29|
|      2013|     201308|2013-08-01 00:00:...|49160.08|
|      2013|     201308|2013-08-02 00:00:...|50688.58|
|      2013|     201308|2013-08-04 00:00:...|35093.01|
|      2013|     201308|2013-08-06 00:00:...|57843.89|
|      2013|     201308|2013-08-09 00:00:...|29225.16|
|      2013|     201308|2013-08-11 00:00:...| 31155.5|
|      2013|     201308|2013-08-15 00:00:...|49566.68|
|      2013|     201308|2013-08-17 00:00:...|63226.83|
|      2013|     201308|2013-08-22 00:00:...|38190.02|
|      2013|     201308|2013-08-24 00:00:...|52650.15|
|      2013|     201308|2013-08-26 00:00:...| 38548.4|
|      2013|     201308|2013-08-27 00:00:...|41010.78|
|      2013|     201308|2013-08-31 00:00:...|33955.11|
|      2013|     201309|2013-09-01 00:00:...|42237.77|
|      2013|     201309|2013-09-02 00:00:...|44463.56|
|      2013|     201309|2013-09-05 00:00:...|59942.43|
+----------+-----------+--------------------+--------+
only showing top 20 rows

In [18]:
revenue = orders_join. \
    rollup(
        year('order_date').alias('order_year'),
        date_format(col('order_date'),'yyyyMM').alias('order_month'),
        'order_date'
    ). \
    agg(
        countDistinct('order_id').alias('order_count'),
        round(sum(order_items['order_item_subtotal']),2).alias('revenue')
    ). \
    orderBy(col('order_year').desc(), col('order_month').desc(),col('order_date').desc()). \
    show()

+----------+-----------+--------------------+-----------+--------+
|order_year|order_month|          order_date|order_count| revenue|
+----------+-----------+--------------------+-----------+--------+
|      2014|     201407|2014-07-24 00:00:...|         81|50885.19|
|      2014|     201407|2014-07-23 00:00:...|         58|38795.23|
|      2014|     201407|2014-07-22 00:00:...|         60|36717.24|
|      2014|     201407|2014-07-21 00:00:...|         83| 51427.7|
|      2014|     201407|2014-07-20 00:00:...|        105|60047.45|
|      2014|     201407|2014-07-19 00:00:...|         71|38420.99|
|      2014|     201407|2014-07-18 00:00:...|         72| 43856.6|
|      2014|     201407|2014-07-17 00:00:...|         64|36384.77|
|      2014|     201407|2014-07-16 00:00:...|         67|43011.92|
|      2014|     201407|2014-07-15 00:00:...|        102|53480.23|
|      2014|     201407|2014-07-14 00:00:...|         58|29937.52|
|      2014|     201407|2014-07-13 00:00:...|         74|40410.99|
|      2014|     201407|2014-07-12 00:00:...|         71|38449.77|
|      2014|     201407|2014-07-11 00:00:...|         50|29596.32|
|      2014|     201407|2014-07-10 00:00:...|         74|47826.02|
|      2014|     201407|2014-07-09 00:00:...|         63|36929.91|
|      2014|     201407|2014-07-08 00:00:...|         83|50434.81|
|      2014|     201407|2014-07-07 00:00:...|         61|35441.49|
|      2014|     201407|2014-07-06 00:00:...|         29|16451.76|
|      2014|     201407|2014-07-05 00:00:...|         84|47214.68|
+----------+-----------+--------------------+-----------+--------+
only showing top 20 rows

In [19]:
revenue = orders_join. \
    rollup(
        year('order_date').alias('order_year'),
        date_format(col('order_date'),'yyyyMM').alias('order_month'),
        'order_date'
    ). \
    agg(
        countDistinct('order_id').alias('order_count'),
        round(sum(order_items['order_item_subtotal']),2).alias('revenue')
    ). \
    orderBy('order_year','order_month','order_date'). \
    show()

+----------+-----------+--------------------+-----------+-------------+
|order_year|order_month|          order_date|order_count|      revenue|
+----------+-----------+--------------------+-----------+-------------+
|      null|       null|                null|      25266|1.501298248E7|
|      2013|       null|                null|      11266|    6686892.0|
|      2013|     201307|                null|        564|    333465.45|
|      2013|     201307|2013-07-25 00:00:...|         51|     31547.23|
|      2013|     201307|2013-07-26 00:00:...|         99|     54713.23|
|      2013|     201307|2013-07-27 00:00:...|         80|     48411.48|
|      2013|     201307|2013-07-28 00:00:...|         67|     35672.03|
|      2013|     201307|2013-07-29 00:00:...|         90|      54579.7|
|      2013|     201307|2013-07-30 00:00:...|         90|     49329.29|
|      2013|     201307|2013-07-31 00:00:...|         87|     59212.49|
|      2013|     201308|                null|       2073|    1221828.9|
|      2013|     201308|2013-08-01 00:00:...|         82|     49160.08|
|      2013|     201308|2013-08-02 00:00:...|         90|     50688.58|
|      2013|     201308|2013-08-03 00:00:...|         72|     43416.74|
|      2013|     201308|2013-08-04 00:00:...|         63|     35093.01|
|      2013|     201308|2013-08-05 00:00:...|         62|     34025.27|
|      2013|     201308|2013-08-06 00:00:...|         99|     57843.89|
|      2013|     201308|2013-08-07 00:00:...|         77|     45525.59|
|      2013|     201308|2013-08-08 00:00:...|         57|     33549.47|
|      2013|     201308|2013-08-09 00:00:...|         43|     29225.16|
+----------+-----------+--------------------+-----------+-------------+
only showing top 20 rows

In [21]:
revenue = orders_join. \
    rollup(
        year('order_date').alias('order_year'),
        date_format(col('order_date'),'yyyyMM').alias('order_month'),
        'order_date'
    ). \
    agg(
        countDistinct('order_id').alias('order_count'),
        round(sum(order_items['order_item_subtotal']),2).alias('revenue')
    ). \
    orderBy(
        col('order_year').asc_nulls_last(),
        col('order_month').asc_nulls_last(),
        col('order_date').asc_nulls_last()). \
    show()

+----------+-----------+--------------------+-----------+---------+
|order_year|order_month|          order_date|order_count|  revenue|
+----------+-----------+--------------------+-----------+---------+
|      2013|     201307|2013-07-25 00:00:...|         51| 31547.23|
|      2013|     201307|2013-07-26 00:00:...|         99| 54713.23|
|      2013|     201307|2013-07-27 00:00:...|         80| 48411.48|
|      2013|     201307|2013-07-28 00:00:...|         67| 35672.03|
|      2013|     201307|2013-07-29 00:00:...|         90|  54579.7|
|      2013|     201307|2013-07-30 00:00:...|         90| 49329.29|
|      2013|     201307|2013-07-31 00:00:...|         87| 59212.49|
|      2013|     201307|                null|        564|333465.45|
|      2013|     201308|2013-08-01 00:00:...|         82| 49160.08|
|      2013|     201308|2013-08-02 00:00:...|         90| 50688.58|
|      2013|     201308|2013-08-03 00:00:...|         72| 43416.74|
|      2013|     201308|2013-08-04 00:00:...|         63| 35093.01|
|      2013|     201308|2013-08-05 00:00:...|         62| 34025.27|
|      2013|     201308|2013-08-06 00:00:...|         99| 57843.89|
|      2013|     201308|2013-08-07 00:00:...|         77| 45525.59|
|      2013|     201308|2013-08-08 00:00:...|         57| 33549.47|
|      2013|     201308|2013-08-09 00:00:...|         43| 29225.16|
|      2013|     201308|2013-08-10 00:00:...|         83| 46435.04|
|      2013|     201308|2013-08-11 00:00:...|         58|  31155.5|
|      2013|     201308|2013-08-12 00:00:...|         93| 59014.74|
+----------+-----------+--------------------+-----------+---------+
only showing top 20 rows