### 107 Projecting Data using spark sql select clause

In [1]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@1df0190a

org.apache.spark.sql.SparkSession@1df0190a

In [3]:
%%sql

USE itversity_retail

Waiting for a Spark session to start...

++
||
++
++

In [5]:
%%sql 
select * from orders limit 10

|       8|2013-07-25 00:00:...|             2911|     PRO...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
+--------+--------------------+-----------------+---------------+

In [6]:
%%sql

DESCRIBE orders

+-----------------+---------+--------------------+
|         col_name|data_type|             comment|
+-----------------+---------+--------------------+
|         order_id|      int|     Unique order id|
|       order_date|   string|Date on which ord...|
|order_customer_id|      int|Customer id who p...|
|     order_status|   string|Current status of...|
+-----------------+---------+--------------------+

In [8]:
%%sql

select order_customer_id, order_date, order_status from orders

|             5648|2013-07-25 00:...

+-----------------+--------------------+---------------+
|order_customer_id|          order_date|   order_status|
+-----------------+--------------------+---------------+
|            11599|2013-07-25 00:00:...|         CLOSED|
|              256|2013-07-25 00:00:...|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       COMPLETE|
|             8827|2013-07-25 00:00:...|         CLOSED|
|            11318|2013-07-25 00:00:...|       COMPLETE|
|             7130|2013-07-25 00:00:...|       COMPLETE|
|             4530|2013-07-25 00:00:...|       COMPLETE|
|             2911|2013-07-25 00:00:...|     PROCESSING|
|             5657|2013-07-25 00:00:...|PENDING_PAYMENT|
|             5648|2013-07-25 00:00:...|PENDING_PAYMENT|
+-----------------+--------------------+---------------+
only showing top 10 rows

In [22]:
%%sql

SELECT order_customer_id, DATE_FORMAT(order_date, 'YYYY-MM'), order_status from orders limit 10

|            ...

+-----------------+---------------------------------------------------+---------------+
|order_customer_id|date_format(CAST(order_date AS TIMESTAMP), YYYY-MM)|   order_status|
+-----------------+---------------------------------------------------+---------------+
|            11599|                                            2013-07|         CLOSED|
|              256|                                            2013-07|PENDING_PAYMENT|
|            12111|                                            2013-07|       COMPLETE|
|             8827|                                            2013-07|         CLOSED|
|            11318|                                            2013-07|       COMPLETE|
|             7130|                                            2013-07|       COMPLETE|
|             4530|                                            2013-07|       COMPLETE|
|             2911|                                            2013-07|     PROCESSING|
|             5657|                                            2013-07|PENDING_PAYMENT|
|             5648|                                            2013-07|PENDING_PAYMENT|
+-----------------+---------------------------------------------------+---------------+

In [21]:
%%sql

SELECT order_customer_id, DATE_FORMAT(order_date, 'YYYY-MM') AS order_month, order_status from orders limit 10

+-----------------+-----------+---------------+
|order_customer_id|order_month|   order_status|
+-----------------+-----------+---------------+
|             8702|    2014-02|       COMPLETE|
|             3066|    2014-02|PENDING_PAYMENT|
|             7314|    2014-02|SUSPECTED_FRAUD|
|             1271|    2014-02|       COMPLETE|
|            11083|    2014-02|       COMPLETE|
|             3159|    2014-02|         CLOSED|
|             4551|    2014-02|         CLOSED|
|             8135|    2014-02|        PENDING|
|             7497|    2014-02|PENDING_PAYMENT|
|             1868|    2014-02|        ON_HOLD|
+-----------------+-----------+---------------+

In [15]:
%%sql

select count(1) from orders

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [20]:
%%sql

select distinct(order_status) from orders limit 10

+---------------+
|   order_status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [19]:
%%sql

select distinct * from orders limit 10

|     974|2013-07-30 00:00:...|             6413|        ...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|     189|2013-07-26 00:00:...|            10177|        PENDING|
|     379|2013-07-27 00:00:...|             8735|PENDING_PAYMENT|
|     440|2013-07-27 00:00:...|             7290|       COMPLETE|
|     471|2013-07-27 00:00:...|            10861|        PENDING|
|     599|2013-07-28 00:00:...|             8005|       COMPLETE|
|     665|2013-07-28 00:00:...|             5648|        ON_HOLD|
|     736|2013-07-29 00:00:...|             8536|       COMPLETE|
|     974|2013-07-30 00:00:...|             6413|         CLOSED|
|    1052|2013-07-30 00:00:...|              464|     PROCESSING|
|    1175|2013-07-31 00:00:...|             1330|       COMPLETE|
+--------+--------------------+-----------------+---------------+

In [23]:
%%sql

SET hive.support.quoted.identifiers

+--------------------+-----------+
|                 key|      value|
+--------------------+-----------+
|hive.support.quot...|<undefined>|
+--------------------+-----------+

In [24]:
%%sql

SET hive.support.quoted.identifiers=none

+--------------------+-----+
|                 key|value|
+--------------------+-----+
|hive.support.quot...| none|
+--------------------+-----+

In [26]:
%%sql

SELECT `(order_id)?+.+` FROM orders limit 10

Magic sql failed to execute with error:
cannot resolve '`(order_id)?+.+`' given input columns: [itversity_retail.orders.order_id, itversity_retail.orders.order_date, itversity_retail.orders.order_customer_id, itversity_retail.orders.order_status]; line 1 pos 7;
'GlobalLimit 10
+- 'LocalLimit 10
   +- 'Project ['`(order_id)?+.+`]
      +- SubqueryAlias `itversity_retail`.`orders`
         +- HiveTableRelation `itversity_retail`.`orders`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, [order_id#255, order_date#256, order_customer_id#257, order_status#258]