## 108 Filtering Data using Spark SQL where clause

In [2]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [3]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@7e6e4764

org.apache.spark.sql.SparkSession@7e6e4764

In [4]:
%%sql

use itversity_retail

Waiting for a Spark session to start...

++
||
++
++

In [5]:
%%sql

show tables

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itversity_retail|   orders|      false|
+----------------+---------+-----------+

In [6]:
%%sql

SELECT * FROM orders WHERE order_status ='COMPLETE' LIMIT 10

|      28|2013-07-25 00:...

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|       3|2013-07-25 00:00:...|            12111|    COMPLETE|
|       5|2013-07-25 00:00:...|            11318|    COMPLETE|
|       6|2013-07-25 00:00:...|             7130|    COMPLETE|
|       7|2013-07-25 00:00:...|             4530|    COMPLETE|
|      15|2013-07-25 00:00:...|             2568|    COMPLETE|
|      17|2013-07-25 00:00:...|             2667|    COMPLETE|
|      22|2013-07-25 00:00:...|              333|    COMPLETE|
|      26|2013-07-25 00:00:...|             7562|    COMPLETE|
|      28|2013-07-25 00:00:...|              656|    COMPLETE|
|      32|2013-07-25 00:00:...|             3960|    COMPLETE|
+--------+--------------------+-----------------+------------+

In [9]:
%%sql

SELECT COUNT(1) FROM orders where order_status='COMPLETE'

+--------+
|count(1)|
+--------+
|   22899|
+--------+

In [10]:
%%sql

SELECT order_status, count(1) FROM orders group by order_status

+---------------+--------+
|   order_status|count(1)|
+---------------+--------+
|PENDING_PAYMENT|   15030|
|       COMPLETE|   22899|
|        ON_HOLD|    3798|
| PAYMENT_REVIEW|     729|
|     PROCESSING|    8275|
|         CLOSED|    7556|
|SUSPECTED_FRAUD|    1558|
|        PENDING|    7610|
|       CANCELED|    1428|
+---------------+--------+

In [11]:
%%sql

SELECT * FROM orders where order_status IN ('COMPLETE','CLOSED') limit 10

|   34589|2014-02-23 00:...

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|   34565|2014-02-23 00:00:...|             8702|    COMPLETE|
|   34568|2014-02-23 00:00:...|             1271|    COMPLETE|
|   34569|2014-02-23 00:00:...|            11083|    COMPLETE|
|   34570|2014-02-23 00:00:...|             3159|      CLOSED|
|   34571|2014-02-23 00:00:...|             4551|      CLOSED|
|   34576|2014-02-23 00:00:...|             6117|    COMPLETE|
|   34580|2014-02-23 00:00:...|             6540|    COMPLETE|
|   34581|2014-02-23 00:00:...|             4882|    COMPLETE|
|   34589|2014-02-23 00:00:...|               42|    COMPLETE|
|   34590|2014-02-23 00:00:...|            10367|    COMPLETE|
+--------+--------------------+-----------------+------------+

In [12]:
%%sql

select * from orders where order_status = 'COMPLETE' or order_status = 'CLOSED' LIMIT 10

|   34589|2014-02-23 00:...

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|   34565|2014-02-23 00:00:...|             8702|    COMPLETE|
|   34568|2014-02-23 00:00:...|             1271|    COMPLETE|
|   34569|2014-02-23 00:00:...|            11083|    COMPLETE|
|   34570|2014-02-23 00:00:...|             3159|      CLOSED|
|   34571|2014-02-23 00:00:...|             4551|      CLOSED|
|   34576|2014-02-23 00:00:...|             6117|    COMPLETE|
|   34580|2014-02-23 00:00:...|             6540|    COMPLETE|
|   34581|2014-02-23 00:00:...|             4882|    COMPLETE|
|   34589|2014-02-23 00:00:...|               42|    COMPLETE|
|   34590|2014-02-23 00:00:...|            10367|    COMPLETE|
+--------+--------------------+-----------------+------------+

In [14]:
%%SQL

select count(1) from orders where order_status IN ('COMPLETE', 'CLOSED')

+--------+
|count(1)|
+--------+
|   30455|
+--------+

In [15]:
%%SQL

select count(1) from orders where order_status = 'COMPLETE' or order_status = 'CLOSED'

+--------+
|count(1)|
+--------+
|   30455|
+--------+

In [16]:
%%sql

SELECT * FROM orders
WHERE order_status in ('COMPLETE','CLOSED')
    AND order_date like '2014-01%'
LIMIT 10

|   25900|2014-01-01 00:...

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|   25882|2014-01-01 00:00:...|             4598|    COMPLETE|
|   25888|2014-01-01 00:00:...|             6735|    COMPLETE|
|   25889|2014-01-01 00:00:...|            10045|    COMPLETE|
|   25891|2014-01-01 00:00:...|             3037|      CLOSED|
|   25895|2014-01-01 00:00:...|             1044|    COMPLETE|
|   25897|2014-01-01 00:00:...|             6405|    COMPLETE|
|   25898|2014-01-01 00:00:...|             3950|    COMPLETE|
|   25899|2014-01-01 00:00:...|             8068|      CLOSED|
|   25900|2014-01-01 00:00:...|             2382|      CLOSED|
|   25901|2014-01-01 00:00:...|             3099|    COMPLETE|
+--------+--------------------+-----------------+------------+

In [18]:
%%sql

SELECT COUNT(1) FROM orders
WHERE order_status in ('COMPLETE','CLOSED')
    AND order_date like '2014-01%'
LIMIT 10

+--------+
|count(1)|
+--------+
|    2544|
+--------+

In [19]:
%%sql

SELECT COUNT(1) FROM orders
WHERE (order_status = 'COMPLETE' or order_status = 'CLOSED')
    AND order_date like '2014-01%'
LIMIT 10

+--------+
|count(1)|
+--------+
|    2544|
+--------+

In [21]:
%%sql

SELECT * FROM orders
WHERE order_status in ('COMPLETE','CLOSED')
    AND DATE_FORMAT(order_date,'YYYY-MM') like '2014-01'
LIMIT 10

|   61920|2014-01-02 00:...

+--------+--------------------+-----------------+------------+
|order_id|          order_date|order_customer_id|order_status|
+--------+--------------------+-----------------+------------+
|   61898|2014-01-01 00:00:...|            10152|    COMPLETE|
|   61904|2014-01-01 00:00:...|              470|    COMPLETE|
|   61907|2014-01-01 00:00:...|            11258|    COMPLETE|
|   61908|2014-01-01 00:00:...|             5031|    COMPLETE|
|   61910|2014-01-01 00:00:...|            11201|    COMPLETE|
|   61913|2014-01-01 00:00:...|            12218|    COMPLETE|
|   61914|2014-01-01 00:00:...|             2956|    COMPLETE|
|   61919|2014-01-02 00:00:...|            12383|    COMPLETE|
|   61920|2014-01-02 00:00:...|             2278|    COMPLETE|
|   61921|2014-01-02 00:00:...|             3530|    COMPLETE|
+--------+--------------------+-----------------+------------+

In [22]:
%%sql

SELECT count(1) FROM orders
WHERE order_status in ('COMPLETE','CLOSED')
    AND DATE_FORMAT(order_date,'YYYY-MM') like '2014-01'
LIMIT 10

+--------+
|count(1)|
+--------+
|    2544|
+--------+

In [24]:
%%sql 

DROP DATABASE if exists itversity_sms cascade

++
||
++
++

In [25]:
%%sql

CREATE DATABASE IF NOT EXISTS itversity_sms

++
||
++
++

In [26]:
%%sql

DROP TABLE IF EXISTS students

++
||
++
++

In [27]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_number STRING,
    student_address STRING
) STORED AS avro

++
||
++
++

In [28]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [29]:
%%sql

use itversity_sms

++
||
++
++

In [30]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_number STRING,
    student_address STRING
) STORED AS avro

++
||
++
++

In [31]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [32]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', '1234567890', NULL)

++
||
++
++

In [33]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', '2345678901', 'A Street, One City, Some State, 12345'),
    (4, 'Bubble', 'Guppy', '6789012345', 'Bubbly Street, Guppy, La la land, 45678')

++
||
++
++

In [34]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+--------------------+--...

+----------+------------------+-----------------+--------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_number|     student_address|
+----------+------------------+-----------------+--------------------+--------------------+
|         2|            Donald|             Duck|          1234567890|                null|
|         3|            Mickey|            Mouse|          2345678901|A Street, One Cit...|
|         1|             Scott|            Tiger|                null|                null|
|         4|            Bubble|            Guppy|          6789012345|Bubbly Street, Gu...|
+----------+------------------+-----------------+--------------------+--------------------+

In [35]:
%%SQL

SELECT * FROM students where student_phone_number = NULL

+----------+------------------+-----------------+--------------------+---------------+
|student_id|student_first_name|student_last_name|student_phone_number|student_address|
+----------+------------------+-----------------+--------------------+---------------+
+----------+------------------+-----------------+--------------------+---------------+

In [36]:
%%SQL

SELECT * FROM students where student_phone_number != NULL

+----------+------------------+-----------------+--------------------+---------------+
|student_id|student_first_name|student_last_name|student_phone_number|student_address|
+----------+------------------+-----------------+--------------------+---------------+
+----------+------------------+-----------------+--------------------+---------------+

In [37]:
%%SQL

SELECT * FROM students where student_phone_number is NULL

+----------+------------------+-----------------+--------------------+---------------+
|student_id|student_first_name|student_last_name|student_phone_number|student_address|
+----------+------------------+-----------------+--------------------+---------------+
|         1|             Scott|            Tiger|                null|           null|
+----------+------------------+-----------------+--------------------+---------------+

In [38]:
%%SQL

SELECT * FROM students where student_phone_number is not NULL

+----------+------------------+-----------------+--------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_number|     student_address|
+----------+------------------+-----------------+--------------------+--------------------+
|         2|            Donald|             Duck|          1234567890|                null|
|         3|            Mickey|            Mouse|          2345678901|A Street, One Cit...|
|         4|            Bubble|            Guppy|          6789012345|Bubbly Street, Gu...|
+----------+------------------+-----------------+--------------------+--------------------+