## 109 Joining tables using Spark SQL - Inner

In [1]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@16f24ebd

org.apache.spark.sql.SparkSession@16f24ebd

In [3]:
%%sql

use itversity_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

show tables

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itversity_retail|   orders|      false|
|itversity_retail| students|      false|
+----------------+---------+-----------+

In [5]:
%%sql 

CREATE TABLE order_items (
    order_item_id INT,
    order_item_order_id INT,
    order_item_product_id INT,
    order_item_quantity INT,
    order_item_subtotal FLOAT,
    order_item_product_price FLOAT
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

++
||
++
++

In [6]:
import sys.process._
s"hdfs dfs -ls /user/itversity/warehouse/itversity_retail.db/order_items"!

warning: there was one feature warning; re-run with -feature for details

0

In [7]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/order_items' INTO TABLE order_items

++
||
++
++

In [8]:
%%sql
select count(1) from order_items

+--------+
|count(1)|
+--------+
|  172198|
+--------+

In [9]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
LIMIT 10

|   34571|2014-02-23 00:00:...|      ...

+--------+--------------------+---------------+-------------------+
|order_id|          order_date|   order_status|order_item_subtotal|
+--------+--------------------+---------------+-------------------+
|   34566|2014-02-23 00:00:...|PENDING_PAYMENT|             179.97|
|   34566|2014-02-23 00:00:...|PENDING_PAYMENT|              250.0|
|   34570|2014-02-23 00:00:...|         CLOSED|              49.98|
|   34570|2014-02-23 00:00:...|         CLOSED|             119.97|
|   34570|2014-02-23 00:00:...|         CLOSED|              200.0|
|   34570|2014-02-23 00:00:...|         CLOSED|             239.96|
|   34571|2014-02-23 00:00:...|         CLOSED|             399.98|
|   34571|2014-02-23 00:00:...|         CLOSED|             299.98|
|   34571|2014-02-23 00:00:...|         CLOSED|              59.99|
|   34571|2014-02-23 00:00:...|         CLOSED|             299.98|
+--------+--------------------+---------------+-------------------+

In [10]:
%%SQL

select count(1) from orders

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [11]:
%%SQL

select count(1) from order_items

+--------+
|count(1)|
+--------+
|  172198|
+--------+

In [12]:
%%SQL

SELECT COUNT(1) 
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

+--------+
|count(1)|
+--------+
|  172198|
+--------+

In [13]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status in('COMPLETE','CLOSED')
LIMIT 10

| ...

+--------+--------------------+------------+-------------------+
|order_id|          order_date|order_status|order_item_subtotal|
+--------+--------------------+------------+-------------------+
|   34570|2014-02-23 00:00:...|      CLOSED|              49.98|
|   34570|2014-02-23 00:00:...|      CLOSED|             119.97|
|   34570|2014-02-23 00:00:...|      CLOSED|              200.0|
|   34570|2014-02-23 00:00:...|      CLOSED|             239.96|
|   34571|2014-02-23 00:00:...|      CLOSED|             399.98|
|   34571|2014-02-23 00:00:...|      CLOSED|             299.98|
|   34571|2014-02-23 00:00:...|      CLOSED|              59.99|
|   34571|2014-02-23 00:00:...|      CLOSED|             299.98|
|   34576|2014-02-23 00:00:...|    COMPLETE|             299.98|
|   34576|2014-02-23 00:00:...|    COMPLETE|             124.95|
+--------+--------------------+------------+-------------------+

In [15]:
%%sql

SELECT COUNT(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status in('COMPLETE','CLOSED')

+--------+
|count(1)|
+--------+
|   75408|
+--------+

In [16]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_subtotal
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status in('COMPLETE','CLOSED') 
    AND date_format(o.order_date,'YYYY-MM') = '2014-01'
LIMIT 10

| ...

+--------+--------------------+------------+-------------------+
|order_id|          order_date|order_status|order_item_subtotal|
+--------+--------------------+------------+-------------------+
|   61898|2014-01-01 00:00:...|    COMPLETE|               50.0|
|   61898|2014-01-01 00:00:...|    COMPLETE|             199.92|
|   61904|2014-01-01 00:00:...|    COMPLETE|              500.0|
|   61907|2014-01-01 00:00:...|    COMPLETE|             299.98|
|   61907|2014-01-01 00:00:...|    COMPLETE|             399.96|
|   61907|2014-01-01 00:00:...|    COMPLETE|             199.99|
|   61907|2014-01-01 00:00:...|    COMPLETE|             399.98|
|   61908|2014-01-01 00:00:...|    COMPLETE|             129.99|
|   61910|2014-01-01 00:00:...|    COMPLETE|             119.98|
|   61910|2014-01-01 00:00:...|    COMPLETE|             399.98|
+--------+--------------------+------------+-------------------+

In [17]:
%%sql

SELECT count(1)
FROM orders o JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_status in('COMPLETE','CLOSED') 
    AND date_format(o.order_date,'YYYY-MM') = '2014-01'
LIMIT 10

+--------+
|count(1)|
+--------+
|    6198|
+--------+