## 110 Joining tables using Spark SQL-Outer

In [2]:
val username = System.getProperty("user.name")

username = itversity

itversity

In [3]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML2").
    master("yarn").
    getOrCreate

username = itversity
spark = org.apache.spark.sql.SparkSession@2cf176a2

org.apache.spark.sql.SparkSession@2cf176a2

In [9]:
%%sql

use itversity_retail

++
||
++
++

In [10]:
%%sql

show tables

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itversity_retail|order_items|      false|
|itversity_retail|     orders|      false|
|itversity_retail|   students|      false|
+----------------+-----------+-----------+

In [18]:
%%sql

SELECT COUNT(1) FROM orders

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [12]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_order_id, oi.order_item_subtotal
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

|       4|201...

+--------+--------------------+---------------+-------------------+-------------------+
|order_id|          order_date|   order_status|order_item_order_id|order_item_subtotal|
+--------+--------------------+---------------+-------------------+-------------------+
|       1|2013-07-25 00:00:...|         CLOSED|                  1|             299.98|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|                  2|             129.99|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|                  2|              250.0|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|                  2|             199.99|
|       3|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|             199.92|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|              150.0|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|             299.95|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|              49.98|
|       5|2013-07-25 00:00:...|       COMPLETE|                  5|             129.99|
+--------+--------------------+---------------+-------------------+-------------------+
only showing top 10 rows

In [13]:
%%sql

SELECT count(1)
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

+--------+
|count(1)|
+--------+
|  183650|
+--------+

In [14]:
%%sql

select 183650-172198

+-----------------+
|(183650 - 172198)|
+-----------------+
|            11452|
+-----------------+

In [15]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_order_id, oi.order_item_subtotal
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL

|      40|201...

+--------+--------------------+---------------+-------------------+-------------------+
|order_id|          order_date|   order_status|order_item_order_id|order_item_subtotal|
+--------+--------------------+---------------+-------------------+-------------------+
|       3|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|       6|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      22|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      26|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      32|2013-07-25 00:00:...|       COMPLETE|               null|               null|
|      40|2013-07-25 00:00:...|PENDING_PAYMENT|               null|               null|
|      47|2013-07-25 00:00:...|PENDING_PAYMENT|               null|               null|
|      53|2013-07-25 00:00:...|     PROCESSING|               null|               null|
|      54|2013-07-25 00:00:...|PENDING_PAYMENT|               null|               null|
|      55|2013-07-25 00:00:...|        PENDING|               null|               null|
+--------+--------------------+---------------+-------------------+-------------------+
only showing top 10 rows

In [17]:
%%sql

SELECT count(1)
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL

+--------+
|count(1)|
+--------+
|   11452|
+--------+

In [19]:
%%sql

SELECT COUNT(1)
FROM orders o LEFT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE oi.order_item_order_id IS NULL 
    AND o.order_status IN ('COMPLETE', 'CLOSED')

+--------+
|count(1)|
+--------+
|    5189|
+--------+

In [21]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_order_id, oi.order_item_subtotal
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

|       4|201...

+--------+--------------------+---------------+-------------------+-------------------+
|order_id|          order_date|   order_status|order_item_order_id|order_item_subtotal|
+--------+--------------------+---------------+-------------------+-------------------+
|       1|2013-07-25 00:00:...|         CLOSED|                  1|             299.98|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|                  2|             199.99|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|                  2|              250.0|
|       2|2013-07-25 00:00:...|PENDING_PAYMENT|                  2|             129.99|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|              49.98|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|             299.95|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|              150.0|
|       4|2013-07-25 00:00:...|         CLOSED|                  4|             199.92|
|       5|2013-07-25 00:00:...|       COMPLETE|                  5|             299.98|
|       5|2013-07-25 00:00:...|       COMPLETE|                  5|             299.95|
+--------+--------------------+---------------+-------------------+-------------------+
only showing top 10 rows

In [22]:
%%sql

SELECT COUNT(1)
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id

+--------+
|count(1)|
+--------+
|  172198|
+--------+

In [23]:
%%sql

SELECT o.order_id, o.order_date, o.order_status, oi.order_item_order_id, oi.order_item_subtotal
FROM orders o RIGHT OUTER JOIN order_items oi
    ON o.order_id = oi.order_item_order_id
WHERE o.order_id IS NULL

+--------+----------+------------+-------------------+-------------------+
|order_id|order_date|order_status|order_item_order_id|order_item_subtotal|
+--------+----------+------------+-------------------+-------------------+
+--------+----------+------------+-------------------+-------------------+