### 100 Retrieve Metadata of Tables

In [1]:
val spark = SparkSession.
    builder.
    config("spark.ui.port","0").
    config("spark.sql.warehouse.dir","/user/itversity/warehouse").
    enableHiveSupport.
    master("yarn").
    appName("Getting Started - Spark SQL").
    getOrCreate

spark = org.apache.spark.sql.SparkSession@39658464

org.apache.spark.sql.SparkSession@39658464

In [2]:
%%sql

USE itversity_retail

Waiting for a Spark session to start...

++
||
++
++

In [3]:
%%sql 

select CURRENT_DATABASE()

+------------------+
|current_database()|
+------------------+
|  itversity_retail|
+------------------+

In [4]:
%%sql

SHOW TABLES

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itversity_retail|   orders|      false|
+----------------+---------+-----------+

In [5]:
%%sql

DESCRIBE orders

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|         order_id|      int|   null|
|       order_date|   string|   null|
|order_customer_id|      int|   null|
|     order_status|   string|   null|
+-----------------+---------+-------+

In [6]:
%%sql

DESCRIBE EXTENDED orders

+--------------------+-------------------...

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|   order_customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|    itversity_retail|       |
|               Table|              orders|       |
|               Owner|           itversity|       |
|        Created Time|Tue Jan 30 08:17:...|       |
+--------------------+--------------------+-------+
only showing top 10 rows

In [7]:
%%sql 

DESCRIBE FORMATTED orders

+--------------------+-------------------...

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|   order_customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|    itversity_retail|       |
|               Table|              orders|       |
|               Owner|           itversity|       |
|        Created Time|Tue Jan 30 08:17:...|       |
+--------------------+--------------------+-------+
only showing top 10 rows